[2017-08-31 13:28] sakhmedbayev commented on #103
@mitjade, I am not sure if I set SSR correctly in my solution. Do you need that pages that require auth to be SSR? Why?

[2017-08-31 13:32] mitjade commented on #103
@sakhmedbayev What if you already logged in before, so you have a valid token stored and then go to an `auth` page directly (reload page)?

[2017-08-31 13:32] sakhmedbayev commented on #103
Sorry, cannot tell anything about integration with `graphql-auth`, currently building web app.

[2017-08-31 13:33] mitjade commented on #103
I have `graphql-auth` working at one of my projects. So that I know how to setup.

[2017-08-31 13:41] sakhmedbayev commented on #103
@mitjade, You are right my setup cannot handle direct landing to pages that require auth :-(

[2017-08-31 13:42] mitjade commented on #103
@sakhmedbayev How did you setup subscriptions?

[2017-08-31 13:46] sakhmedbayev commented on #103
@mitjade, I was probably to quick to tell that I made auth working with this kit. Currently, my  web app does not require any subscriptions.

[2017-08-31 13:50] mitjade commented on #103
@sakhmedbayev No problem. Any help on this matter is helpful. Will try to figure out that part on my own.

@vlasenko Could you maybe help out with the `SSR` and `auth` problem. I do not quite understand how this should work. Should direct access to a `auth` page be only allowed on the client and we should somehow prevent `SSR` for those pages?

[2017-08-31 13:53] vlasenko commented on #103
@mitjade I'm not sure how `SSR` is special about the `auth`. `SSR` is just rendering of pages on server side. What it has to do with the auth at all?

[2017-08-31 13:55] vlasenko commented on #103
@mitjade `SSR` is completely orthogonal to `auth`. Those pages that require auth when rendered on client, should require the auth when rendered on the server too, those pages that don't require auth when rendered on the client, shouldn't require auth when rendered on the server too.

[2017-08-31 13:55] sakhmedbayev commented on #103
Have you seen how youtube tutorials showing authorization revolvers (permissions) setup?
[code]
Then you can use these revolvers to protect individual queries
[code]

[2017-08-31 14:00] mitjade commented on #103
@vlasenko Sorry for some stupid questions, but never really dealt with this before.
Will first try it out and when if I have a specific problem will ask again.

@sakhmedbayev I saw that, but like `graphql-auth` a bit better, so will see in the end what would work out best.

[2017-08-31 14:24] mitjade commented on #103
@sakhmedbayev Did you manage to implement `logout`?

[2017-08-31 14:32] swhamilton commented on #103
@mitjade If you want to use SSR for authenticated routes and you're using JWTs, you have to use cookies that store the JWT. There is no other way for that JWT to cross the wire on the initial load (you can't pass an Authentication header with a JWT stored in localStorage until after the initial page load).

Are you using JWTs or some other auth method like sessions?

[2017-08-31 14:34] mitjade commented on #103
@sakhmedbayev I'm using JWT. Do you have an example how to store this in cookies?

[2017-08-31 14:56] sakhmedbayev commented on #103
@mitjade here is a component that I am using to logout

[code]

[2017-08-31 15:02] sakhmedbayev commented on #103
No, I am using only headers

[2017-08-31 17:32] vlasenko commented on #103
@sakhmedbayev @mitjade Cookies stored in a HTTP header. So if you know how to use headers, you know how to use cookies too

[2017-09-01 04:48] mitjade commented on #103
@swhamilton Thx for the info.

[2017-09-01 07:31] mairh commented on #103
@mitjade Awesome work in the last 2-3 weeks.

[2017-09-01 07:36] mitjade commented on #103
@mairh Thx. My current plan is to make this auth example working with the minimum required code. So no `cookies`, mobile support, email conformations etc...

Just the bare minimum to have a working example and then we can add this peaces one by one.

Still working on: authentication and authorisation on client and server side and logout.

If any one is willing to help out with `cookies` to get SSR

[2017-09-01 07:44] vlasenko commented on #103
@mitjade I am still busy with build infra, but when client-side auth will be ready, I can take a look on how to make SSR support for auth.

[2017-09-01 07:46] mitjade commented on #103
@vlasenko Thx. That would be great. Will post here when I have something ready.

[2017-09-02 06:24] sakhmedbayev commented on #103
@mitjade have you seen this error while implementing auth?

[code]

[2017-09-02 07:15] mitjade commented on #103
@sakhmedbayev I don't think so. Will keep an eye, if ti pops up.

[2017-09-02 12:51] vlasenko commented on #103
@sakhmedbayev This error, is due to you are trying to load client bundle, without loading vendor_dll bundle first. Check, whether you load dll bundle in index.html produced by your server code

[2017-09-02 13:30] mitjade commented on #103
@vlasenko Managed to add cookies, so I am now able to store token in cookie for the initial SSR load.

Still need to cleanup many things and figure out a good client side auth strategy.

[2017-09-02 13:34] mitjade commented on #103
@swhamilton Would you be willing to help out with mobile integration, since you mentioned you have it working? I can setup user components and routes.

[2017-09-02 17:06] sakhmedbayev commented on #103
@mitjade have your tested your auth solution in production/build envirement???
Mine does not work so far, cannot either register or login, however the same codebase woks correctly in dev environment :-(

[2017-09-02 17:10] mitjade commented on #103
It's still work in progress. Did not yet test it in prod.

[2017-09-02 17:13] vlasenko commented on #103
@sakhmedbayev Do you get any errors in production in web browser JavaScript console or on backend?

[2017-09-02 17:20] sakhmedbayev commented on #103
I can see error message in both places @vlasenko. I will give you more detailed answer tomorrow, since it is midnight here :)

[2017-09-03 13:20] sakhmedbayev commented on #103
Sorry @vlasenko false alarm. I am trying to use Sequilze ORM in my project. This guy caused errors in production.

[2017-09-04 00:18] justinr1234 opened #326 "Expected JavaScript, but got content type 'application/javascript; chartset=UTF-8'. Check that your internet connection is working."
Seeing this error on load:

https://github.com/expo/expo/blob/master/ios/Exponent/Api/EXJavaScriptResource.m#L142

I've tried everything short of reinstalling my OS. Changed node, changed watchman, global expo, used XDE, etc, etc, etc...

Anyone have ideas?

[2017-09-04 04:45] vlasenko commented on #326
@justinr1234 Reinstalling OS shouldn't be needed. All more or less recent version of Node should be supported, no need to reinstall it. Wachman is not used by starter kit. Global Expo is not used by starter kit. XDE is not used by starter kit. Starter kit is self-contained. No need to reinstall something.

The problem seems due to implementation of mocking of React Native packager inside starter k

[2017-09-04 08:34] vlasenko commented on #326
@justinr1234 Could you be more specific and provide reproduction steps and exact stack trace or screenshot of the error?

[2017-09-04 12:58] justinr1234 commented on #326
@vlasenko I think it's a red herring because the error messaging is complaining about the proper type. In code it usually checks MimeType, which doesn't include the optional `charset` portion like `Content-Type` does.

My reproduction steps are just pulling the project fresh and following the regular install steps for iOS only.

<img width="384" alt="screen shot 2017-09-04 at 7 52 51 am" src="http

[2017-09-04 13:02] justinr1234 commented on #326
0x6180001b8720> (parent: <ABI15_0_0RCTBridge: 0x6000000d4040>, executor: ABI15_0_0RCTJSCExecutor)
Sep  4 08:01:37 Justins-MBP Exponent[88409]: 2017-09-04 08:01:37.644 [warn][tid:NSOperationQueue 0x60800022ef80 :: NSOperation 0x6080002520c0 (QOS: DEFAULT)][ABI15_0_0RCTBatchedBridge.m:110] Failed to load source: Error Domain=RCTJavaScriptLoaderErrorDomain Code=3 "Could not connect to development ser

[2017-09-04 13:05] vlasenko commented on #326
@justinr1234 Could you check if removing `; charset=UTF-8` part from this file will solve the issue? https://github.com/sysgears/apollo-universal-starter-kit/blob/master/tools/middleware/liveReloadMiddleware.js

[2017-09-04 13:06] justinr1234 commented on #326
@vlasenko Thanks for the suggestion, much appreciated:

Tried removing that from everywhere in the entire project including there, as well as disabling the live reload middleware altogether and that didn't fix it. I really think it's a red herring in the way they are defaulting to their error message when they are using this error message function as a catch all.

[2017-09-04 13:12] vlasenko commented on #326
@justinr1234 Thanks, your last log was helpful. This error message is misleading. The problem is due to our development server now is using LAN IP, but when we started iOS Simulator we have used `localhost` which is incorrect. Please try the latest code with commit above included

[2017-09-04 13:22] justinr1234 commented on #326
@vlasenko Appears to have same issue:

Sep  4 08:15:21 Justins-MBP CoreSimulatorBridge[89259]: Requesting installation of file:///Users/justin/.expo/ios-simulator-app-cache/Exponent-1.19.0.app/ with options: {
	    CFBundleIdentifier = "host.exp.Exponent";
Sep  4 08:15:21 Justins-MBP installd[89248]: 0x7000092ac000 -[MIClientConnection _doInstallationForURL:withOptions:completion:]: Install of "/U

[2017-09-04 13:25] mairh commented on #326
I just tested this issue and I can confirm I have started to see it too.

[2017-09-04 13:27] vlasenko commented on #326
@justinr1234, @mairh Okay, I'm looking more thoroughly

[2017-09-04 13:28] justinr1234 commented on #326
Also another tidbit, I can access the regular web server in mobile safari and I also turned on the logging to verify I'm receiving the requests (aka my internet connection is working):

[code]

[2017-09-04 13:48] vlasenko commented on #326
@mairh @justinr1234 If you downgrade to `exp@43.0.0` and `xdl@43.0.0`, do you still see these errors?

[2017-09-04 13:50] vlasenko commented on #326
@mairh @justinr1234 I'm suspecting that this problem was introduced with commit:
https://github.com/sysgears/apollo-universal-starter-kit/commit/852b990f22f11c9374419a6d1dedf13262ce5472
because right before this commit there was Ujjwal's Pull Request with upgrading deps, which you tested.

[2017-09-04 13:54] justinr1234 commented on #326
@vlasenko Still fails

[2017-09-04 14:04] vlasenko commented on #326
@justinr1234 Please attach `.expo/log`

[2017-09-04 14:08] justinr1234 commented on #326
@vlasenko Doesn't exist

[2017-09-04 14:09] vlasenko commented on #326
@justinr1234 It must exist. The file `log` within `.expo` directory in the root of your home folder

[2017-09-04 14:14] mairh commented on #326
Here you go

[code]

[2017-09-04 14:33] justinr1234 commented on #326
{"name":"expo","hostname":"Justins-MBP.attlocal.net","pid":85132,"type":"project","project":"/Users/justin/bv/ironworks/.expo/ios","level":20,"tag":"expo","msg":"Local server listening at http://:::19000","time":"2017-09-04T00:01:30.781Z","v":0}
{"name":"expo","hostname":"Justins-MBP.attlocal.net","pid":85132,"type":"global","level":30,"msg":"Opening exp://localhost:19000 in iOS simulator","time":

[2017-09-04 14:34] justinr1234 commented on #326
@vlasenko Maybe "downloading latest version of Expo"? Since they are on 16.0 now?

[2017-09-04 14:40] vlasenko commented on #326
@justinr1234 You can try. I have tested latest version of the kit on iOS and I don't have this issue

[2017-09-04 14:43] justinr1234 commented on #326
What I'm saying is maybe the simulator and phone is launching the Expo App targeted for version 20.0 and we're running on 15.0 and so our bundle is incompatible with the latest app. I'm not quite sure how to update the starter to 20.0 Expo as I"m assuming we'd need to update all the libraries for the newer React Native.

[2017-09-04 14:46] vlasenko commented on #326
@justinr1234 No, we cannot do it now. Since it means we need to upgrade to React 16, and not all deps we are using are ready for React 16.

[2017-09-04 14:51] vlasenko commented on #326
@justinr1234 Okay, I have selected 'Reset content and Settings' in the Simulator and restarted the kit. It downloaded the latest Expo Client version to the Simulator and now I see this error. So, yes, the problem is with incompatibility of the latest Expo version with the kit. I will try to fix the compatibility. If I will unable to do, there is still a way to fix this issue, we can downgrade to `

[2017-09-04 15:13] justinr1234 commented on #326
I tried that including the reset and it still didn't work. I believe it is downloading the latest Expo App regardless of the version of xdl and exp. I believe it could be a problem in the Expo build tool if we can prove it always downloads the latest regardless of xdl and exp version.

[2017-09-04 15:16] vlasenko commented on #326
@justinr1234 Okay, doesn't really matter. I think this is really a bug in Expo Client, which doesn't support `charset` in `Content-Type`, but I'm not really sure that guys at Exponent are going to fix it anytime soon. So I'm going to implement workaround for this bug. The `Content-Type: application/javascript; chartset=UTF-8` is set inside `webpack-dev-middleware`, so I'm going to quickly implemen

[2017-09-04 15:25] justinr1234 commented on #326
@vlasenko Thanks for working on that, I hope that works. Fwiw I think this commit introduced the problem https://github.com/expo/expo/commit/e6a3f99f148bdf74ed6a0cc6a6c51994c606f525#diff-0e96160b8c1ac0b664b08ada4f2b2f12R89

[2017-09-04 15:36] vlasenko commented on #326
@justinr1234 Yes looks like this commit is the source of the problem. Btw, I have commited workaround for `Content-Type` and going to test it now

[2017-09-04 15:42] vlasenko commented on #326
@justinr1234 I think it is the header. At least it works for me now after the https://github.com/sysgears/apollo-universal-starter-kit/commit/4a6e7e0cc093116c07f65f447d46c671b36de45f

[2017-09-04 15:44] vlasenko commented on #326
@mairh @justinr1234 Could you confirm is this error gone for you after the last commit?

[2017-09-04 15:49] justinr1234 commented on #326
@vlasenko still there

[2017-09-04 15:53] vlasenko commented on #326
@justinr1234 But the error cannot be the same. It should be different at least

[2017-09-04 15:54] justinr1234 commented on #326
I wonder if we can debug what status code is coming back? https://github.com/CanonicalLtd/react-native/blob/master/React/Base/RCTJavaScriptLoader.m#L121

[2017-09-04 15:55] vlasenko commented on #326
@justinr1234 It works for me. I don't understand how it started working for me now, but not for you

[2017-09-04 15:58] vlasenko commented on #326
@justinr1234 Are you sure you have pulled in the latest source code of the kit? Do you see the code for patching Content-Type from the last commit in your source code?

[2017-09-04 16:07] justinr1234 commented on #326
Ok I wiped my ~/.expo and completely deleted and recloned the starter plus wiped my simulator and it appears to be fixed. Seeing a different error but it looks like the one in this issue is fixed.

![img_5993](https://user-images.githubusercontent.com/7017500/30033499-423007d2-9161-11e7-8ae9-99d964802ce7.PNG)

[2017-09-04 16:23] vlasenko commented on #326
@justinr1234 This is because you forgot to do `yarn seed`

[2017-09-04 16:41] justinr1234 commented on #326
All good now, it was because I accidentally had another console tab going. Was doing all this from my phone remotely ... Thanks again for your help!

[2017-09-04 16:53] justinr1234 commented on #326
@vlasenko I think it's a bug in the react native code, not in Expo actually: https://github.com/facebook/react-native/blob/master/React/Base/RCTJavaScriptLoader.mm#L276

[2017-09-04 17:13] justinr1234 commented on #326
https://github.com/facebook/react-native/issues/15791

[2017-09-04 17:17] vlasenko commented on #326
@justinr1234 Yep, looks like you are right. Thank you for exploring this further!

[2017-09-04 17:17] #326 closed

[2017-09-05 09:53] mitjade commented on #103
@sakhmedbayev Do you have any problems when logging out? When I logout and then go to `posts`, I get stuck in 'loading' state. If I comment out `client.resetStore()` then it works ok, but then local cache is not cleared. Looks like https://github.com/apollographql/react-apollo/issues/667, but this should be fixed?

[2017-09-05 10:11] mitjade commented on #103
Besides the above mentioned,  basic `auth` implementation should be working.

Short recap.
Two users are are created on `seed`. One with admin rights (admin@example.com:admin) and one without (user@example.com:user). When you login you go to profile page, where user data is displayed. If you are `admin` you can also navigate to `users`, where you see the list of all the users.

You can also `logou

[2017-09-05 10:31] mairh commented on #103
I will test this out later in the evening.

[2017-09-05 11:34] mairh commented on #326
I can also confirm it is working with the latest master. However, I am facing the same problem with my fork after taking the latest changes from your last 2 commits.

[2017-09-05 11:38] vlasenko commented on #326
@mairh Only this commit is relevant for solving the problem:
https://github.com/sysgears/apollo-universal-starter-kit/commit/4a6e7e0cc093116c07f65f447d46c671b36de45f
The first commit referenced in this issue is non-relevant.

If you still have the issue in your fork, check whether you applied the commit above correctly. Also check that getting http://localhost:3020/index.mobile.bundle has Content-

[2017-09-05 11:52] mairh commented on #326
Yeah. What I mean is that I replaced the whole webpack.run file.

You mean `index.mobile.bundle` shouldn't contain `; charset=UTF-8`  at all?

This is the output of the bundle https://gist.github.com/mairh/b7dc75073c05b042c1a4507c08f249c7

[2017-09-05 11:56] sakhmedbayev commented on #103
@mitjade  Yes, the same `loading` thing here. Also, have you noticed an error pops up on logout? It reads `error = Error: Store reset while query was in flight.`

[2017-09-05 12:00] mairh commented on #103
Usually, we reset the store after logout mutation is performed. Are we making sure not to clear the store before logout mutation is completed successfully?

[2017-09-05 12:16] sakhmedbayev commented on #103
@mairh can you please check  @mitjade's PR? I think I set `AuthNav` incorrectly

[2017-09-05 12:32] mitjade commented on #103
@mairh All I do on logout is reset `cookies` and `localStorage`, then I reset the store. Is mutation on logout necessary. I do not store anything in db for logged in user.

[2017-09-05 12:33] mairh commented on #103
What exactly is the problem?

[2017-09-05 12:36] mitjade commented on #103
@mairh  When I reset the store, local cache is not cleared.

[2017-09-05 12:36] vlasenko commented on #326
No, I mean response header `Content-Type` should not include  `; charset=UTF-8` string

[code]

[2017-09-05 12:55] mairh commented on #103
@mitjade I didn't go through the code and assumed that you were probably doing a logout mutation.

[2017-09-05 13:03] mitjade commented on #103
@mairh Will try to add a logout mutation and on response do a cache clear and see if the behaviour is the same.

[2017-09-05 13:12] mairh commented on #103
Yeah, perhaps it will make more sense to have a mutation since logout is also an action. Usually, every action is more or less associated with queries or mutation in graphql. Even if we face the same error we can have the logout mutation instead of helper functions to clear out the cookies.

[2017-09-05 13:22] mairh commented on #326
Ah on the network tab. I wonder why in my fork if I try to access `http://localhost:3020/index.mobile.bundle` it is serving the file as a downloadable format `Content-Type:application/octet-stream`, where as in the kit, I can open the file in the browser and the `Content-Type` is `Content-Type: application/javascript`

<img width="517" alt="screen shot 2017-09-05 at 16 19 16" src="https://user-ima

[2017-09-05 13:26] justinr1234 commented on #326
@mairh That's what happened when I removed the mime setting here: https://github.com/sysgears/apollo-universal-starter-kit/blob/master/tools/webpack.run.js#L391

On my fork, I just returned back to the last working version and then did a `git merge` of the latest from this repo instead of rebasing. Not sure how you're merging changes, but rebasing caused big problems for me. Additionally I deleted

[2017-09-05 13:37] justinr1234 commented on #176
@vlasenko Re: UI packages. I was contemplating the ability to swap between UI packages via the `app.json`. Something like:

[code]

Where then you could use something that happens via webpack to dynamically include/exclude a specific version of something like `button.js` dependent on the UI you're wanting to use. That way we're not bundling multiple UI packages into the resulting output, but can s

[2017-09-05 13:55] mairh commented on #326
ah....recreating `yarn.lock` did the trick for me. Thanks!

[2017-09-05 13:56] vlasenko commented on #176
@justinr1234 Technical support of this stuff will be implemented in:
https://github.com/sysgears/spin.js
In `spin.js` you specify your stack for each platform and all the build rules are generated on the fly for the stack you have chosen. Check out this Pull Request:
https://github.com/sysgears/apollo-universal-starter-kit/pull/314

[2017-09-05 19:08] mitjade commented on #103
Looks like this is a bug in apollo-client, https://github.com/apollographql/apollo-client/issues/1186

[2017-09-06 02:02] ChingxWando opened #327 "Utilising resolve.modules for cleaner require paths"
Hey just wondering if we should start adding (__dirname)/src/client, /src/server to resolve.alias and refer to things like this:
[code]
Instead of:
[code]

The obvious issue is that this breaks ssr. (other concerns?)
The problem is that system's (node's) resolve function do not recognise nor support webpack's module.alias feature. This is true even with the fact that our server code is transpiled

[2017-09-06 02:13] ChingxWando commented on #327
[trayio/babel-plugin-webpack-alias](https://github.com/trayio/babel-plugin-webpack-alias) is outdated and seemed hard to integrate anyways as it expects a standalone webpack config file.

The other babel plugin might be worth looking into. Just does relatively transparent patches to the require path like the webpack's alias thing does. Interesting from my experiments though, it eliminates the need

[2017-09-06 03:20] sakhmedbayev opened #328 "Support non-Latin characters in URLs in SSR"
Perhaps I am missing something, but when I am using non-Latin characters (Cyrillic for instance) in urls SSR does not work. Rendering on client works as expected.

[2017-09-06 05:35] vlasenko commented on #327
@ChingxWando I'm not sure why babel plugin is needed here. As you have said we are using Webpack to transpile both backend and each frontend code. We should not have any issues with using Webpack alias then. And I'm not sure why SSR will not work? I think everything should work.

[2017-09-06 05:36] vlasenko commented on #328
@sakhmedbayev Could you prepare example in a fork of this project, so that we can easily reproduce this behavior?

[2017-09-06 05:39] sakhmedbayev commented on #328
Yes, I will

[2017-09-06 07:07] mitjade commented on #103
Reverted to `apollo-client` v1.8.1, till this is fixed.

[2017-09-06 08:02] mitjade commented on #103
Reverting back to v1.8.1 causes tests to fail. Hopefully the issue will get resolved soon, also provided them reproduction steps.

[2017-09-06 10:31] mitjade commented on #306
I checked out Join Monster and I like it. Would you be willing to redo `Post` example to use it instead of `Dataloader`?

I will reopen this issue and add this to the roadmap.

[2017-09-06 13:44] mitjade opened #329 "Upgrade react to v16."
I know this might be a bit early, since a lot of packages will take a while to all move to v16 and `react-native-web` is still not yet compatible, but should be soon (https://github.com/necolas/react-native-web/issues/364).

New version of RN uses now `react` v16.beta5 and we theoretically could make this kit already work with the latest RN and expo packages.

I would rather remove `react-native-w

[2017-09-06 13:48] vlasenko commented on #329
@mitjade Lerna branch of this kit is perfectly working with React v16 for a month already. So I don't see any other problems, except that some of our dependencies are not ready yet. But if we can move away from these dependencies I'm all for it. I would like we give this a try as soon as possible

[2017-09-06 13:49] vlasenko commented on #329
@mitjade Build infra should be perfectly compatible with React v16. When I have tested it works even better with React v16, then with v15

[2017-09-06 14:26] mairh commented on #329
so what's the plan? Improve `lerna` branch to use v16 or implement v16 in the current master and get rid of `react-native-web`?

[2017-09-06 14:32] vlasenko commented on #329
@mairh get rid of `react-native-web` and implement v16 in current master

[2017-09-06 14:35] sakhmedbayev commented on #328
I have done some work in the fork to reproduce the issue. Here is the [link](https://github.com/sakhmedbayev/apollo-universal-starter-kit/tree/with_single_post_container)

In the fork, I introduced a new container `src/client/modules/post/containers/post_single.jsx`. It can be accessed via new route `<Route exact path="/post/test/:slug" component={PostSingle}/>,`

All routes of master branch of th

[2017-09-06 15:04] mitjade commented on #329
I am for this as well.

[2017-09-06 15:37] vlasenko commented on #328
I have cloned your repo and URL http://localhost:3000/post/test/title-in-english-with-spacing doesn't open for me, the error is:
[code]

[2017-09-06 15:50] sakhmedbayev commented on #328
Did you checkout "with_single_post_container" branch or master? All changes are in "with_single_post_container" branch, sorry for confusion.

[2017-09-06 15:51] vlasenko commented on #328
Yes, I have checkout `with_single_post_container`

[2017-09-06 15:57] sakhmedbayev commented on #328
I just completely removed my forked kit from my local machine and then cloned it from github to make sure that http://localhost:3000/post/test/title-in-english-with-spacing is working. Do not know what is going on... :-(

[2017-09-06 16:03] vlasenko commented on #328
@sakhmedbayev If you look into stack trace that I have posted and check the offending source code line, you will find out, that you forgot to pass `location` prop to PostSingle functional component here:
https://github.com/sakhmedbayev/apollo-universal-starter-kit/blob/with_single_post_container/src/client/modules/post/components/post_single_show.web.jsx#L9-L13

So your code shouldn't work obvious

[2017-09-06 16:13] sakhmedbayev commented on #328
Thank you @vlasenko! I found problem in `post_single_show.jsx`. As I changed it in the following way, it began to work.

[code]
"another problem" was here `<h2>{post ? post.title : null}</h2>`

Thanks again!

[2017-09-06 16:29] vlasenko commented on #328
@sakhmedbayev What about nonLatin chars in URLs, are they working ?

[2017-09-06 16:49] sakhmedbayev commented on #328
Yes, they do. Apparently there are some decoding of non-Latin chars happening when react router receives URL string from the browser. `location` check fixes it. I wish you could see my example,
.

[2017-09-06 16:50] vlasenko commented on #328
@sakhmedbayev So we can close this issue or no, I'm not really following?

[2017-09-06 16:51] sakhmedbayev commented on #328
Yes, we can. Thanks

[2017-09-06 16:53] #328 closed

[2017-09-06 17:52] vlasenko commented on #176
@zunder @mairh @mitjade Build infrastructure has been moved out into separate npm module: [spin.js](https://github.com/sysgears/spin.js). This opens way for radical customization of this starter kit, including TypeScript support and multiple UI support. One will only need to write `spin.js` plugin like this: https://github.com/sysgears/spin.js/blob/master/src/plugins/StyledComponentsPlugin.ts
and

[2017-09-06 23:21] justinr1234 commented on #176
@vlasenko Looks powerful, but to be honest it's kind of confusing at first glance. Do you plan to add some more hand holding to the examples?

[2017-09-07 03:30] vlasenko commented on #176
@justinr1234 Yes, sure. I plan to add more thorough documentation

[2017-09-07 04:02] mitjade commented on #176
@vlasenko Fantastic! Will try and play with this today.

[2017-09-07 05:24] MichelDiz opened #330 "Got some errors on Windows 10"
Greetins,

I'm using a Windows with clean installation. Everything installed (node, npm, yarn, pcks) correctly (I suppose) but I get this error. I just did this to get an updated code and experiences with Join Monster. But it looks like I'll have to go back there to Mac Tomorrow xD

Apparently have something to do with Babel - going to sleep / drops me

[code]

After that I made a new attempt (Win

[2017-09-07 05:26] mitjade commented on #330
@MichelDiz I might have broken something when accidentally merging one of the branches. Please wait for @vlasenko to check it out.

[2017-09-07 05:27] mitjade commented on #330
I have the same problem and am investigating.

[2017-09-07 05:34] mitjade commented on #330
@MichelDiz Moving back to Commit: 8167a374f67452a4456a2f7e282c23d3ea60d344`Specify safe version of Yarn for Heroku` Seems to work. Might be a problem with `spinjs`.

[2017-09-07 05:58] mitjade commented on #330
@vlasenko If I move to `spinjs` branch, this starts happening with 8ed1572af65db2c7b40431fa0e4c666b6e95eed8 `Update to the latest spin.js version`. Commit before is ok.

I do a:
[code]

[2017-09-07 07:01] vlasenko commented on #330
@MichelDiz Please try with the latest sources of the kit, or update version of `spinjs` to `0.2.0` in `package.json`

[2017-09-07 07:01] mitjade commented on #330
@vlasenko could you also commit `yarn.lock`?

[2017-09-07 07:13] vlasenko commented on #330
@mitjade Yep, done, thanks for noticing

[2017-09-07 12:54] #330 closed

[2017-09-07 14:24] sakhmedbayev commented on #170
@hhashmi I know this issue was closed as inappropriate, but I am facing thing problem - cannot figure out right way to integrate third party assets. Have you managed to do it? If so, can you please share?

[2017-09-07 19:05] bastianwegge opened #333 "Prettier usage"
Hey,

I see `"prettier": "^1.6.1",` in the `package.json` file.
Is this used somewhere in the project?

If not, do you @vlasenko have preferred settings for prettier? Doing something like a pre-commit hook will save lots of `nit` commits.

All the best 🤖

[2017-09-08 00:54] MichelDiz commented on #306
I changed the Post query. In time I will change the rest of the code.
https://github.com/MichelDiz/apollo-universal-starter-kit/commit/ee6fd689d4d7d2bf90cc5298b499db9afdfdeb03

[2017-09-08 04:10] vlasenko commented on #333
Hi,

It is no longer used, I have committed removal of this dependency.

[2017-09-08 04:45] wesley-sw commented on #327
You are absolutely right, my early test failed due to a silly misconfiguration. The specifications of what happened is not really important - my alias entry just got overwritten by a existing entry in the baseConfig object.

This meant that we have been aware of it, there is actually one already in use... so do you think it is a good thing to have?

[2017-09-08 04:45] wesley-sw commented on #327
We could leave it as is for stability of the boilerplate and let the users opt in themselves too. But I'm guessing we didn't have aliases enabled earlier simply because we were having to wait for the project structure to settle more.

Also, congratulating on the roll out of spinjs!

[2017-09-08 05:37] vlasenko commented on #327
@wesley-sw It is a good thing to have if we will support common IDE's, like WebStorm, Atom, etc

[2017-09-08 05:45] mitjade commented on #329
Since `react` is already rolling out release candidates, we can probably wait until they release a stable version and for RN to use it as well. Hopefully this might be happening within a month, since RN has monthly release cycles.

[2017-09-08 05:49] vlasenko commented on #329
@mitjade Yep, I agree

[2017-09-08 05:52] mitjade commented on #306
@MichelDiz Nice work! Why not change the post example it self and not make a separate module?

[2017-09-08 06:50] bastianwegge opened #337 "Redux Time-Travel is not working"
I noticed that time-travel in the redux-store is not working with this project. Does anyone know why or how to fix this?

Time-travel explained: https://youtu.be/xsSnOQynTHs?t=1429

[2017-09-08 10:44] mairh opened #339 "SpinJS is opinionated on the file extensions"
I just tried to merge the PR https://github.com/sysgears/apollo-universal-starter-kit/pull/314 However, I am getting an error if I name the index file as `src/client/index.js` instead of `src/client/index.jsx`

Usually, I prefer to name all my files with `js` extension instead of `jsx` and I believe we should not be opinionated on how the users should name the file based on the kit.

[code]

Build

[2017-09-08 10:57] vlasenko commented on #339
How about defining this in your `tools/webpack_app.config.js`:
[code]

[2017-09-08 10:58] vlasenko commented on #339
@mairh Spin.js must provide some default extension, according to Webpack rules. And the default extension in case of `['react', 'client']` stack is `.jsx`, I think it makes sense. If you want another extension - please customize your config

[2017-09-08 11:07] mairh commented on #339
Overriding `tools/webpack_app.config.js` doesn't seem to work. Getting the same error.

[2017-09-08 11:10] vlasenko commented on #339
@mairh Strange, I will take a look and return back to you

[2017-09-08 11:23] mairh commented on #339
I tested following scenarios - just to test different combiations

1) `src/client/index.js`and `tools/webpack_app.config.js` web config comment out - Doesn't work
2) `src/client/index.js`and `tools/webpack_app.config.js` web config override with `js` extension - Doesn't work
3) `src/client/index.js` and `tools/webpack_app.config.js` web config override with `jsx` extension - Doesn't work
4) `src/c

[2017-09-08 11:25] vlasenko commented on #339
@mairh Should work in `spinjs@0.2.1`, please give it a try

[2017-09-08 11:28] vlasenko commented on #339
@mairh This commit should have fixed the problem:
https://github.com/sysgears/spin.js/commit/437f2d0a64d89876ca62d506469665decdf803a7
It will replace entry point in Webpack config with value from `tools/webpack_app.config.js`. Previously it have just appended value from `tools/webpack_app.config.js` to those that were generated in Webpack config, hence it didn't work

[2017-09-08 11:41] mairh commented on #339
Awesome. It works. Closing the issue!

[2017-09-08 11:41] #339 closed

[2017-09-08 12:58] bastianwegge commented on #333
Is there a reason why you removed it? Since there are many people working on the project we already have many different coding-styles.

[2017-09-08 13:00] vlasenko commented on #333
I have removed it because it is not used in the starter kit. I think it was required by one of the previous versions of some of the dependencies. Now it is not required and not used, hence I removed it

[2017-09-08 13:05] bastianwegge commented on #333
It's a library to unify code indenting and formatting, so why remove it?

[2017-09-08 13:08] mairh commented on #333
I think we should have one coding style for the kit. I know everyone has a different opinion on the styles, but we can agree to one after defining those. For e.g I see some inconsistencies among different files in the kit.

For e.g

`<SomeComponent props={props}/>`
vs
`<SomeComponent props={props} />`

or

`const someVar = {arg1, arg2}`
vs
`const someVar = { arg1, arg2 }`

or
[code]
vs
[code]

[2017-09-08 13:14] vlasenko commented on #333
As suggested by @bastianwegge we can use `prettier` to solve this problem. We need to configure it correctly and reformat all the source code of the kit with `prettier`

[2017-09-08 13:28] bastianwegge commented on #333
I'd suggest using a pre-commit hook. -> https://github.com/sysgears/apollo-universal-starter-kit/pull/340

[2017-09-08 13:30] bastianwegge commented on #337
Seems to be a problem with Apollo itself: https://github.com/apollographql/apollo-client/issues/1800

[2017-09-08 15:49] MichelDiz commented on #306
Well, I'm trying to follow the logic of the previous code first. I'm doing it just so I do not break anything. Then it would be just to reuse the work and change the "names".

[2017-09-08 15:52] mitjade commented on #306
@MichelDiz Great! Looking forward to it.

[2017-09-08 15:57] mitjade commented on #306
@MichelDiz Why not use it just for select statments? What do you gain if used with mutations?

[2017-09-08 16:02] MichelDiz commented on #306
I thought in change the post completely. Because complex mutations could be made in one single batch. And generating SQL dynamically pelo join-monster.

[2017-09-08 16:55] mitjade commented on #306
@MichelDiz Ok, looks like I need to reed into JoinMonster a bit more :)

[2017-09-08 20:21] t0x1c123 opened #344 "Route change after success data load"
Hello, I want to ask if it's possible to change route after success data fetch. This "style" of data loading is used for example on YouTube. When you click on link there is a progress bar on top of the page (https://github.com/rstacruz/nprogress) and then route is changed after success data load. Now in example it's like that when you click on route page is changed immediately and when data are no

[2017-09-09 05:52] vlasenko commented on #344
Hi,
This is more a question for `react-router` and `react-apollo`. Related issues:
https://github.com/apollographql/react-apollo/issues/417
https://github.com/apollographql/react-apollo/issues/711

[2017-09-11 07:39] mairh commented on #333
This can be closed I suppose

[2017-09-11 07:40] #333 closed

[2017-09-11 14:37] mairh opened #345 "TypeError: Cannot read property 'password' of undefined"
Just took a fresh copy of the kit

`yarn ` and `yarn seed` and `yarn watch`

[code]

[2017-09-11 14:57] mitjade commented on #345
@mairh Does not happen to me? Can you try to delete the `dev-db.sqlite3`, run `yarn seed` and try again?

[2017-09-11 15:10] semyenov commented on #345
Maybe it's not related to this error, but check out this lines
https://github.com/sysgears/apollo-universal-starter-kit/blob/7f9a7a2e61ba6df4761d67ba2749fd553fed9584/src/server/modules/user/token.js#L22
and
https://github.com/sysgears/apollo-universal-starter-kit/blob/7f9a7a2e61ba6df4761d67ba2749fd553fed9584/src/server/modules/user/token.js#L46
looks like a typo

[2017-09-11 15:21] mitjade commented on #345
@semyenov First one is a typo, should be fixed. Where is the problem on line 46?

[2017-09-11 15:28] mitjade commented on #345
@semyenov Seem this line is not needed and can be removed.

[2017-09-11 16:20] semyenov commented on #345
@mitjade https://github.com/sysgears/apollo-universal-starter-kit/blob/7f9a7a2e61ba6df4761d67ba2749fd553fed9584/src/server/modules/user/token.js#L46
header syntax is
`Access-Control-Allow-Origin: <origin> | *`
'true' will cause connection error

[2017-09-11 16:32] mitjade commented on #345
@semyenov This is already taken care of with CORS, so I will just remove it. Thank you for pointing it out.

[2017-09-11 16:43] semyenov commented on #345
@mitjade thx for your work

[2017-09-11 17:27] vlasenko commented on #345
@mairh Have you tried to recreate your database as was suggested by @mitjade  ?

[2017-09-11 20:07] mairh commented on #345
closing because it seems like the database was corrupted on the laptop. I tried with another laptop and it works fine.

[2017-09-12 03:45] #344 closed

[2017-09-12 03:45] #170 closed

[2017-09-12 07:21] sakhmedbayev opened #346 "Failed to deploy to Heroku"
It seems that deployment to heroku does not work anymore, resulting in the following error:

[code]

[2017-09-12 07:29] vlasenko commented on #346
@sakhmedbayev Yes, I'm seeing this. I don't think this is the problem of the kit, this is looks like more the problem of Heroku. Since I don't have issues with installing packages via `yarn` on my dev machine

[2017-09-12 07:44] vlasenko commented on #103
Since basic authentication and authorization has been added, I'm closing this issue. Any problems with current implementation should be posted as new issues. Thank you very much for everyone who participate in discussion and specially Mitja for the hard work with initial implementation. It was a tough task to make this a spin, finally!

[2017-09-12 07:44] #103 closed

[2017-09-12 10:36] vlasenko commented on #346
@sakhmedbayev Should be fixed now. Looks like Expo team has rebuilt and uploaded file:
https://github.com/exponent/react-native-maps/archive/v0.12.2-exp.1.tar.gz
with different contents. This is not a good thing to do.

Because our yarn.lock expected original version of this field builds on Travis and Heroku failed. I have removed yarn cache and regenerated yarn.lock and now both Travis and Heroku

[2017-09-12 10:36] #346 closed

[2017-09-12 12:07] mairh commented on #345
@vlasenko @mitjade Reopening since I am getting the same error after recreating the database file.

Note: Mobile build is fine and I can see the app on expo

[2017-09-12 12:08] vlasenko commented on #345
@mairh Can you figure out reproduction steps for this one?

[2017-09-12 12:11] mairh commented on #345
1) Fresh clone the repo
2) Run `yarn`
3) Run `yarn seed`
4) Run `yarn watch`

![screen shot 2017-09-12 at 15 10 34](https://user-images.githubusercontent.com/4072250/30325215-94320ce4-97cc-11e7-87c5-c75f1c424fc1.png)

[code]

[2017-09-12 12:21] vlasenko commented on #345
@mairh Under what user are you logging it after `yarn watch` ?

[2017-09-12 12:25] mairh commented on #345
I didn't login. The website wouldn't open.

[2017-09-12 12:28] mairh commented on #345
Ok. I got it now. After cleaning the browser cache it is working now. Let me dig deeper and reproduce the error in the exact scenario.

[2017-09-12 12:37] mairh commented on #345
ok. so here it goes. I am not sure what we can do about it

1) Register a new user
2) Populate the seed again after removing the database
3) Run `yarn watch`
4) Since the cookie still has my old user info in the browser I can't open the website. Although, the database does not contain my user info anymore.

I believe I had created a new user in the kit (on the local machine). I had some problem wi

[2017-09-12 12:39] mairh commented on #345
It may happen in the production env too. Let's say a user is created in the prod env. Someone deleted the user info from DB and thus the same user tries to open the website resulting in crashing the server since the user does not exist in the DB anymore.

[2017-09-12 12:44] vlasenko commented on #345
@mairh Yes, in case cookie is invalid or user from cookie cannot be find in database, we should treat this situation as user is not logged in

[2017-09-12 12:45] mairh commented on #345
That's right.

[2017-09-12 12:57] mairh commented on #176
@vlasenko What do you think about file upload feature in the kit? Doing file upload using graphql mutations could be a good addition we can offer in the kit. We could just simply start with blob in the image folder. Later we can integrate cloudinary / S3 or some other services to store and host the images. Usually, if someone have auth feature in the app most of the time apps also provide user ima

[2017-09-12 12:59] vlasenko commented on #176
@mairh Yes, it would be nice to add

[2017-09-12 13:00] mairh commented on #176
Alright. I will add that in the roadmap description and work on it later in the week.

[2017-09-12 13:15] #345 closed

[2017-09-12 13:19] vlasenko commented on #345
I have committed workaround. But general error handling should be improved on all levels in Auth module

[2017-09-12 17:56] switz opened #349 "Redux store gets recreated instead of re-used when saving via HMR"
"Click to increase reduxCount"

then save a client side JSX file -- the count gets reset rather than sticking around.

[2017-09-13 03:41] vlasenko commented on #349
We didn't make such a guarantee anywhere that state of Redux store is going to be re-used on HMR

[2017-09-13 03:44] vlasenko commented on #349
@switz Is this a bug or feature request?

[2017-09-13 03:49] switz commented on #349
I suppose both. It seems reasonable to me that hot reload would reload all components (and reducers) while maintaining application state.

If you think that's outside of the scope or intention for this repo, that's fine. But I would imagine most people want their redux state to exist beyond a hot reload.

[2017-09-13 03:56] vlasenko commented on #349
@switz It is outside of our initial intentions and guarantees that we stated in the documentation, but this is fine to be considered as an enhancement. I'm going to add this feature to our roadmap.

[2017-09-13 16:43] justinr1234 commented on #176
@vlasenko https://github.com/wix/redux-testkit

[2017-09-13 19:01] t0x1c123 opened #352 "Images not rendering"
Hello I'm trying to normally render image in <image/> tag. Image's path is fetched from graphql and then added to image src atribute. When i do F5 image is normally rendered, but when I navigate somewhere and than back, image is invisible. So I tried inspect elements and image tag is there with correct src path but width is set to 0px and height to 16px. So I tried set width and height manually bu

[2017-09-14 03:10] vlasenko commented on #352
@t0x1c123 Is this issue of the starter kit or the code of your project?

[2017-09-14 05:33] t0x1c123 commented on #352
Starter kit. I tried it also on fresh install of starter kit. Try to put image tag with random static image (I used google logo) on counter page and then go to posts and back. Image is not shown after that step.

[2017-09-14 07:22] mairh commented on #352
Would be nice to see some code and recreate the problem.

[2017-09-14 07:48] t0x1c123 commented on #352
Code preview:
`
<PageLayout>
        {renderMetaData()}
        <div className="text-center mt-4 mb-4">
          <Section>
            <image src="https://www.google.cz/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png" />
            <p>
              Current count, is {count.amount}. This is being stored server-side
              in the database and using Apollo subscription for real-

[2017-09-14 07:56] vlasenko commented on #352
@t0x1c123 There is no such tag in HTML as `image`, you meant `img` probably. With `img` everything works as expected.

[2017-09-14 08:18] t0x1c123 commented on #352
OMG I'm totally retarded 😭 😭 Sorry for wasting your time 🤢. This is all because JSX! I don't know common html tags anymore 😭 😭 😭 😭

[2017-09-14 08:18] #352 closed

[2017-09-14 08:18] vlasenko opened #353 "Port the kit to the latest version of Angular.JS"
Initial porting should be done in a separate git branch. And later we will think about reducing duplication between React and Angular.JS code.

[2017-09-14 15:52] vlasenko opened #356 "Upgrade to Apollo 2.0"
https://github.com/apollographql/apollo-client/blob/master/Upgrade.md

[2017-09-14 16:17] vlasenko commented on #356
I don't see that subscriptions have been implemented in Apollo v2 yet. So we need to wait for them to try 2.0

[2017-09-15 07:13] mairh commented on #356
Where can I find the note that subscriptions have not been implemented in Apollo v2?

[2017-09-15 07:17] vlasenko commented on #356
I don't find the note that they have been implemented. Obviously existing subscription packages for Apollo v1 will not work with Apollo v2, since they rely on networkInterface and don't have ways in the docs to use new Apollo Link

[2017-09-16 01:20] justinr1234 commented on #176
@vlasenko Thoughts on this? https://github.com/charlieschwabacher/gestalt/blob/master/docs/getting-started.md

[2017-09-16 06:45] vlasenko commented on #176
@justinr1234 Yes, it looks interesting for quickly generating API and GraphQL schema. I think one can use `gestalt` for generating backend and build web and mobile frontend with this kit.

[2017-09-16 09:29] ChingxWando opened #359 "File Naming Convention (Voting request)"
## Backgrounds
Since this related to people's preferences Victor suggests me to open a vote to find out what are people's preference on this.

Another similar experience I had was dropping [Javascript Standard Style](https://github.com/standard/standard) and pick up [airbnb javascript style](https://github.com/airbnb/javascript) after finding out about it from you guys and the justification for me

[2017-09-16 09:55] vlasenko commented on #359
Thank you @ChingxWando very much for opening this issue and providing strong arguments why this change should be considered!

[2017-09-16 13:24] mairh commented on #359
Since we are following `airbnb` style guide for the `eslint` rules. We can simply follow the naming conventions as well from `airbnb` https://github.com/airbnb/javascript#naming-conventions.

Not only the file names we can also focus on the method declaration. I would prefer if we change the function declaration such as (present in the kit)
[code]
to
[code]

[2017-09-16 13:32] mairh commented on #356
@vlasenko Check this out https://github.com/reactql/kit/issues/80

Lee has outlined some very nice points on upgrading to Apollo 2.0. It seems to me that subscription will work on Apollo V2 as well.

[2017-09-17 08:52] vlasenko commented on #356
@mairh There is initial subscription transport implementation for Apollo Link:
https://github.com/apollographql/apollo-link/blob/master/packages/apollo-link-ws/src/webSocketLink.ts

This implementation looks like neither documented nor thoroughly tested yet. So we can have tough time using it and likely face some underwater stones.

I would like to give Apollo 2 a try early next week and see how i

[2017-09-17 13:52] mitjade commented on #359
@ChingxWando I am OK with making the change.

[2017-09-17 18:00] mairh commented on #356
or maybe we just wait until it is out of beta.

[2017-09-17 18:19] mitjade commented on #356
@mairh My guess is that will happen just before https://summit.graphql.com

[2017-09-18 07:50] mairh commented on #359
Is anyone working on this? I have some time today to work on this if no one has picked it up yet.

[2017-09-18 07:51] vlasenko commented on #359
@mairh Sure, please go ahead if you have a chance to work on this. I haven't started on this task yet. Mostly working on Angular2 / TypeScript support.

[2017-09-18 07:53] mitjade commented on #359
@mairh It would be great to have this done soon. I am starting a new project and would love to have this done before I clone the kit repo.

[2017-09-18 07:56] mairh commented on #359
Ok. I will try my best to complete it by tonight otherwise by tomorrow.

[2017-09-18 08:05] mitjade commented on #359
@mairh I am currently fixing `cli` to generate modules that comply to `prettier` format. I would also like to rename all components from `..._show` to `..._view`. Maybe I can help out with this today also. Depends on how much time I will have. If you push a branch when you have something we can work from there together and split up some work.

[2017-09-18 08:15] mairh commented on #359
Let me push a branch first with some updates wrt file names and function names. We can take it from there. It's better to work on the same branch and have no conflicts.

[2017-09-18 08:20] mitjade commented on #359
@mairh Made some commits already, but they only concern `cli` templates. Let me know when you have something.

[2017-09-19 06:26] mitjade commented on #359
@ChingxWando Could you also please check https://github.com/sysgears/apollo-universal-starter-kit/pull/360, since you ware the one requesting this feature.

[2017-09-19 09:43] mairh commented on #359
PR has been merged. It might be possible that we have missed few things in the first PR regarding file and component naming convention. @ChingxWando Pls have a look at the latest master and let us know if there is anything missing or require changes.

[2017-09-19 09:50] mairh opened #362 "flow-typed folder"
Do I need to manually add the `flow-typed` folder (at root level) in my personal fork or can I auto-generate the folder using come script/command?

[2017-09-19 10:08] vlasenko commented on #362
@mairh You can generate it as described by Mitja

[2017-09-19 10:38] mairh commented on #362
Am I doing anything wrong?

![screen shot 2017-09-19 at 13 38 20](https://user-images.githubusercontent.com/4072250/30588567-d9422328-9d3f-11e7-94c2-5d5ba029105e.png)

[2017-09-19 10:41] mairh commented on #362
ok. got it. The correct command is

[code]

Note: `global` should be before `add`

[2017-09-19 10:50] mairh commented on #362
Is this expected after running the above command?

![screen shot 2017-09-19 at 13 48 56](https://user-images.githubusercontent.com/4072250/30588952-671c2dd2-9d41-11e7-898e-465e8402e977.png)
![screen shot 2017-09-19 at 13 49 08](https://user-images.githubusercontent.com/4072250/30588962-6c796e48-9d41-11e7-8c31-38ba37b2e8ef.png)

[2017-09-19 10:54] vlasenko commented on #362
@mairh Yes, it is expected

[2017-09-19 11:11] mairh commented on #362
I just added flow to my personal fork according to this commit https://github.com/sysgears/apollo-universal-starter-kit/pull/361/commits/271199a34b59e0d2eba4c49a8186e7e457909734 and replaced the `server/modules/connector.js` file with the one in latest master and I'm getting this error

[code]
![screen shot 2017-09-19 at 13 57 08](https://user-images.githubusercontent.com/4072250/30589599-be8b497a

[2017-09-19 11:19] vlasenko commented on #362
@mairh Difficult to say what is wrong. I recommend to just replace type of `pubsub` argument in `server/modules/connector.js` to `any`

[2017-09-19 11:23] mairh commented on #362
Replacing it with `any` works fine.  I will close this issue.

[2017-09-19 11:23] #362 closed

[2017-09-20 08:19] mairh opened #369 "Action buttons are not visible (post, comment section) in demo website"
Possibly due to bootstrap update. Post (delete / edit) and comment (delete / edit) action buttons/links are no longer visible

<img width="1170" alt="screen shot 2017-09-20 at 11 18 02" src="https://user-images.githubusercontent.com/4072250/30633766-8825c204-9df5-11e7-8317-1aab776241ec.png">
<img width="1173" alt="screen shot 2017-09-20 at 11 18 09" src="https://user-images.githubusercontent.com/4

[2017-09-20 21:44] MichelDiz opened #375 "Stranger issue with Login/Register (Clean clone, Windows 10)"
Just cloned and I did the usual process.

So I noticed that there was this authentication new feature (I had not noticed before.).
I decided to test. So:

Chrome could not GET / register or login
With Vivaldi gave Can not GET / register or login
With Edge gave Can not GET / register or login

However, in the old Internet Explorer it authenticates normally. Although I had a moment that gave the err

[2017-09-21 05:07] mitjade commented on #375
@MichelDiz Do you get any errors in browser console or terminal? Can you check if you can see `token`  and `refreshToken` in your LocalStorage or `x-token` and `x-refresh-token` in your cookies, when you try to login.

I tested latest on Mac: Safari, Chrome, Firefox and Vivaldi. All work ok. I do not have access to a Windows machine right now.

Maybe also try to delete `dev-db.sqlite3` since some

[2017-09-21 06:37] zenflow commented on #349
I also was expecting the redux state to persist across hot reloads. (Not to complain about this *awesome* free software) Without that persistence, there would really be no need for something as complex as HMR, since something to simply refresh the webpage when there are changes would do just as well (e.g. [livereload](https://www.npmjs.com/package/livereload))

---

Also, (no idea what's going on

[2017-09-21 16:01] MichelDiz commented on #375
Can not GET came from Browser in page.
backend HMR error status: fail appears randomly

I was using the port that the terminal offers. But when I used 3000.
It kept logging in normally. It seems to me something related to "proxy" permissions.

Would not it be nice to standardize this project for Docker? It varies a NodeJs image with Linux and leaves "src" and "Build" in open volumes. So it would b

[2017-09-21 16:11] vlasenko commented on #375
@MichelDiz Yes, having `Dockerfile` for this project would be nice, certainly

[2017-09-21 19:09] MichelDiz commented on #375
@vlasenko I'm Starting some tests with Docker with this repo - Have you some tip to better approach?https://github.com/MichelDiz/apollo-universal-starter-kit/tree/dockerising

[2017-09-21 21:16] MichelDiz commented on #375
So I tested the environment here and it's working.
Now you need to do something more geared towards deploy.
This form I made is for testing purposes only. Because docker-Compose is mirroring the entire root folder to ==> / usr / src / app

Would need to separate or generate non-persistent volumes for production

But even so, it helps.

The problem with browsers I mentioned was not happening using

[2017-09-21 21:25] MichelDiz commented on #375
My bad, I just take the test with the login (I had forgotten it) the application works. But the authentication system does not. Now in neither browser. I think with this Docker I did you guys could better evaluate the problem.

[code]

[2017-09-22 11:45] semyenov opened #380 "No loader specified Error: No loader specified"
Fresh copy of the kit with `builders.android.enabled = true` in .spinrc.json

$ spin watch
Generating vendor_web DLL bundle with modules:
["apollo-client","apollo-logger","bootstrap","cors","graphql","graphql-iso-date","graphql-tag","history","immutability-helper","jwt-decode","lodash","minilog","persistgraphql","prop-types","react","react-apollo","react-cookie","react-dom","react-ga","react-helme

[2017-09-22 12:00] mairh commented on #380
Can you post your system info?

[2017-09-22 12:03] vlasenko commented on #380
@semyenov @mairh No need for system info, I can reproduce it

[2017-09-22 12:04] semyenov commented on #380
/home/xxx/node_modules/react-navigation/src/PlatformHelpers.nativejs doesn't exist
there is ./node_modules/react-navigation/src/PlatformHelpers.native.js

[2017-09-22 12:04] mairh commented on #380
@vlasenko ok.

[2017-09-22 12:13] vlasenko commented on #380
@semyenov The bug is fixed in `spin.js@0.3.6`. Going to update the kit now to point to this version.

[2017-09-22 13:01] #380 closed

[2017-09-22 13:22] mairh opened #381 "Migrating to ApolloV2"
I just tried migrating to new Apollo V2 and I started to get the following error in my personal fork. I wasn't facing this issue before the migration. Do you have any idea if there is any new setting on the payload size in Apollo V2

**On Brower console**

<img width="857" alt="screen shot 2017-09-22 at 16 27 27" src="https://user-images.githubusercontent.com/4072250/30746618-00110c60-9fb3-11e7-9b

[2017-09-22 13:28] vlasenko commented on #381
I'm not sure why `payload` hits limit with Apollo V2. Maybe try increasing limit in `src/server/server.js`?
`app.use(bodyParser({limit: '50mb'}));`

[2017-09-22 13:29] mairh commented on #381
I updated the screenshot of browser console too.

[2017-09-22 13:30] vlasenko commented on #381
@mairh Could you try to examine HTTP requests in browser dev tools network tab?

[2017-09-22 13:34] mairh commented on #381
This is what I'm getting

<img width="856" alt="screen shot 2017-09-22 at 16 33 20" src="https://user-images.githubusercontent.com/4072250/30746840-ded62c32-9fb3-11e7-805f-4e2b53681001.png">

<img width="854" alt="screen shot 2017-09-22 at 16 34 07" src="https://user-images.githubusercontent.com/4072250/30746842-e3128ae8-9fb3-11e7-8e57-f1bbff7af051.png">

[2017-09-22 13:39] mairh commented on #381
So, changing the following lines works.

[code]

[code]

I believe somehow Apollo is not able to send a large amount of data in one request. For e.g in the kit, we have (Post and Comment component/data in the edit view) example. But in my personal fork I have (Order, Product, Comment components in the edit view). Thus, I am rendering a bit more data.

Shall we make this change in the kit?

[2017-09-22 13:43] vlasenko commented on #381
@mairh Yes, sure, could you prepare PR?

[2017-09-22 13:43] vlasenko commented on #381
@mairh Or just commit directly if you want

[2017-09-22 13:44] mairh commented on #381
I'll push to the master

[2017-09-22 13:46] #381 closed

[2017-09-23 04:44] #369 closed

[2017-09-23 04:44] #359 closed

[2017-09-23 04:45] vlasenko commented on #356
Apollo v2 support has merged into master

[2017-09-23 04:45] #356 closed

[2017-09-23 04:45] vlasenko commented on #353
The work is going under this PR:
https://github.com/sysgears/apollo-universal-starter-kit/pull/354

[2017-09-23 04:45] #353 closed

[2017-09-24 05:15] mitjade opened #382 "Configuration for modules should be moved out of app.json"
I started adding configuration for `user` module inside `app.json`, but I think this should be moved to module it self.

If you remove the module this configuration remains and it makes `app.json` more complex.

But you can have only `server` or `client` modules, so I am not sure where to put this. Maybe have a separate `client`, `server` configs?

@vlasenko I would like your thoughts on this, whe

[2017-09-24 06:12] vlasenko commented on #382
@mitjade We can have per-module config in a config dir. The same way as Linux services have the dir /etc/default with per-module config in each file that have the same name as a service. We can name this dir `config`. The global config should still reside in `app.json` though

[2017-09-24 06:45] mitjade commented on #382
@vlasenko Ok. Will try to figure it out how to set this up.

[2017-09-25 05:32] mitjade commented on #382
@vlasenko So you are proposing something like this:
`/config/user.json` and then extend `settings.js` to include all files under `config` and export them same as now for `app.json`?

[2017-09-25 06:02] mitjade commented on #382
Proposed PR: https://github.com/sysgears/apollo-universal-starter-kit/pull/383

[2017-09-25 07:38] mairh opened #384 "Shall we start to include Release and changelog in the kit?"
I think it looks a bit more professional and clean to include CHANGELOG.md and release section.

Something similar to
https://github.com/reactql/kit/blob/master/CHANGELOG.md
https://github.com/reactql/kit/releases

Or do you think it is too much of a hassle to maintain that?

[2017-09-25 07:58] mitjade commented on #382
Implemented in #383

[2017-09-25 07:58] #382 closed

[2017-09-25 08:01] vlasenko commented on #384
@mairh I think its too much hassle and too little outcome. But if many people will want that then we can maintain Changelog and produce Releases

[2017-09-25 08:21] mairh commented on #384
Yeah. I understand your point. It was just a lingering question. I will close this issue as of now.

[2017-09-25 08:21] #384 closed

[2017-09-25 08:31] mairh opened #385 "Integrating Apollo Optics to the kit"
Shall we add Apollo Optics to the kit? Since we use Apollo as our main client/server and Optics is offered by the same people (Free up to 1 million req/month). I think it would make a good addition to the kit.

https://www.apollodata.com/optics/

[2017-09-25 08:38] vlasenko commented on #385
@mairh Yes, sure, I think it is a good idea.

[2017-09-25 11:07] #349 closed

[2017-09-25 11:16] vlasenko commented on #337
Fixed via:
https://github.com/sysgears/apollo-universal-starter-kit/commit/442f26eb76f3a905f6fc9eb9b8a51387d30b449b
and
https://github.com/sysgears/apollo-universal-starter-kit/commit/442f26eb76f3a905f6fc9eb9b8a51387d30b449b

[2017-09-25 11:16] #337 closed

[2017-09-25 12:46] mitjade opened #386 "less does not work"
After latest changes, I get errors if trying replace `sass` with `less`.

Pushed a branch with minimal changes needed to reporduce - https://github.com/sysgears/apollo-universal-starter-kit/tree/less

Did update to `node` `v8.5.0` and `yarn` `v1.1.0`, if this makes any difference?

Stack Trace:
[code]

[2017-09-25 12:59] vlasenko commented on #386
@mitjade This looks like as a problem with calling `react-ga` from `Main.jsx`

[2017-09-25 13:01] mitjade commented on #386
@vlasenko I reverted to before I merged latest changes and I still get this? Before did not!

[2017-09-25 13:03] mitjade commented on #386
But it works if I try on master.

[2017-09-25 13:36] mitjade commented on #386
Locking `react-ga` to `v2.2.0` seems to fix the problem, still not sure why this only happens when I add `less`?

Will close for now.

[2017-09-25 13:36] #386 closed

[2017-09-25 13:58] vlasenko commented on #386
@mitjade Maybe because you have regenerated `yarn.lock` and buggy version of `react-ga` has been pulled in

[2017-09-25 14:02] mitjade commented on #386
@vlasenko Very likely. Should we lock this version in master, to avoid this happening to others?

[2017-09-25 14:05] mitjade commented on #329
@vlasenko I see you created a branch for `react16`. Do you intend to upgrade this kit to react 16?

[2017-09-25 14:12] vlasenko commented on #329
@mitjade Yes, I'm working on this. Not all the deps are ready, but I'm going to find workarounds for all.

[2017-09-25 14:15] vlasenko commented on #386
@mitjade Lets think about it, when someone else reports an issue

[2017-09-25 14:16] mitjade commented on #386
@vlasenko Ok. It might get resolved soon anyway.

[2017-09-25 14:17] vlasenko commented on #386
@mitjade Yep, I saw they have published two versions today, 2.3.0 and 2.3.1. So something is happening with this package today

[2017-09-25 14:21] vlasenko commented on #386
@mitjade Because in master's `yarn.lock` it uses `2.2.0` and in your branch's `yarn.lock` it uses `2.3.1`. Check `yarn.lock` contents in both branches and you will see difference

[2017-09-26 11:11] vlasenko commented on #375
@MichelDiz What docker image do you want? The image that starts the kit in development mode or in production mode?

[2017-09-26 12:47] mairh opened #389 "Adding complete Frontend UI template"
Since we offer a full stack kit with robust backend how do you guys think about adding a complete web UI template?

We already use `reactstrap` and thus we can integrate http://coreui.io/react/ in the kit making it out-of-the-box complete experience on web. Similarly, what we are thinking about `nativebase` for `react-native`

[2017-09-26 13:01] coooolers opened #390 "Sign Up, Sign In, Reset Password, Forgot Password, Admin Dashboard features"
Sign Up and Forgot Password to be done through Email Verification and/or Mobile Phone / One Time Passwword

Sign Up - Captcha

Can we expect the contributors decide to add these essential features in near future?

Thanks

[2017-09-26 13:10] vlasenko commented on #389
The general idea is fine. I'm not sure though that it should be core-ui for web, native-base for react-native or something else.

[2017-09-26 13:15] vlasenko commented on #390
@coooolers We would certainly appreciate if these features were implemented for the kit. You can expect that we will include these features into the starter kit if someone implement them and submit Pull Request of a good quality.

If you want these or other features to be added as soon as possible, please note, that this is possible via commercial support: https://github.com/sysgears/apollo-univer

[2017-09-26 13:43] mitjade commented on #389
I would actually like to see even less dependency on any particular UI, since this is the area users will most likely prefer various options. Currently the first thing I need to do is remove `bootstrap`, `reactstrap` and `sass`, since I do not use it in any of my projects.

I managed to port 2 of my projects to latest kit version and this is where I get most conflicts. That is why I have a separat

[2017-09-26 13:45] vlasenko commented on #389
@mitjade We need to make kit even more modular and introduce concept of installable modules, when you can just install modules you need into your project from the kit or update them to the latest versions.

[2017-09-26 14:10] mitjade commented on #389
@vlasenko Agreed. But the moment we remove examples from the kit and move them to a separate repo, there is a high possibility they will not be as up to date as now, since now you are forced to update everything. I also like to keep them around and just disable them, so I can copy paste code I want to reuse somewhere. Since it is really simple to remove them now this is not really an issue for me.

[2017-09-26 14:14] vlasenko commented on #389
@mitjade You have raised good points. Modularity of the kit is our top priority, we need to work on each problem in your list to make it easier for the users.

[2017-09-26 14:55] MichelDiz commented on #375
Is there an image already?

My question is more about wich is proper configuration for a container  in relation to this project. For a production image, you would use docker-compose.override.yml and docker-compose.prod.yml

The above error seems to me something related to Proxy or some folder location due to lack of a correctly ENV in environment variables. I don't know.

At first I think this doc

[2017-09-26 14:59] MichelDiz commented on #375
But it's still a problem, as I wish it to allow for Host browsers. xD

[2017-09-26 15:02] vlasenko commented on #375
@MichelDiz It is allowed for Host browsers. But you will have to type in URL in Host browser yourself, because starter kit is isolated in container and cannot execute commands on your host to open URL in the browser for you

[2017-09-26 15:29] MichelDiz commented on #375
Well, it does not seem to work.

Work ==> http://localhost:8080/
Doesn't Work ==> http://localhost:8080/login?email=admin%40example.com&password=admin
Doesn't Work ==> http://localhost:3000/

Work ==> http://127.0.0.1:8080/
Doesn't Work ==> http://127.0.0.1:8080/login?email=admin%40example.com&password=admin
Doesn't Work ==> http://127.0.0.1:3000/

[2017-09-27 03:27] vlasenko commented on #381
@mairh Apparently PayloadTooLargeError was a bug in early Apollo Beta versions. It should be fixed now and should not require increasing bodyParser limit.

[2017-09-27 07:11] mairh commented on #381
@vlasenko So shall we revert back the changes?

[2017-09-27 07:16] vlasenko commented on #381
@mairh Yes

[2017-09-27 07:21] mitjade opened #393 "Blog post topics as part of documentation"
I would like to start a discussion of the blog post titles, that would add most value to better understanding of this kit, and then we can work together through PRs and write them when we have some spare time.

My recommendations:
1. Kit philosophy
Describe what is the purpose of this kit. What it tries to solve. What all it incorporates and makes it work out of the box. Showing of backend, fronte

[2017-09-27 07:28] mitjade commented on #393
If this could be done with a video tutorial, this would also be great, especially a walk through of all the features, but I do not feel comfortable speaking, since my english is not all that good :)

[2017-09-27 07:31] vlasenko commented on #393
Good topic, thank you Mitja!

I would like to add the following blow posts:
1. Testing Apollo GraphQL React container components.
Describe our approach to testing UI components, what we can test, how we mock GraphQL schema and Apollo Link.
2. Testing Apollo GraphQL API.
How we setup testing of GraphQL queries, mutations and subscriptions.
3. Webpack Hot Module Replacement for each target platform

[2017-09-27 07:33] vlasenko commented on #393
4. Universal components that work on all platforms - write once, run everywhere.
Describe our approach to universal components and solutions of common problems.

[2017-09-27 07:37] mitjade commented on #393
@vlasenko I would feel comfortable in trying to explain the `Module system` with some of your input and the two module examples I wrote (`post` and `user`).

The rest I think only you are really able to explain in detail how this works, but I can help out with some parts.

Will let you know if and when I will start on this, so we are no writing the same things.

[2017-09-27 07:40] mitjade commented on #393
@vlasenko @mairh I think if we dedicate just an hour or so a week to this we could be able to make great progress over a couple of months in explaining this parts.

[2017-09-27 07:41] vlasenko commented on #393
@mitjade Sure Mitja, sounds good!

[2017-09-27 07:48] mitjade commented on #393
@vlasenko I also had to do some filtering and sorting on one of my projects and would like to share my approach, but is quite hard to incorporate this into the post example, since it is a bit complex because of pagination and adding new elements without refreshing the whole list.

Should this be demonstrated in a separate example? I tried to follow the approach of https://www.graph.cool/docs/refer

[2017-09-27 07:49] vlasenko commented on #393
@mitjade Sure, another example is fine

[2017-09-27 08:01] mairh commented on #393
Yeah, filtering and sorting would be a nice addition.

Regarding, the blog post, I think we have noted down most of the points over here, but it might prove to be difficult to organize them. We could start slow: for example, start with the general idea behind the kit and have the blog post in different parts/series.

We can choose to post the stuff on Medium and at the end of every article we can

[2017-09-27 08:03] mitjade commented on #393
@mairh Yes. We need to break this up into small meaningful parts that can be written quickly and not just started and never finished.

[2017-09-27 08:05] mitjade commented on #393
Maybe we could pick one small part and all work on it for a week through a PR and then publish it, decide on the next one and so on...

[2017-09-27 08:06] vlasenko commented on #393
@mitjade Yep, interesting idea

[2017-09-27 13:06] vlasenko commented on #375
@MichelDiz You should use IP of your docker instance, not `localhost`. You have an error in Web Browser JavaScript console with this IP.  Please attach JavaScript console output when you open issues.

[2017-09-27 13:06] #375 closed

[2017-09-27 17:02] MichelDiz commented on #375
The fact is that I had tried this too. I actually tried everything I found on Google. And nothing worked. Another fact is, as in thesis this project would be hosted on a Docker Host. It should work in tune with Docker completely. And it works, just the part of Auth that does not.

Do the test. Use my yml and see with your own eyes.

Cheers

[code]

[2017-09-27 17:04] vlasenko commented on #375
@MichelDiz What did you get in JavaScript console when you have tried it?

[2017-09-27 17:07] MichelDiz commented on #375
When I try to login throught auth - the console nothing happens.

Just returns on my browser screen "Can not GET / login"
My console looks exactly like the one I posted above. It does not change anything.

[2017-09-27 17:08] vlasenko commented on #375
@MichelDiz It is not a web browser JavaScript console. It is a terminal. I'm asking about web browser JavaScript console. You should check it every time you have some trouble with web application

[2017-09-27 17:10] MichelDiz commented on #375
just:
`Failed to load resource: the server responded with a status of 404 (Not Found)`

[2017-09-27 17:12] vlasenko commented on #375
@MichelDiz What URL are you opening in web browser?

[2017-09-27 17:13] MichelDiz commented on #375
And this when I open the GraphQL endpoint:
`WebSocket connection to 'ws://172.20.0.2:8080/graphql' failed: WebSocket is closed before the connection is established.`

[2017-09-27 17:14] MichelDiz commented on #375
I use  http://localhost:8080/login?email=admin%40example.com&password=admin
because 172.20.0.2:8080 does not open

[2017-09-27 17:15] vlasenko commented on #375
@MichelDiz This is wrong URL. You should use the URL reported to you by Webpack Dev Server during development:
[code]

[2017-09-27 17:20] MichelDiz commented on #375
Sorry if I'm not clear, but the URL that the terminal passes is not working externally on the HOST.

[2017-09-27 17:22] vlasenko commented on #375
@MichelDiz What Operation System are you using to run Docker?

[2017-09-27 17:22] MichelDiz commented on #375
Windows 10

[2017-09-27 17:30] vlasenko commented on #375
@MichelDiz I have tried your docker compose image. It is working for me under Linux host. Normally starter kit uses LAN IP for all connections, this is done to enable direct access from the Android and iOS phone to the application running on local machine. To make all of the starter kit work as expected you need to figure out networking issues you have with docker. You should be able to access IP

[2017-09-28 06:17] mitjade commented on #306
@MichelDiz I tried to make JoinMonster work with relay style pagination and it looks like it does not support `sqlite3`, so I guess it is not appropriate for this kit.

[2017-09-28 15:14] MichelDiz commented on #306
Did you tried the way they do? https://join-monster.readthedocs.io/en/latest/pagination/
is different, but the goal is the same. sqlite3 is supported. Because it is found in the documentation as being supported.

[2017-09-29 10:44] coooolers opened #397 "Support all features provided by create-react-app"
This is the most powerful react app boilerplate especially when it comes to production..
https://github.com/facebookincubator/create-react-app

Do you have any plans to copy the functionality offered by this boilerplate and include it in your kit?

[2017-09-29 10:47] vlasenko commented on #397
No

[2017-09-29 10:47] #397 closed

[2017-09-29 12:25] vlasenko commented on #397
@coooolers Please consider using our chat for general discussions:
https://gitter.im/sysgears/apollo-fullstack-starter-kit

[2017-09-29 12:51] mairh commented on #393
So the blog is gonna be on Medium?

[2017-09-29 12:53] vlasenko commented on #393
@mairh I guess yes, do you have other ideas about the place for the blog?

[2017-09-29 12:54] mairh commented on #393
No, I think that's one of the best places to get the audience.

[2017-09-29 12:55] mairh commented on #393
Do you have a publication created already? If you have a publication then other people can also write blog articles and publish under your publication.

[2017-09-29 12:57] vlasenko commented on #393
@mairh I have no publications on medium yet.

[2017-09-29 13:02] mairh commented on #393
You can create one using the following: https://help.medium.com/hc/en-us/articles/115004681607-Create-publication

Perhaps, think of a good name for it.

[2017-10-03 15:09] sakhmedbayev opened #406 "Create modules library/hub"
Since this awesome kit is using modular structure, I though it would be nice to create a library/hub of modules.

[2017-10-04 01:50] vinu opened #411 "Best way to have upload support"
What is the best way to have upload support with the starter kit, I was thinking to use https://github.com/jaydenseric/apollo-upload-client and https://github.com/jaydenseric/apollo-upload-server
or should I just create a rest endpoint /upload to handle all the uploads and just use graphql to save the references?

[2017-10-04 09:53] mairh commented on #411
We have image upload feature in the pipeline https://github.com/sysgears/apollo-universal-starter-kit/issues/176

Doing image upload using graphql mutation is fine and doesn't have any security/performance impact on the application. One of the major service for backend https://www.graph.cool/ also does the file upload using graphql mutations.

At the moment [Apollo Upload Client](https://github.co

[2017-10-05 07:46] vlasenko commented on #406
@sakhmedbayev Yes, we have this in mind. And we are going to add such hub in the future, when we have time to work on it. Help with this is certainly appreciated

[2017-10-05 08:17] #329 closed

[2017-10-06 13:12] mitjade commented on #306
Tried to use `join monster` on an existing project and it in the end created more problems than in solves. I really like the idea if it, but I think it is not yet ready to be added to this kit.

Will close this for now and revisit this later on.

[2017-10-06 13:12] #306 closed

[2017-10-06 14:29] mairh opened #414 "Incorrect callback URL for confirm email link"
Confirm email works on localhost, but if you deploy it to production the callback url is still pointing to localhost.

Steps to reproduce:

1) Register a new user on https://apollo-universal-starter-kit.herokuapp.com/register
2) Check the confirmation email link on https://ethereal.email/messages (user/pass is in `.env`)

The link contains `http://localhost:17145/confirmation/xxxxxxxxxxxx`. Howeve

[2017-10-07 06:43] mitjade commented on #414
Will check it out.

[2017-10-09 09:09] mairh commented on #414
@mitjade Thanks. Closing now

[2017-10-09 09:09] #414 closed

[2017-10-09 13:53] mairh opened #418 "Multiple DB's and env vars"
2 points I would like to discuss in regards to supporting multiple DB's and their associated env vars

At the moment we have the following in `.env`

[code]

I think we can keep it like this and when doing a prod deployment we create another `.env` file in the server manually and change the `.env` values as suitable.

Second, I would like to ask opinion on how we generate the DB configs

What we h

[2017-10-09 14:07] vlasenko commented on #418
@mairh I think we don't need separate configs for dev and prod database, we need only one config, lets call it main database config. We also need database config for running tests, which will have special setup to run tests quickly - e.g. moving database fully into memory if this is supported by engine, turning off transactions, etc. So we really need two connections `database connection` and `tes

[2017-10-09 14:12] mairh commented on #418
That would be nice.

[2017-10-09 14:15] mairh commented on #418
By the way, @mitjade mentioned that `process.env.DB_USER is undefined in config/db.js unless I add import 'dotenv/config';?` was undefined when running `yarn test`.

In this commit https://github.com/sysgears/apollo-universal-starter-kit/commit/af6bbac6fd90fc6ce40750f5fe04adbf28941880 I moved the `dotenv` import to config `index.js` file. But still the env vars are not available for db.js. I wonde

[2017-10-10 06:06] mitjade commented on #418
@mairh I reverted the tests back to `sqlite` until we figure out how to do tests with other databases.

`dotenv` now seems to work for tests and running the kit it self.

[2017-10-11 13:03] mitjade commented on #385
#422

[2017-10-11 13:04] mitjade commented on #411
#421

[2017-10-11 13:05] mitjade commented on #390
#420

[2017-10-11 13:06] mitjade commented on #268
#420

[2017-10-11 13:29] vinu commented on #411
woohooo :+1:

thanks guys, I am closing this :)

[2017-10-11 13:29] #411 closed

[2017-10-12 14:10] matseriksen opened #426 ""No current user logged in" on /profile route"
Found a little weird bug, if you have the web app open for some minutes and then go to the /profile route, I get the "No current user logged in" message. I have to refresh the page to view my profile info again.

The same happens, but not so frequent on the authenticated routes. On the /users route I sometimes get this error in the console, basically just saying you're not authenticated:

`backend

[2017-10-12 14:12] mitjade commented on #426
@matseriksen Will fix soon.

[2017-10-12 14:12] matseriksen opened #428 "First comments appears twice"
When I add a comment to a post it appears twice in the comment list, you have to refresh the page for the comment to only show up once as it should be. It only happens to the first comment you add.

[2017-10-12 14:14] mitjade commented on #428
@matseriksen Thanks for reporting. Noticed this my self, but have not yet taken a look what is the problem. Will do shortly.

[2017-10-12 14:25] mitjade commented on #426
Should be fixed now.

The problem is that `localStorage` does not get refreshed on the client, if no interactions are made for over a minute. For now, we only relay on cookies, until a solution for this is found. Will probably work on this when `user` module will be ported to `react-native`, but this is not planed to be done soon.

Please do take `user` module more of a proof of concept, rather th

[2017-10-12 14:47] matseriksen commented on #426
Great! Just a question. On the /profile route, is it necessary to check if currentUser exist, when the route already is authenticated?

[2017-10-12 15:22] mitjade commented on #426
@matseriksen Will take a look.

[2017-10-13 00:23] johnthepink commented on #390
Reset password in #424

[2017-10-13 00:28] johnthepink opened #429 "Update Password Mutation"
I noticed there is an `updatePassword` mutation that is unrestricted here:

https://github.com/sysgears/apollo-universal-starter-kit/blob/master/src/server/modules/user/resolvers.js#L123-L131

Meaning anyone, logged in or not, can run this mutation and change anyone's password if they can guess the user id. I know this is just a boilerplate, but it feels like it would set people up better if we ca

[2017-10-13 05:56] mitjade commented on #429
@johnthepink Good catch! Will fix it in my branch and then merge everything, including your PR, today.

[2017-10-13 05:58] mitjade commented on #390
Manage users if admin in #420

[2017-10-13 11:37] mitjade commented on #428
Looks like a problem with `optimisticResponse` and `apollo` v2. This bug was not present in v1 and only happens after v2 was merged to master.

[2017-10-13 11:39] mitjade commented on #428
The record that is added through `optimisticResponse` does not get removed when the response from the server arrives.

[2017-10-13 12:08] vlasenko commented on #428
@mitjade Maybe we should comment out optimistic response for now with the mark that we observe bug in Apollo v2?

[2017-10-13 12:10] mitjade commented on #428
@vlasenko I am investigating this out now.

[2017-10-13 12:37] mitjade commented on #428
@vlasenko There seems to be no issue for this in `apollo-client`. They recommend using `update` instead of `updateQueries`, witch I tried and also does not work for me. I keep getting some `Can't find field XXX on object (ROOT_QUERY) {`. `GitHunt-React` example is still using v1 and `updateQueries`. I do not know how to solve this, but comment it out and wait for a fix.

[2017-10-13 12:42] mitjade commented on #428
Commented out `optimisticResponse` for now, until this gets fixed in `apollo` v2.

[2017-10-14 06:33] ramandhingra opened #436 "Support for Roles and Permissions"
Wonderful work ! Can you add support for Roles which is a basic requirement in almost all the projects. A developer should be able to define multiple roles in a Constants file...

[2017-10-14 06:34] ramandhingra opened #437 "Support for Notifications using Web Sockets"
Is this feature already there?

[2017-10-14 06:44] mitjade commented on #436
@ramandhingra You could extend `createResolver` to something like `requiresRole.createResolver` in `/src/server/modules/user/permissions.js` or replace it with something like [graphql-auth](https://github.com/kkemple/graphql-auth) `withAuth`.

Something like this is planed but not in the near future. If you manage to implement something your self before, any PRs are welcome. Also if you need some

[2017-10-14 06:48] mitjade commented on #437
@ramandhingra Please consider using https://gitter.im/sysgears/apollo-fullstack-starter-kit, for general questions. This kit has `apollo subscriptions` setup and you can see implementation examples in `counter` and `post` examples.

[2017-10-15 09:42] msand commented on #436
Has integration with https://github.com/postgraphql/postgraphql been considered? It has the user, roles and row-level-security of PostgreSQL with a GraphQL api, works beautifully.

[2017-10-15 09:48] vlasenko commented on #436
@msand I cannot imagine how to integrate this starter kit with PostGraphQL. PostGraphQL seems to be PostgresQL specific, whereas this kit should be a generic platform for cross-platform (mobile, web and server) GraphQL application not tied to any particular database engine.

[2017-10-15 09:51] msand commented on #436
@vlasenko True, was considering more if @ramandhingra wants roles etc. then it can be a great alternative to use that, as the postgres implementation is probably more robust and battle tested than anything custom made.

[2017-10-15 16:17] coooolers commented on #436
For custom-made roles/permissions, security (cors and helmet express packges), Forgot/Reset Password, ProtectedRoute react component (redirect to login), Integration with nodemailer/mailgun, you may take cues from this package. I am sure it is well-tested.

 https://github.com/strues/boldr

[2017-10-17 00:55] JoeNoPhoto opened #438 "DB settings in .env must be single-quoted or else the default DB will be used in Postgres.app (OSX)"
~~Leaving this here for anyone who doesn't work with backends often and get stuck banging their head against a wall.~~

~~in the .env file, you must use single quotes in DB_:~~
[code]
I didn't understand why every time I tried to migrate, 'JoeNoPhoto' was being used as a database and role. Turns out that if you're using Postgres.app on mac:

~~The entire problem was that I wasn't using the single

[2017-10-17 03:40] vlasenko commented on #438
@JoeNoPhoto Have you tried to dump your process.env in the top of `config/db.js` via
[code]
?
Maybe this will add you clues about whats going on?

[2017-10-17 04:44] mitjade commented on #438
@JoeNoPhoto Please try again. Made a change that should also work for `yarn seed` command.

[2017-10-17 07:45] mitjade commented on #429
It was removed in #420, since it is no longer needed.

[2017-10-17 07:45] #429 closed

[2017-10-17 07:47] mitjade commented on #268
#420 Has been merged, that has this implemented. Please login as `admin@example.com:admin` and go to `Users` page to see it in action. Documentation will be added a bi later.

[2017-10-17 07:47] #268 closed

[2017-10-17 07:48] #426 closed

[2017-10-17 07:50] mitjade commented on #390
#420 has been merged. Basic user management implementation is now working.

[2017-10-17 07:50] #390 closed

[2017-10-17 08:11] mitjade commented on #428
Also adding new post does not add it to the cache. Having a separate browser open, it seems to be added correctly through subscriptions.

[2017-10-17 08:31] vlasenko commented on #428
@mitjade Mitja, this sounds like problem in `apollo-cache-inmemory`. We are using `0.2.0-beta.2`, but there are like dozen releases after that of this library. Maybe we can try our luck with the latest release?

[2017-10-17 08:32] mitjade commented on #428
@vlasenko Will update on my side and check if this will fix something. Anyway I think we can upgrade the packages.

[2017-10-17 08:34] vlasenko commented on #428
@mitjade Yep, we can upgrade them to the latest versions anyway.

[2017-10-17 08:53] mitjade commented on #428
@vlasenko Am doing this now, just so we do not both do it :)

[2017-10-17 09:00] vlasenko commented on #428
@mitjade Not going to happen :) I'm fully focused on `spin.js`

[2017-10-17 09:07] mitjade commented on #428
@vlasenko Updated to latest `apollo` packages. Does not solve any of the problems :(

[2017-10-17 09:10] vlasenko commented on #428
@mitjade At least we know, thank you Mitja!

[2017-10-17 16:18] coooolers opened #440 "Error when the command yarn seed is run"
/Project/apollo-universal-starter-kit$ yarn seed
yarn run v1.2.0
$ npm run migrate && knex seed:run

Using environment: development
Already up to date
Using environment: development
Error: SQLITE_ERROR: no such table: auth_local
error Command failed with exit code 1.

[2017-10-17 17:00] vlasenko commented on #440
@coooolers You should drop `dev-db.sqlite3` and run `yarn seed` again, the schema has changed.

[2017-10-17 17:08] coooolers commented on #440
but i am running this kit for the very first time

[2017-10-17 17:41] JoeNoPhoto commented on #438
That did the trick and the quotes weren't necessary. Thanks.

[2017-10-17 17:41] #438 closed

[2017-10-17 18:23] coooolers commented on #440
This problem has been solved but while running 'yarn watch', I get this error:
[HPM] Error occurred while trying to proxy request / from localhost:3000 to http://localhost:8080 (ECONNREFUSED) (https://nodejs.org/api/errors.html#errors_common_system_errors)
[HPM] Error occurred while trying to proxy request /favicon.ico from localhost:3000 to http://localhost:8080 (ECONNREFUSED) (https://nodejs.org

[2017-10-18 03:37] #440 closed

[2017-10-18 03:40] vlasenko commented on #440
@coooolers Please use separate tickets for separate issues. For your last issue please provide reproduction steps

[2017-10-18 09:02] coooolers opened #442 "Error when the command 'yarn watch' is run"
[HPM] Error occurred while trying to proxy request / from localhost:3000 to http://localhost:8080 (ECONNREFUSED) (https://nodejs.org/api/errors.html#errors_common_system_errors)
[HPM] Error occurred while trying to proxy request /favicon.ico from localhost:3000 to http://localhost:8080 (ECONNREFUSED) (https://nodejs.org/api/errors.html#errors_common_system_errors)

[2017-10-18 09:08] vlasenko commented on #442
@coooolers The issues like this are not welcomed here. I have asked you to provide reproduction steps.

[2017-10-18 10:08] coooolers commented on #442
I simply followed these steps:

git clone https://github.com/sysgears/apollo-universal-starter-kit.git
cd apollo-universal-starter-kit
yarn
yarn seed
yarn watch

[2017-10-18 10:31] mitjade commented on #442
@coooolers Can you provide some additional info like your os, node version, from which commit onward does this happen, in case you ware able to run this kit before with no problems.

[2017-10-18 10:49] coooolers commented on #442
To update to the latest version, I did some "git pull" in the last few days and probably because of that this error was there,

Just now, I did the fresh reinstall and it worked fine.

Thanks.

I am closing this issue.

[2017-10-18 10:49] #442 closed

[2017-10-18 11:07] coooolers opened #444 "Using UI React components library"
This code is using styled-components. I want to use a library like semantic-ui-react or antd which will help me save time styling the components, they offer a number of ready-made UI components, and probably other third-party components like google-map-react. At the same time I don't want to do anything which does not favor the rules constrained by this boilerplate.

How can I use such libraries a

[2017-10-18 11:13] mitjade commented on #444
#441 This PR will attempt to solve this problem. It will take a while before it will be ready.

[2017-10-18 11:15] mitjade commented on #444
This kit is using `reactstrap` along side `styled-components`, which is similar to `semantic-ui-react` but for `twitter bootstrap`.

[2017-10-18 11:37] vlasenko commented on #442
@coooolers Thanks for the update

[2017-10-18 19:54] JoeNoPhoto opened #446 "[Question] Why doesn't .flowconfig ignore all node_modules?"
I'm just trying to understand the thought process of what's going on in the kit - and in this particular case - the flowconfig

In atom, my diagnostics show 147 errors - all warnings - and only one of which isn't in various node_module folders. The .flowconfig ignore only mentions a dozen or so node_modules. Why not all?

[2017-10-19 04:26] JoeNoPhoto opened #450 "[Postgres] 'yarn rollback' causes drop "post" and "user" table errors."
When using a postgres db, the following error occurs during the rollback:
[code]

There's an identical error appears for "user". I was able to fix it by swapping the "post" and "user" dropTable(s) to the end of their respective exports.down Promises:

**migrations/003_post.js:**
[code]
**to**
[code]

**migrations/002_user.js**
[code]
**to**
[code]

[2017-10-19 04:30] mitjade commented on #450
@JoeNoPhoto Thank you for reporting the issue and providing a fix! Would you be willing to make a PR for this?

[2017-10-19 05:35] JoeNoPhoto commented on #450
There we go.

[2017-10-19 06:42] mitjade commented on #450
@JoeNoPhoto Merged! Thank you for your help.

[2017-10-19 06:42] #450 closed

[2017-10-19 07:28] #446 closed

[2017-10-19 07:32] vlasenko commented on #446
@JoeNoPhoto Flow errors now should be fixed. We don't ignore all the `node_modules` because many dependencies declare flow types inside `node_modules`, for example `graphql` or `apollo-client` or `react-apollo`. We should exclude only those dependencies from `node_modules` that don't play well with flow and we don't use their types in the kit.

The issue with errors was that our flow checks became

[2017-10-19 07:32] #437 closed

[2017-10-19 09:26] JoeNoPhoto commented on #446
Thank you.

[2017-10-19 09:59] sakhmedbayev opened #454 "checkAuth does not properly work with Postgresql"
src -> client -> users -> containers -> Auth.js -> checkAuth function needs to be tweaked a little bit in order to properly work with Postresql.

on line number 39
[code]

[2017-10-22 08:44] mitjade commented on #428
https://github.com/apollographql/apollo-client/issues/2368

[2017-10-22 12:29] mitjade commented on #454
@sakhmedbayev You are correct. `MySql` and `SqlLite` return 0 or 1 for boolean types, but `postgres` returns true/false.

@vlasenko Do you know of any elegant way to solve this across all supported databases? `MySql` has `typeCast` to convert this to boolean, but `sqlite` does not. I see 3 solutions, non that I like:
- add to all if statements `(isAdmin === false || isAdmin === 0)`
- convert all s

[2017-10-22 12:45] vlasenko commented on #454
@mitjade I vote for converting all sql select results of boolean fiels to `Boolean`

[2017-10-22 12:58] vlasenko commented on #454
@mitjade But I'm not sure I see big problem in JS with 0 and false, both should be treated as false in JS. And non-zero should be treated as true. Just don't do (isAdmin == false), do (!isAdmin)

[2017-10-22 16:00] mitjade commented on #454
@vlasenko You are right. We just need to setup the code to support all 3 databases. Those who are using a specific one will know it's special features like this.

[2017-10-22 16:03] #454 closed

[2017-10-23 10:47] mitjade commented on #444
@coooolers #441 has been merged and offers the following:
By default `ui-bootstrap` is used to style all modules. If you would like to switch to `ui-antd`, all you need to do is make changes in `src/client/modules/index.js`, `src/server/modules/index.js` and `src/client/modules/common/components/web/index.jsx`.

If you would like to use something else, you can create a new `ui` module following th

[2017-10-23 10:47] #444 closed

[2017-10-23 10:48] mitjade commented on #389
This could now be accomplished in the same way as done in #441 PR, by creating a new `ui` module.

[2017-10-23 10:48] #389 closed

[2017-10-23 10:50] mitjade commented on #116
This could now be achieved in the same way as done for `ui-bootstrap` or `ui-and` with #441 PR.

[2017-10-25 11:24] mitjade commented on #428
Adding and editing posts has been resolved in latest packages. Double insert is still and issue.

[2017-10-25 11:33] sakhmedbayev commented on #428
In `PostComment` commenting out `updateQuery` solved the problem for me

[code]

[2017-10-25 11:36] mitjade commented on #428
@sakhmedbayev Yes. `updateQueries` seems to be the problem. But now you are only relying on sockets to update the data. Am investigating this now, if rewriting `updateQueries ` to `update` would solve the problem, since `updateQueries ` will be deprecated.

[2017-10-25 11:53] sakhmedbayev commented on #428
I am not sure if it is relevant, but try to check [this tutorial ](https://dev-blog.apollodata.com/tutorial-graphql-subscriptions-client-side-40e185e4be76), specifically this part:

[code]

[2017-10-25 12:25] mitjade commented on #428
I can reproduce the same scenario on [apollographql/GitHunt-React](https://github.com/apollographql/GitHunt-React).

[2017-10-26 12:49] mitjade commented on #436
#467

[2017-10-27 08:55] vlasenko opened #468 "Add support for server less architecture"
Investigate possibility of running back end in server less mode on AWS Lambda and similar server-less services

[2017-10-27 08:59] mitjade commented on #436
#467 is merged so closing this issue. Basic role permissions are added with the use of [graphql-auth](https://github.com/kkemple/graphql-auth).

[2017-10-27 08:59] #436 closed

[2017-10-27 18:12] coooolers opened #470 "Add Support for Filtering, Sorting Pagination, and Search"
First of all, this kit is maturing fast. Congratulations to the team.

Is it possible for the team to add support for the generic features like Filter, Sort, Pagination, Search. These could be applied to different components, let's say, Card, or Table.

Thanks

[2017-10-27 18:18] mitjade commented on #470
@coooolers Examples on how to implement this already exist. Pagination in `post` module and Sort, Filter and Search in `user` module.

[2017-10-27 18:21] coooolers commented on #470
ok. Is it server-side or client-side sort, filter, and pagination

[2017-10-27 18:29] mitjade commented on #470
@coooolers Examples are for server side. For client side takke a look at ‘antd’ Table component. It offers most of this out of the box.

[2017-10-27 18:54] coooolers commented on #470
Thanks you may close this issue

[2017-10-27 18:55] #470 closed

[2017-10-27 18:56] coooolers opened #471 "How about adding support for validations in one single place/file`"
It could be a client side validation or server side validation. For example password strength, unique email, reg ex pattern for email, custom reg ex pattern for password. All could be there in a single file.

[2017-10-27 19:00] mitjade commented on #471
@coooolers This is planed. Examples of all of this already exist, but will be refactored, unified and probably enhanced with something like [hapijs/joi](https://github.com/hapijs/joi).

[2017-10-27 19:02] coooolers opened #472 "Documenting the code"
It would really be great if you can explain what a particular piece of code is doing. This will help novice developers like me learn how things are actually working. If not possible, kindly write an article,

[2017-10-27 19:12] mitjade commented on #472
This is for sure where we need to improve the most. This is also planed, but might take some time to write this.

I would help if you would point out what is unclear and we can help out, or point you to some resources where something similar is explained.

[2017-10-27 19:25] coooolers commented on #472
Thank you.. I will. btw do you have a roadmap or is this kit "almost" complete? Can we use it in production now?

[2017-10-27 19:29] coooolers commented on #472
for now.. i have a question. Redux is there to maintain the client-side state in a single store. Now if we use third-party components like antd Table or let's say react-google-maps, how is it possible to maintain the state of our own components and third-party components in the redux (single place) store?

[2017-10-27 19:30] mitjade commented on #472
Roadmap can be found here #176.

Kit is already production ready. Module examples are intended to demonstrate the kit capabilities and not to be taken as bullet proof, but more as proof of concept.

[2017-10-27 19:32] mitjade commented on #472
@coooolers This question is outside the scope of this kit.

[2017-10-27 19:32] coooolers commented on #472
yes i know :)

[2017-10-27 19:33] mitjade commented on #472
Also please use [gitter](https://gitter.im/sysgears/apollo-fullstack-starter-kit?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge), for general discussion.

[2017-10-29 17:14] avsmithy opened #475 "Gitignore includes src/*/upload folders"
The current .gitignore file contains the line `upload` (which I assume is intended to only ignore the upload folder in the root of the project that is created when you upload a file to the app). This causes git to ignore the `upload` folders inside src. If you download a zip of the repo (or delete the git folder after cloning it), then these folders will be (incorrectly) ignored.

[2017-10-29 18:20] #475 closed

[2017-10-29 18:21] vlasenko commented on #475
@avsmithy Thank you for reporting! Should be fixed via:
https://github.com/sysgears/apollo-universal-starter-kit/commit/c98cb732d6486a3f5cb6d654d95038bb2a322218

[2017-10-29 18:21] avsmithy commented on #475
Speedy fix ;)

[2017-10-30 05:25] vlasenko commented on #471
@mitjade It would be great to compare `joi` with https://github.com/gcanti/tcomb-validation for the purpose of validation. We are using `tcomb` for flow type checking during runtime, so maybe it will be beneficial to build validation layer on top of that.

[2017-10-30 07:16] mitjade commented on #471
@vlasenko Sure. Will do!

[2017-10-30 07:26] vlasenko commented on #471
@mitjade Though after giving this problem more thought, I think that `joi` will be the safe bet for now. At least until GraphQL will come up with custom validation support:
https://github.com/graphql/graphql-js/issues/361

[2017-10-30 08:58] mairh commented on #471
I guess client-side validation can be done solely by `redux-form` (which we are already using). Isn't it?

[2017-10-30 09:00] vlasenko commented on #471
@mairh Yes, but ideally we want validation for server-side and client-side and written in one place

[2017-10-30 10:30] vlasenko commented on #471
To be honest this topic bothers me way much. Seems GraphQL schema has no decent mechanisms for custom validation at the moment, neither they are planned from what I see in various discussions. Custom validation (including authorization) is a corner stone in application logic. If you will try to use GraphQL schema as a single source of truth, then you will inevitably come to the solution, when you

[2017-10-30 12:32] mitjade commented on #471
@vlasenko I completely agree. Do you propose something like this could be done for this kit? How do you generate the GraphQL schema and database tables from simple-schema? Can this validation then also be used for redux-from?

Initially my plan was to just get started on this path and do one or two peaces of this puzzle, but I am really not keen on defining the schema jet one more time. We already

[2017-10-30 12:52] vlasenko commented on #471
@mitjade Absolutely. Add to that Flow types / TypeScript types for all entities, which is another schema.And you need to synchronize all of them in the project. Yuck! Thats why I use `simple-schema` to define application domain objects schema, validation rules and business-specific app metadata and then generate GraphQL types (only types, not queries, mutations or subscriptions).

My code to defin

[2017-10-30 12:53] vlasenko commented on #471
@mitjade Because my solution is hugely opinionated I am not sure if it is good fit for this starter kit

[2017-10-30 13:09] mitjade commented on #471
@vlasenko I see your concern. I will most certainly follow your approach for my projects, since having this now defined in multiple places really bothers me, but putting this in the kit am not so sure my self.
@mairh what is your opinion on this matter?

[2017-10-30 13:11] vlasenko commented on #471
@mitjade Well I can submit one example for client and server that uses Simple Schema, just to let people know that this approach can be used, but leave other examples untouched.

[2017-10-30 13:12] mitjade commented on #471
@vlasenko That would be fantastic! How do you than handle relations, do you have some solution for writing query resolvers, or do you handle this manually?

[2017-10-30 13:16] vlasenko commented on #471
@mitjade I'm not there yet, but since you can attach any metadata fields to this schema with any structure, like for example my `ui` metafield, you can add relations info this way as well.

[2017-10-30 13:22] vlasenko commented on #471
@mitjade With keeping application domain schema this way it is easy to generate forms as well:
[code]

[2017-10-30 13:24] vlasenko commented on #471
But of course inside it looks like a separate framework around simpl-schema, to generate GraphQL, SQL tables, React forms, etc

[2017-10-30 13:31] mitjade commented on #471
@vlasenko I always thought GraphQL schema should be the main place to define it all (and ideally that is probably true). But if you take your approach all this possibilities come to life.

[2017-10-30 13:32] vlasenko commented on #471
@mitjade I also wanted to use GraphQL schema as a single source of truth, but in practice for now it is not possible, so I reverted to custom schema as single source of truth, and when I use this custom schema that I have full control of, I can generate everything I need from it

[2017-10-30 13:34] mitjade commented on #471
@vlasenko I would love to contribute to this approach if you would share an example of it.

[2017-10-30 13:36] mitjade commented on #471
Maybe rework user example to it and try to find a solution for relations.

[2017-10-30 13:36] vlasenko commented on #471
@mitjade I would share, but I'm not sure should I add a new "feature" or contribute it to some existing feature. I'm not a fan of creating another feature, because we have too many unfinished features, that are not available on all the platforms. I would rather have less of the features but supported over all platforms

[2017-10-30 13:37] vlasenko commented on #471
@mitjade Yes, user example would be perfect candidate I think

[2017-10-30 13:40] mitjade commented on #471
I think user management is a cornerstone of any framework. I think many people used Meteor and still do just because of it's great user plugin. So my wish was to try and start something similar for this kit.

[2017-10-30 13:44] vlasenko commented on #471
Yep, and extendable simple-schema with validation on client-side and server-side is what I miss from Meteor the most

[2017-10-30 13:52] mitjade commented on #471
Now you really got me exited. I intend to port user example to mobile, but to many things still bothered me with the current state and quite a few could be resolved with having an extendable simple-schema.

[2017-10-30 18:07] josephdburdick opened #479 "Cannot run project"
Hello, I've been keeping up with the project and wanted to give the auth/admin stuff a test run but couldn't run anything.

Here's the output trying to run `yarn seed`:

[code]

[2017-10-30 18:09] vlasenko commented on #479
@josephdburdick
[code]

[2017-10-30 18:17] josephdburdick commented on #479
That worked. 👍

Props @vlasenko and the rest of the contributors for all the progress.

[2017-10-30 18:17] #479 closed

[2017-11-02 14:25] wojcikiewiczm opened #483 "GraphQL redux integration"
Hello, I noticed that when i try to for example load data via graphql no action is fired in redux (DevTools). In previous version all graphql actions was also catched by redux. It's bug or feature?

[2017-11-02 14:27] vlasenko commented on #483
Hi
@wojcikiewiczm It is a "feature" of Apollo Client 2. In Apollo Client 2 the GraphQL cache is no longer maintained in Redux, but rather stored separately. However Apollo Team talked about possibility of writing an adapter for Redux to store the cache into it. When such adapter become available we will integrate it.

[2017-11-02 14:29] wojcikiewiczm commented on #483
Oh okay thanks. I need this feature because of global codelists. I need to be able get codelist anytime anywhere.

[2017-11-02 14:48] vlasenko commented on #483
@wojcikiewiczm You can continue using Apollo 1 branch of the kit meanwhile. We support it:
https://github.com/sysgears/apollo-universal-starter-kit/tree/apollo1

[2017-11-02 16:00] #483 closed

[2017-11-02 21:06] JoeNoPhoto opened #484 "Is there a reason the *.graphql code is double-indented?"
It's hard to see in github but all of the .graphql files are indented twice for each line. Example:
_(AddCounter.graphql)_
master
[code]
vs.
[code]

AFAIK, It's only happening in the .graphql files so I was curious as to if there was a specific reason.

[2017-11-03 09:29] mairh commented on #484
We can change that to 2 spaces like any other files. `yarn lint` does prettify `.js` and `.jsx` files but not `.graphql` files. I can push the changes to the ki.

[2017-11-03 09:45] mairh commented on #484
Fixed via https://github.com/sysgears/apollo-universal-starter-kit/commit/cb0f63e7e1249c7dfb3a80cb964f367436cbbb7b

[2017-11-03 09:45] #484 closed

[2017-11-03 20:38] JoeNoPhoto commented on #484
Thank you for the explanation.

[2017-11-04 19:53] coooolers opened #485 "Verify Email Address by sending a confirmation link to that address when a new user registers"
Forgot password has this support. Similarly, we can add support when a new user signs up

[2017-11-04 19:56] coooolers commented on #471
Is this SO answer of any help ...

https://stackoverflow.com/questions/32662437/graphql-and-form-validation-errors

[2017-11-04 23:02] mairh commented on #485
We have this feature already in the kit https://github.com/sysgears/apollo-universal-starter-kit/blob/master/src/server/modules/user/resolvers.js#L104

What problem are you facing?

[2017-11-05 01:17] dcurletti opened #486 "User Registration is Broken"
The default FB login example is broken.  It fails here:
https://github.com/sysgears/apollo-universal-starter-kit/blob/1b7818e2e0f27b77165cfb45ca563dac4645d392/src/server/modules/user/index.js#L37
because `User.register` requires a password

Also,
https://github.com/sysgears/apollo-universal-starter-kit/blob/1b7818e2e0f27b77165cfb45ca563dac4645d392/src/server/modules/user/index.js#L39

`User.create

[2017-11-05 11:59] mitjade commented on #486
Should be fixed now with [a44cef4](https://github.com/sysgears/apollo-universal-starter-kit/commit/a44cef4cd81eae1e77be5c394f7d9e13a826fdd7). Thanks for reporting.

[2017-11-06 18:22] dcurletti commented on #486
sweet. thank u.

[2017-11-06 18:22] #486 closed

[2017-11-07 02:00] krzysztofp opened #490 "Can't publish app"
I'm using Expo XDE. When I press publish button I'm getting this error:
[code]

[2017-11-07 04:12] vlasenko commented on #490
@krzysztofp You should not use Expo XDE, it does not support the way this project is configured. This project supports launching on iOS Simulator and Android Emulator simulatenously, Expo XDE does not support it.

Please read instructions on how to launch the kit:
https://github.com/sysgears/apollo-universal-starter-kit

[2017-11-07 04:14] krzysztofp commented on #490
@vlasenko I'm using iOS Simulator and it works perfectly fine. I'm just trying to publish my project to my client so she can play around with it. Normally with XDE I'd use Publish feature, but the way project is configured make this impossible - from where should I start to fix it?

[2017-11-07 04:17] vlasenko commented on #490
@krzysztofp Oh, you are right. This is not in the documentation. We have section about building standalone apps, but not about publishing on Expo:
https://github.com/sysgears/apollo-universal-starter-kit#building-standalone-mobile-apps-for-play-store-and-app-store

However publishing on Expo is the same, e.g.:
`yarn exp publish`

[2017-11-07 04:27] vlasenko commented on #490
@krzysztofp Actually this seems to be broken now, let me fix it quickly

[2017-11-07 05:22] krzysztofp opened #491 "yarn exp bi error"
What am I doing wrong here?

I'm running:
$ yarn build
[code]
And then:
$ yarn exp bi
[code]

[2017-11-07 05:30] #490 closed

[2017-11-07 05:31] vlasenko commented on #491
@krzysztofp Nothing wrong, it is a bug, that should be fixed now via:
https://github.com/sysgears/apollo-universal-starter-kit/commit/092e0400e10f31f966e149b3fec6c8a3e71f2da5

[2017-11-07 05:53] krzysztofp commented on #491
@vlasenko many thanks, works perfectly now:

$ yarn exp publish
[code]
$ yarn exp bi
[code]

[2017-11-07 05:53] #491 closed

[2017-11-08 07:45] coooolers commented on #485
Ok fine if it is there..

Now there is an issue ...
I am already Logged In and still I can use the Forgot Password Functionality. Ideally, the user should not be able to browse both the Login/Forgot Password and Register routes (also hide these links from the main page) if she is already logged in. Instead, the Logout button is shown which when clicked takes the user to the main page and she shoul

[2017-11-08 07:49] coooolers opened #492 "Few more general features"
I understand this is a starter kit but if somebody has time to implement these features, it'd be great...

Add the Google Recaptcha during the registration
Track the user IP every time she does a login
Maximum 'n' number of attempts a user can make to login. If she fails, inactivate the user.
Able to register using Mobile and One Time Password. This feature will discourage the fake user registrati

[2017-11-08 09:20] mairh commented on #485
Yes, that can be improved. `/login` path is not currently secured by auth. We need to redirect user (let's say to homepage) if the user is already logged in and tries to manually enter `/login` url in the browser.

[2017-11-08 09:21] mairh commented on #485
By the way, you do see the logout link on the top nav bar once you successfully log in. The only issue that can be improved is to secure `/login` and `/register` route for logged in user.

[2017-11-08 18:55] coooolers commented on #485
could you pl. make the appropriate additions in the code and complete this missing functionality?

[2017-11-09 10:21] mairh opened #495 "Refactor add/edit user component"
At the moment any admin is able to change the password of any user, which should not happen.

What I propose is to make the following changes:

1) Add user - Same as the current one.
2) Edit user - Remove the password fields from the form.
3) Email - Send an email to the user when added by admin.

What do you think @mitjade

[2017-11-09 10:23] mairh commented on #485
I will create a new issue for securing `/login` and `/register` route for logged in user

[2017-11-09 10:25] mairh opened #496 "Secure /login and /register route for logged in user"
At the moment a logged in user can access `/login` and `/register` route by entering it manually in the url address bar, which should not happen.

[2017-11-09 10:25] mairh commented on #485
Created https://github.com/sysgears/apollo-universal-starter-kit/issues/496

[2017-11-09 10:25] #485 closed

[2017-11-09 10:30] mitjade commented on #495
1. Usually I am the admin and I mostly create users with different roles than mine.
2. If I am the admin user, I would still like to be able to change the password.
3. Should be an option.

[2017-11-09 11:24] mairh commented on #495
1) I agree
2) Why would someone else be able to change the password for someone else's account? That seems to be a complete breach of privacy. One should have access to change/ modify the password for privacy, not anyone else.
3) Pretty easy to do.

[2017-11-09 11:28] mitjade commented on #495
I use this for a project that is only used for employees and we set passwords for them, so they do not enter `admin123` or something. I agree that this is not the most used case, but I still need to be able to set the password as an admin.

[2017-11-09 11:29] mitjade commented on #495
I know this can be enforced with some `RegExp`, but it is easier for me just to do it for them.

[2017-11-09 11:33] mitjade commented on #495
I gmail I am also able to set passwords for for users if I have a `domain` account. But there you can have a random one generated, force the user to reset it after login etc.

[2017-11-09 11:34] mairh commented on #495
I completely understand the project need and it makes sense in your use-case. However, as a starter kit, I guess we should follow the usual practice. Since changing the password for someone else is not really an industry practice and most of the apps don't allow you to do that. Just my 2 cents

[2017-11-09 11:37] mitjade commented on #495
I agree. I just need the option to do that anyway. It can become a setting, turned off by default, but I do not want to remove this and then reimplement it on my project.

[2017-11-09 11:39] mairh commented on #495
Sure. We can come up with some flag to hide the password filed from edit user.

[2017-11-09 11:40] mitjade commented on #495
ok

[2017-11-09 13:24] mairh commented on #495
Fixed via https://github.com/sysgears/apollo-universal-starter-kit/pull/497

[2017-11-09 13:24] #495 closed

[2017-11-09 15:08] coooolers opened #499 "Assign default 'User' role to end users of the system during Registration"
Consider that there are 3 roles: admin, staff, and user. In a config file, make a variable DEFAULT_ROLE and set its value to 'user' (role).

There is a Register button on the main home page. Now when a new user registers and saves her registration details, the system should assign her the DEFAULT_ROLE i.e. the 'user' in our case.

Thanks for your great work

[2017-11-09 16:22] coooolers commented on #495
Let me add something to this discussion thread. The users are typically created by an administrator in Blog, Forum like web applications and are typically given the roles of moderators, editor, etc. In most of the web apps, an admin creates the co-admins and not regular users.

However, in all the cases, the admin does not create/enter the password of the other users. He can make them Inactive, if

[2017-11-09 16:27] coooolers commented on #495
Also the same Enter Password screen can be used to modify the screen. There should be a menu option My Profile - Settings - Modify Password.

[2017-11-09 16:43] coooolers opened #500 "Refactor New User component"
Let me add something to this discussion thread. The users are typically created by an administrator in Blog, Forum like web applications and are typically given the roles of moderators, editor, etc. In most of the web apps, an admin creates the co-admins and not regular users.

However, in all the cases, the admin does not create/enter the password of the other users. He can make them Inactive, if

[2017-11-09 17:34] sejr opened #501 "QR Code is not showing on `yarn watch`"
I would like to view this application on my mobile device but I am not seeing a QR code anywhere.

[2017-11-09 17:48] vlasenko commented on #501
@sejr Have you enabled `android` or `ios` builder in `.spinrc.json` ?

[2017-11-11 08:53] vlasenko commented on #501
Closing because of no response

[2017-11-11 08:53] #501 closed

[2017-11-11 08:54] vlasenko commented on #385
Implemented in #423

[2017-11-11 08:54] #385 closed

[2017-11-11 17:51] MichelDiz opened #503 "Erro build / node-pre-gyp install --fallback-to-build"
System - CentOS
command = Docker-compose up

Fail.

[code]

[2017-11-11 20:21] MichelDiz commented on #503
I was able to reproduce the error in another environment that escapes my administration and is public.

Video proof xD https://youtu.be/-Jv6keQ94i4
5:28 min

[2017-11-12 09:48] KenilDomadia opened #504 "Question regarding apollo and redux store"
Isn't it a bad practice to use apollo and redux store concurrently when already apollo has its own store?

I am new to apollo and searching for an ideal boilerplate for apollo integrated react-native project. I found this repository really helpful to start with my project.

[2017-11-12 15:01] vlasenko commented on #504
@KenilDomadia Apollo 2 doesn't use Redux store

[2017-11-12 15:10] #503 closed

[2017-11-12 15:19] fusionbeam opened #505 "nodejs debugger"
Could not find in the documentation instructions on how to start nodejs in debug mode while using spinjs configuration.
Thanks.

[2017-11-12 15:29] vlasenko commented on #505
@fusionbeam It is started in debug mode automatically, during `spin watch`

[2017-11-12 15:33] vlasenko commented on #505
[code]

[2017-11-12 16:32] KenilDomadia commented on #504
I read [here](https://www.apollographql.com/docs/react/2.0-migration.html#redux) that apollo 2.0 moves away from redux completely and can be used as caching layer, logging, etc. As long as, offline support for app isn't required, we can move away from redux completely. Can we apply it for this boilerplate?

[2017-11-12 18:33] vlasenko commented on #504
@KenilDomadia Why should we move away from "Redux" at all? With Apollo 1 (in `apollo1` branch of this kit) we use single Redux store for Apollo Cache and Redux, no concurrent usage in that branch. In the master we are using Apollo 2, which doesn't use Redux for the cache, and we use Redux separately, as an example. So your argument that Redux used concurrently for Redux store and Apollo cache NEVE

[2017-11-13 04:34] sakhmedbayev opened #506 "Retrieving uploaded files"
Thanks for including the upload example in this kit! Would be awesome to have an example of how the files can be retrieved and used on the front-end. Perhaps the user module can support avatars?!

[2017-11-13 20:26] KenilDomadia commented on #504
Thanks for the explanation. Most of this makes sense now, but I still have a doubt. When we use reducers, it needs to be combined and passed to the redux store (which makes passing data down the components easier). So in the `modules/` directory along with the apollo store, there is redux store for front-end state management. Is it possible to do front-end state management using apollo store which

[2017-11-14 08:57] KenilDomadia commented on #504
That helped. Thanks!

[2017-11-14 08:57] #504 closed

[2017-11-14 09:22] #505 closed

[2017-11-14 12:59] mairh commented on #499
`user` role is assigned by default during registration https://github.com/sysgears/apollo-universal-starter-kit/blob/master/src/server/database/migrations/002_user.js#L8.

Reopen the issue if you encounter any bug.

[2017-11-14 12:59] #499 closed

[2017-11-16 09:46] mairh commented on #428
@mitjade Do we have any new news about this bug?

[2017-11-16 09:47] mairh commented on #428
ah ok. Saw this now https://github.com/apollographql/apollo-client/issues/2368

[2017-11-16 09:49] mairh commented on #428
I think this is a priority bug and very annoying to see result twice.

[2017-11-16 09:52] mitjade commented on #428
@mairh It is an `apollo-client` bug and since they seem to ignore it, the only thing I could do is find a workaround, but will rather wait for the fix.

[2017-11-16 09:55] mairh commented on #428
Yes, I am aware that it's not our fault. I was talking in a respect that they should have taken the task already.

[2017-11-16 09:57] mitjade commented on #428
@mairh I presume they are busy with other stuff, but there is some activity on this front. They first removed the `data` from the subscription result and now brought it back, so I guess it will be handled eventually.

[2017-11-16 16:31] coooolers opened #511 "Missing fields in User schema"
resetToken, resetTokenExp, verificationToken, verificationTokenExp, salt, etc.

[2017-11-16 20:07] johnthepink commented on #511
I'm not sure these are actually missing. The reset password and verification functionality is implemented using JWT (JSON Web Token), which actually stores the user's email and expiration inside of it. A password salt field is not necessary since bcrypt is being used. Bcrypt stores the salt alongside the encrypted password in one field.

[2017-11-16 21:04] seeden opened #513 "subscribeToMore | question"
Hi guys is subscribeToMore working for you correctly?
I am automatically unsubscribed after first data from subscription. Here is my ticket https://github.com/apollographql/apollo-client/issues/2581
I am just curious if it is working for you.
Thank you for you answer

[2017-11-17 05:53] coooolers commented on #511
Ok.. Thanks for the explanation.

[2017-11-17 05:53] #511 closed

[2017-11-17 06:04] coooolers opened #516 "Support for Code Splitting?"
Does this kit support the Code Splitting feature?

react-universal-component is quickly becoming a standard ...
The final answer to a React Universal Component: simultaneous SSR + Code Splitting
https://github.com/faceyspacey/react-universal-component

Several have been using this:
https://github.com/ueno-llc/starter-kit-universally
https://github.com/strues/boldr/blob/fd58c717de6ee841ac0783314ad4

[2017-11-17 06:56] vlasenko commented on #516
@coooolers Not yet. We are busy with various other features implementation. But it would be great feature to add. If anyone starts to work on this we will be interested to add it and will help

[2017-11-17 08:55] mitjade commented on #513
@seeden I'm testing this out and it seems we have the opposite problem. I never unsubscribe when leaving the page, but should on `componentWillUnmount()`

[2017-11-17 20:27] seeden commented on #513
@mitjade I found problem in apollo-link-dedup. Without it is working. But I have same issue like you :) Thanks

[2017-11-17 20:27] #513 closed

[2017-11-18 22:40] MichelDiz commented on #375
@vlasenko @mitjade I still have that issue. Even not using Docker. See the video https://youtu.be/o-tghyZ5eFc . It only works on port 3000. I reread everything we talked about in this issue, reviewed everything and this problem continues. It's only in development mode. I'm reporting this because I believe this should not be the behavior of the Kit. This is a clean instalation as before. All "clean

[2017-11-22 13:46] H1net opened #523 "pre-commit hook fail on template graphql with addmodule"
With the latest in master, if you do `yarn cli addmodule testmod`, `git add -A`, and then `git commit` the pre-commit hook fails because of the empty graphql files with an error like below:
[code]
I notice that similarly empty files do not throw this error for previous modules I created, though the new files seem to have "Query" in the filename so I presume some changes have been made?

[2017-11-22 14:43] mairh commented on #523
@mitjade Can you have a look. I guess this is the culprit https://github.com/sysgears/apollo-universal-starter-kit/commit/1b94d41726a2046f6da163aa081a64ae931e652e

[2017-11-22 16:23] mitjade commented on #523
@H1net @mairh I am aware of this probmem. Will soon push some cli changes that will resolve this.

[2017-11-23 16:18] vadimsg opened #525 "Best way to add mongodb?"
Hello there,

What would be the best way to add mongodb to this starter-kit? SQL will not do for my project.
Was looking in issues and was surprised no one was asking before it.

Thanks for any information!

[2017-11-23 17:04] vlasenko commented on #525
@vadimsg The kit is database-agnostic. It is examples of server-side modules, e.g. `src/server/modules` that use particular database. So add your own server module and use MongoDB, or graph database (this is what several people do), or anything else. Maybe start with porting counter example to MongoDB

[2017-11-23 17:53] vadimsg commented on #525
@vlasenko Thanks for the reply! By the way maybe some one has a mini example for mongo server module or directions what is needed to be done, what to connect to include other db support so this kit works with it as good as with out of the box supported db. Looking at those different settings/configs for mysql, pg, sqlite that somehow work together with this kit and different libraries are not help

[2017-11-23 18:46] MichelDiz commented on #525
When I do some testing of another database in this Kit. I usually create a generic connector inside the folder "/src/server/sql/myCustomConnector.js". After that I only add in the module sql.js the path of this connector and make my calls normally. You do not even need to take the Knex out of the kit.

You can use "/src/server/modules/myModule/sql.js" or modify the sql.js name to "mongodb.js" just

[2017-11-24 08:41] vadimsg commented on #525
@MichelDiz Thanks a lot!
Other tips, best practises for this module are welcome.

[2017-11-24 09:24] vlasenko commented on #170
@sakhmedbayev @hhashmi I believe the problem with including 3rd party css styles should be finally resolved now via: https://github.com/sysgears/apollo-universal-starter-kit/commit/36ad9fd985d7b930ce805142e0501f3e36e84851 and
https://github.com/sysgears/spinjs/commit/310fa92f8b953be0f425d6f18cc87b4d9198d666

[2017-11-24 09:28] sakhmedbayev commented on #170
Thank you @vlasenko for letting us know. Happy Thanksgiving :)

[2017-11-24 09:29] vlasenko commented on #170
Happy Thanksgiving @sakhmedbayev :)

[2017-11-27 12:25] fusionbeam opened #526 "Plist.Info/AndroidManifest.xml"
Loving your starter-kit so far.
What one should do if a component requires some iOS/Android specific project settings.  ?
(I.e. I am using a camera component that requires some configurations to be put in Plist.Info/AndroidManifest.xml.)

[2017-11-27 12:35] vlasenko commented on #526
@fusionbeam The kit uses Expo. So you can refer to Expo docs to find out what customization it supports:
https://docs.expo.io/versions/latest/sdk/camera.html
If this doesn't cover your needs, you should eject from Expo to ExpoKit by executing:
`yarn exp detach`
https://docs.expo.io/versions/latest/guides/expokit.html
Theoretically this should work, but in practice we haven't tested how it works no

[2017-11-27 13:43] fusionbeam commented on #526
thank you.

[2017-11-27 14:27] fusionbeam commented on #526
I've tried to add Expo's camera into the project.
Created a client module.
The moment I import Expo from 'expo' it complains
[code]
Am I missing something again?

[2017-11-27 14:30] vlasenko commented on #526
@fusionbeam Well, you should not do it from the component that is included also for Web, since Expo is only available on mobile platforms. What file did you modify / add?

[2017-11-27 14:35] fusionbeam commented on #526
All I did was this inside the generated mobile component container:
[code]

[2017-11-27 14:36] vlasenko commented on #526
@fusionbeam Yes, but this is critical on what platforms this component is built. It should be built only on mobile platforms, not on Web

[2017-11-27 14:38] fusionbeam commented on #526
I see. how do I reduce a newly created component scope to mobile only?
I've used cli addmodule camera client

[2017-11-27 14:38] vlasenko commented on #526
@fusionbeam How this file is named and where from which file do you import it?

[2017-11-27 14:42] vlasenko commented on #526
@fusionbeam I think addmodule cli cannot deal with this properly. Check out the code in `src/client/modules/counter`, see that it has mobile-only `index.jsx` and web-only `index.web.jsx` in the root of counter folder. You need to do the same for your component.

[2017-11-27 14:44] fusionbeam commented on #526
import CameraScreen from './containers/CameraScreen';
it is imported in both index.jsx and index.web.jsx.
can i delete the index.web.jsx? or shall i create a dummy component for the web

[2017-11-27 14:45] vlasenko commented on #526
@fusionbeam Create dummy component for index.web.jsx, if you delete it, index.jsx will be used on ALL platforms

[2017-11-27 14:52] fusionbeam commented on #526
got it. thanks again.

[2017-11-27 15:22] fusionbeam commented on #526
it is compiling fine now, but the view is unable to access the component's state. (a variable inside the component class).
I'm guessing it has to do with the ApolloClient wrapper ...
Is there an example in the starter kit for a component that doesn't use Apollo?
[code]

[2017-11-27 15:25] vlasenko commented on #526
@fusionbeam I have a question looking at this code, how are you going to access state if your component is `stateless`? If you are going to work with state, you should have stateful component:
`class CameraScrennView extends React.Component {`

[2017-11-27 15:27] fusionbeam commented on #526
That was the component view.
The component container is
[code]

[2017-11-27 15:34] fusionbeam commented on #526
never mind. i've figured it out. thanks a lot for your time and patience.

[2017-11-27 15:34] #526 closed

[2017-11-27 15:54] sakhmedbayev opened #527 "tests script picks up wrong db config"
I am using postgresql in my project. The `let DB_TYPE` variable is set to `pg` in /config/db.js file. Running tests throw the following error:

`Knex:warning - migrations failed with error: Sqlite does not support alter column.`

Should I tweak settings somewhere else?

[2017-11-27 15:57] sakhmedbayev commented on #527
I am sorry, I found it :-)

[2017-11-27 17:32] dcurletti commented on #516
I will be more than likely adding code splitting to my fork in the near future, so if my project hasn't diverged too drastically, I'll try to create a PR for it.

[2017-11-27 18:37] #527 closed

[2017-11-28 08:33] mitjade commented on #525
@vadimsg Ware you able to make the `MongoDB` connection work with this kit?

[2017-11-28 08:38] mitjade opened #529 "Make a `cli addmobile` for mobile or web only"
Extend `cli addmodule` to support `web` or `mobile` only module generation.

[2017-11-28 08:41] mitjade commented on #529
https://github.com/sysgears/apollo-universal-starter-kit/issues/526

[2017-11-28 08:43] vadimsg commented on #525
@mitjade yes, thank you guys for tips. Great kit!

[2017-11-28 08:46] mitjade commented on #525
@vadimsg Great! Would you be willing to make a PR or your solution?
It does not need to be perfect, we can help out in making it acceptable to be merged in the kit or we can even just leave it a PR, so someone else having the same problem would find this helpful.

[2017-11-28 10:13] mairh commented on #527
Please always post the solution too since someone else could also face the issue in future, so it's better to have some reference.

[2017-11-28 11:15] vadimsg commented on #525
@mitjade Ok, I will try to make it when will have free time.

[2017-11-28 11:19] mitjade commented on #525
@vadimsg Great! Thank you in advance.

[2017-11-28 14:16] sakhmedbayev commented on #527
@mairh you are right. My problem was that I am using PostgreSQL in my project and that one step in the migrations involves altering a table. Now, when I wanted to test the project, I got an error telling that SQLite does not support table altering. So I needed to find how the kit implements database connection for the tests. I found it in `./knexdata.js`.  So if someone else will face the same pro

[2017-11-28 19:24] aneilbaboo opened #531 "Tests fail with "Check the render method of `CounterView`""
Running `yarn test` with the the latest master and receiving various errors and warnings:

npm --version: 5.5.1
yarn --version: 1.3.2
node --version: v8.1.4
commit: 0e8676f0d3ba6aae311e24419daffddf9e859a54

Here is a sample:
[code]

[2017-11-28 19:26] aneilbaboo opened #532 "Can't start server: backend error TypeError: Cannot read property 'toLowerCase' of undefined"
I'm trying to `yarn watch` with the following settings, and receiving various errors and warnings:

npm --version: 5.5.1
yarn --version: 1.3.2
node --version: v8.1.4
commit: 0e8676f0d3ba6aae311e24419daffddf9e859a54

[code]

[2017-11-28 19:36] vlasenko commented on #531
@aneilbaboo It is very strange. I wonder how our build on Travis CI doesn't get such errors during tests:
https://travis-ci.org/sysgears/apollo-universal-starter-kit/builds/307951667?utm_source=github_status&utm_medium=notification

[2017-11-28 19:42] vlasenko commented on #531
@aneilbaboo Mitja (@mitjade) told something about issues with antd and stucking in yarn cache. Could you try cleaning yarn cache, e..g by doing this sequence of commands:
[code]

[2017-11-28 19:53] aneilbaboo commented on #531
Thanks. I tried that, but same result. I also tried it by pulling a fresh copy from the repo.

The error happens in ReactDOMServerRenderer#renderDOM. It's expecting element.type to be defined. I added some logging:

[code]

The console statement produces this:
[code]

[2017-11-28 19:55] aneilbaboo commented on #532
The error happens in ReactDOMServerRenderer#renderDOM. It's expecting element.type to be defined. I added some logging:

[code]

The console statement produces this:
[code]

[2017-11-28 20:00] aneilbaboo commented on #531
Thanks. I tried that, and also pulled a fresh copy from the repo. Same result.

Here is some more context on this error. Also see https://github.com/sysgears/apollo-universal-starter-kit/issues/532, which shows exactly where this error is generated.

[code]

[2017-11-29 05:15] vlasenko commented on #532
@aneilbaboo I cannot reproduce any of your issues
[code]

[2017-11-29 05:19] mitjade commented on #532
@vlasenko `toLowerCase` is called inside `tools/cli/module.js`. Should't this be excluded in this case?

[2017-11-29 05:28] vlasenko commented on #532
@mitjade Here it is called inside `react-dom-server.node.development.js`

[2017-11-29 05:40] mitjade commented on #532
@vlasenko Sorry, just quickly glanced at this and remembered I use this somewhere.

[2017-11-29 08:11] dcurletti commented on #516
Might take longer than I thought.
I'm assuming I'll need to https://github.com/sysgears/apollo-universal-starter-kit/blob/master/tools/webpackAppConfig.js#L12-L19 edit this part of the config, but I'm not quite sure how it will affect the rest of the system since it seems like `spinjs` is doing most of the heavy lifting.

[2017-11-29 08:27] vlasenko commented on #516
@dcurletti Use `spin -v watch` to check what Webpack configs are being generated

[2017-11-29 09:10] dcurletti opened #533 "Websocket Connection Fails on Heroku"
`WebSocket connection to 'wss://herokuapp.com:8080/graphql' failed: Error in connection establishment: net::ERR_CONNECTION_REFUSED`

Has anyone run into this on Heroku?

I will check in the morning if this happens off a fresh fork or if it is something I messed up.

[2017-11-29 09:30] dcurletti commented on #533
not sure. im going to check first thing tomorrow morning and then i'll let you know.

[2017-11-29 09:32] vlasenko commented on #533
@dcurletti In recent versions of the kit we use separate `spinjs` config for production:
https://github.com/sysgears/apollo-universal-starter-kit/blob/master/.spinrc.prod.json
and our API URL computation code has changed:
https://github.com/sysgears/apollo-universal-starter-kit/blob/9d28329cb45549e76bf3a5485db1f0f45b179d73/src/client/app/Main.jsx#L65-L68

[2017-11-29 11:49] aneilbaboo commented on #532
Hmmm. Thank you for looking into this, @vlasenko. I just tried on a different machine (also macOS), and it worked. Looks like a problem on my machine. Sorry to waste your time. Closing this now.

[2017-11-29 11:49] #532 closed

[2017-11-29 11:51] #531 closed

[2017-11-29 16:41] sakhmedbayev opened #534 "Tests' before all hook fails if DB_TYPE variable is set to some other value than sqlite"
If `let DB_TYPE` variable is set to `'pg'` in /config/db.js file then "before all" hook throws the following error:

`1) "before all" hook:
     TRUNCATE "counter" RESTART IDENTITY CASCADE - SQLITE_ERROR: near "TRUNCATE": syntax error`

[2017-11-30 10:23] mairh commented on #534
There could be 2 possible problems:

1) You didn't change the config over here to use `pg` for tests https://github.com/sysgears/apollo-universal-starter-kit/blob/master/knexdata.js#L29 and don't have `sqlite3` packages installed in your package.json

2) If you have `sqlite3` package installed you can run test using `sqlite` client, but in that case you first need to run `yarn seed` when you have

[2017-11-30 17:39] dcurletti opened #537 "Segment JS Snippet Causes ES Linter to Fail- Breaks Build"
I'm currently trying to add [Segment's](https://segment.com/) JS snippet, but it is causing the linter to fail and break the build.

Currently searching for a solution.

[2017-11-30 17:42] dcurletti commented on #537
Issue is coming from: `"no-use-before-define": 0,`

https://github.com/sysgears/apollo-universal-starter-kit/blob/master/.eslintrc#L11

[2017-11-30 17:48] dcurletti commented on #537
Correction- it's actually not the fault of the linter.  (Just switched to Atom and i keep forgetting i have to cmd+s to save files).

Still investigating.

[2017-11-30 18:49] #537 closed

[2017-11-30 18:56] dcurletti opened #538 "Where are global vars being assigned?"
Is it fair to assume that the spinjs package is the one that is injecting __DEV__ and __BACKEND_URL__ ?

If this is true, it makes it very difficult to understand what variables are available and which aren't (since the spinjs npm documentation doesn't talk about __DEV__ at all).

[2017-12-01 05:21] vlasenko commented on #538
You can use `spin -v watch` to check what Webpack configs are being generated by `spinjs`. Feel free to submit PR to update documentation of `spinjs` or the kit

[2017-12-01 05:25] dcurletti commented on #538
good to know, thanks!

[2017-12-01 05:25] #538 closed

[2017-12-01 05:46] vlasenko commented on #533
@dcurletti Did you have a chance to check whether this problem exists for you in the latest version of the kit?

[2017-12-01 06:07] timhuff opened #540 "How is the project aware of the various graphqls files?"
The title kinda says it all. These *.graphqls files are scattered amongst the server - what combines them?

[2017-12-01 06:11] mitjade commented on #540
These two files deal with this:

`src/server/modules/connector.js` -> L:40 `schemas()`
`src/server/api/schema.js` -> L:8 `typeDefs: [rootSchemaDef].concat(modules.schemas)`

[2017-12-01 06:12] timhuff commented on #540
Thanks for the quick answer!

[2017-12-01 06:12] #540 closed

[2017-12-01 17:47] dcurletti opened #542 "Adding an External Option to the Webpack Config breaks the builder"
[code]

Adding the option `externals` breaks the build.  Even if I don't pass anything to it.

https://github.com/sysgears/apollo-universal-starter-kit/blob/master/tools/webpackAppConfig.js#L2-L9

Currently investigating as I need to add `newrelic` as an external to the server.

[2017-12-01 17:49] dcurletti commented on #542
Nothing happens when I add it to the web config.  I'm assuming this might be a lower-level error with webpack and nodejs.

[2017-12-01 17:53] vlasenko commented on #542
@dcurletti Add lower down the same file instead:
https://github.com/sysgears/apollo-universal-starter-kit/blob/master/tools/webpackAppConfig.js#L41-L101

[2017-12-01 17:54] dcurletti commented on #542
beautiful. thank u. trying now.

[2017-12-01 18:21] dcurletti commented on #542
works. thanks!

[2017-12-01 18:22] #542 closed

[2017-12-03 18:14] bearcanrun commented on #496
Made a PR attempt for this at #543. Let me know what you think!

[2017-12-05 07:43] mitjade commented on #506
#546

[2017-12-05 13:09] vlasenko commented on #533
Closing because of inactivity

[2017-12-05 13:09] #533 closed

[2017-12-05 13:09] #525 closed

[2017-12-05 13:10] vlasenko commented on #534
Closing because of inactivity

[2017-12-05 13:10] #534 closed

[2017-12-05 14:50] sakhmedbayev opened #548 "User Module tests example are needed"
Would be good to have several test cases for the user module where admin's credentials are needed.

[2017-12-05 16:18] sakhmedbayev commented on #506
This is awesome! Thank you @mitjade!

[2017-12-08 14:27] mairh opened #554 "Integrating Antd Design Pro"
This is just a placeholder issue for integrating [Antd Design Pro](https://github.com/ant-design/ant-design-pro) to the kit in order to give a facelift to the kit.

Things we could do:

1) Theme setting file - https://github.com/ant-design/ant-design-pro/blob/master/src/theme.js
1) Layout component (Leftnav, header, container, footer) - https://preview.pro.ant.design/#/dashboard/analysis
2) Login,

[2017-12-08 17:28] verdverm opened #556 "RBAC - proposal"
I'd like to add RBAC permissioning to the project. Wanted to start a discussion before digging too deep.

[2017-12-08 18:00] vlasenko commented on #556
@verdverm Yes, it would be good addition to improve permissions system in the current code.

[2017-12-08 19:16] dcurletti opened #558 "Webpack/Spin Holding Not Updating Cache"
I'm having some very strange problems where files are not getting updated appropriately by `spinjs` or `webpack`.  I've tried restarting spin (yarn watch) and removing the `build` folder.  Are there any other places where cached files might exist?

To expand a little more: I had a `Redirect` in one of my files, and after removing it, it is still redirecting.

Thanks!

[2017-12-08 21:40] timhuff opened #559 "Is the line in the logout function safe to uncomment yet?"
https://github.com/sysgears/apollo-universal-starter-kit/blob/08c0889fee8f0ba3a92c5d1710af6f5dfa40cd4f/src/client/modules/user/containers/Auth.jsx#L114

I'm not crazy about the apollo store being left with a bunch of cached data. Looks like the issue the comment on the preceding line refers to has been closed a number of times. Is it safe to uncomment this?

[2017-12-09 01:21] verdverm commented on #556
Created PR https://github.com/sysgears/apollo-universal-starter-kit/pull/561

[2017-12-09 01:24] verdverm commented on #548
Will be adding respective test in https://github.com/sysgears/apollo-universal-starter-kit/pull/561

[2017-12-09 04:10] vlasenko commented on #558
@dcurletti I think there is a babel cache inside `node_modules` folder, so you might try to remove it and reinstall deps as well

[2017-12-09 04:24] vlasenko commented on #559
@timhuff It is a good opportunity to test uncommenting this line and reporting back, or submitting PR to help this project ;)

[2017-12-09 04:27] timhuff commented on #559
@vlasenko I typically would but I'm new to this project and am not sure of the history of this line or what the original problem was that caused it to be commented out. Especially with it being in the logout function, I wanted to check with you guys.

[2017-12-09 05:46] vlasenko commented on #559
@timhuff Yes, I understand, hopefully @mitjade can shed some light on the reasons why it was commented out

[2017-12-09 06:24] mitjade commented on #559
@timhuff I tried to resolve this a few times and always hit a problem doing so.

The problem is not in `client.resetStore()` I think, but rather in the way `apollo` handles it. I found an answer why this is not working correctly in https://www.udemy.com/graphql-with-react-course/learn/v4/content. `Stephen Grider` explains it quite well when he demonstrates an auth example towards the end. Short re

[2017-12-11 22:04] verdverm opened #564 "Errors are being squashed by undefined next()"
https://github.com/sysgears/apollo-universal-starter-kit/blob/master/src/server/middleware/graphql.js#L23

When there is an error in a module's `createContextFunc` (as an arg when creating a Feature (generally in index.js in the module)...

The response is `"Invalid options provided to ApolloServer: next is not a function"` Triggered at the above line.

Changing `next(e)` to `log.error(e); throw e

[2017-12-11 22:12] aneilbaboo opened #565 "Documentation for Feature class"
The Feature class seems like a key conceptual and organizational unit in apollo-universal-starter-kit. It's used throughout the code base, but there's no documentation.  Adding documentation would make this starter kit vastly more usable.

Here are some thoughts for an outline:

# Feature Class Documentation
    - Overview
       - Purpose
       - Client Feature vs Server Feature classes
       -

[2017-12-11 22:20] aneilbaboo commented on #176
I'm here to add my vote for more documentation. (IMO,  the most important next item for the roadmap).  I created an issue asking for documentation of the Feature class #565. I also like the suggestions in #472 and #393.

[2017-12-11 22:22] aneilbaboo commented on #472
@coooolers I created an issue for documenting the feature classes: #565. What do you think?

[2017-12-12 04:42] vlasenko commented on #564
@verdverm Yes, but we should not log and throw, just throw, because errorMiddleware do logging for us, it is responsible for handling all middleware errors on server side

[2017-12-12 04:47] #564 closed

[2017-12-12 04:48] vlasenko commented on #564
@verdverm I've pushed the fix, see above

[2017-12-14 05:22] sakhmedbayev opened #569 "Site wide search solution"
This is not an issue rather an enhancement proposal. It would be nice if the kit features some kind of site search solution. I am currently researching over [Algolia](https://www.algolia.com/doc/guides/getting-started/what-is-algolia/). I will see if I will manage to implement something that is worthy of a PR.

[2017-12-14 06:12] mitjade commented on #565
@aneilbaboo Thank you for the outline. I agree that this kind of documentation is of great importance.

Currently we are busy with improving other parts of this kit, but would be really grateful for any kind of help in this area. If you would be willing to start writing docs for some of this parts on your own, we can  help out and fill in the missing parts, when time permits us.

[2017-12-14 06:14] mitjade commented on #565
For starters we can create a `doc` directory and write `.md` files there and when something is done, we can link it to the `README.md`. Later we plan to have a separate site for docs.

[2017-12-14 09:30] mairh commented on #569
Search is a very expensive operation especially when it is triggered sitewide. We must carefully plan how and what to show in the results.

[2017-12-14 14:12] mairh opened #571 "Antd UI fires the form validation on page load"
When navigating to any page with a `form`, the validation kicks in on the page load, whereas in reality, it should kick in once the field loses focus and is empty or whatever validation you have.

<img width="769" alt="screen shot 2017-12-14 at 16 06 20" src="https://user-images.githubusercontent.com/4072250/33996329-89fcc5d2-e0e9-11e7-91db-7394c6999476.png">

[2017-12-14 18:11] email2vimalraj commented on #525
@vadimsg : Could you please post some example on how did you achieve on integrating with mongo?

[2017-12-14 23:59] H1net opened #572 "heroku-postbuild fail - missing spin"
I don't seem to be able to deploy to heroku. Is this something I'm doing wrong with my app setup or problem with the starter-kit? I note I have andoird/ios disabled in app.json atm.
[code]

[2017-12-15 09:01] vlasenko commented on #572
@H1net I think you have forgot to do step 2 of these instructions:
https://github.com/sysgears/apollo-universal-starter-kit#deploying-to-heroku

[2017-12-15 13:42] H1net commented on #572
Not unless this is incorrect...
![screenshot 2017-12-15 13 40 12](https://user-images.githubusercontent.com/1546093/34044657-c28dd648-e19d-11e7-8a50-57d99d7ec320.png)

[2017-12-15 13:45] vlasenko commented on #572
@H1net Sorry, we should have updated docs for Yarn. In the case of Yarn, which is used now, the config var should have a name `YARN_PRODUCTION` and a value `false`

[2017-12-15 13:46] vlasenko commented on #572
@H1net Updated docs via: https://github.com/sysgears/apollo-universal-starter-kit/commit/ae46ad2d7d1e88dbdbe9aa98ccaad54d59985966

[2017-12-15 14:02] H1net commented on #572
That's the winner @vlasenko thanks! I also note that FALSE needs to be lowercase or it still fails.

[2017-12-15 14:06] H1net commented on #572
Argh... I'm about ready to give-up and deploy this manually on a digital ocean droplet. Ideas on the below? I disabled the ios/android in order to try and get the web-build working first.
[code]

[2017-12-15 14:09] mairh commented on #572
what does your `.spinrc.prod.json` looks like?

[2017-12-15 14:13] H1net commented on #572
[code]
Though for the record I will want ios/android on eventually obviously. I'm just trying to get a demo up for initial feedback on a new property tracker for an estate agent.

[2017-12-15 14:27] vlasenko commented on #572
@H1net Change your heroku-postbuild step to this:
`"heroku-postbuild": "rm -rf build && spin -c .spinrc.prod.json build && npm run seed"`
and edit `.spinrc.prod.json`

[2017-12-15 14:29] vlasenko commented on #572
@H1net This all has to do to `heroku-postbuild` and what it uses

[2017-12-15 14:55] H1net commented on #572
@vlasenko thanks again

[2017-12-15 14:55] #572 closed

[2017-12-16 17:44] aneilbaboo commented on #565
Hi @mitjade I haven't quite grokked what is going on here myself. I'm a React newbie, so if there's someone else reading this 👋 maybe they can take a crack?

I'm evaluating a number of different frameworks right now. If I settle in on this repo, I might be able to contribute.

[2017-12-16 17:46] aneilbaboo commented on #565
For example, I only have a vague understanding of what the feature class is doing, where it is invoked, when to use it, etc. If someone from the team could fill in at least the overview section, that would be a good start.

[2017-12-16 17:51] mitjade commented on #565
@aneilbaboo Thank you for your feedback. Will try and put something together when time permits us.

[2017-12-16 18:11] vlasenko commented on #571
Fixed via: https://github.com/sysgears/apollo-universal-starter-kit/commit/bef849a22075775e928f17458ccc2be7a197ac35

[2017-12-16 18:11] #571 closed

[2017-12-16 18:12] vlasenko commented on #558
Closing due to inactivity

[2017-12-16 18:12] #558 closed

[2017-12-18 13:59] #496 closed

[2017-12-18 18:49] verdverm commented on #565
I can put something in about Features with my upcoming auth docs. Here are some pointers in the meantime:

- Features are different in the client and server. You could theoretically have multiple types of features on either end. They can be fractal, that is, a feature can have sub features.
- Features are basically a predefined set of options that get recursively merged. Different params on the fr

[2017-12-18 20:27] MichelDiz commented on #569
If u use Dgraph as standard, u can take advantage of the search system built into their database. It has all sorts of indexing and etc. And it is easy to reconcile with this kit. You can index gigantic texts (Like blog) completely and it handles this with extreme ease.

[2017-12-19 15:13] aneilbaboo commented on #565
FWIW, I've settled on this kit. I have to say, now that I've wrapped my head around React and looked at a number of other kit, the approach here is excellent. I'm going to write up some documentation which will capture the gist from a newbie perspective.

One thing that is a bit confusing for newbies is the naming convention. Folders in the modules directory export Feature instances and the Featur

[2017-12-19 15:18] vlasenko commented on #565
@aneilbaboo The thing is this schema is platform agnostic. It is fully abstract concept. I call it feature-modules. But I agree that naming can be improved. So no reason to have servermodule.js or clientmodule.js, this unnecessarily shrinks down the meaning, because feature-modules can be used in other places of the kit and one feature-module can be a host for many other sub-feature-modules.

[2017-12-19 15:22] vlasenko commented on #565
Feature-modules is an attempt to have Interface-like concept in JavaScript. We connect all the modules  in `client/modules` to the other parts of kits code using one Interface declared in connector.js. Each such module must implement this Interface. When we have Interface we know how to write new module-feature implementing that Interface and how to use all feature-modules that implement that Inte

[2017-12-19 15:28] vlasenko commented on #565
@aneilbaboo All ideas how to improve the naming as well as writing docs are highly appreciated. It is difficult though, considered this kit is used also with TypeScript and with Flow that really have interfaces, but we needed something more portable and available in vanilla JavaScript

[2017-12-19 15:48] aneilbaboo commented on #565
Yes, and they do actual work.  What I really like about it is how they formalize the structure of the project, and enable composition. That's more powerful than just being interfaces. It's a key selling point of this kit, IMO, and the fact that you offer the CLI for generating and wiring them in to the infrastructure is great, especially for newbies.

Honestly, I think think this is the best kit o

[2017-12-19 16:32] mitjade commented on #565
@aneilbaboo That is great news! If you are interested in things to come for CLI generation, check out https://github.com/sysgears/apollo-universal-starter-kit/pull/524 for CLI that generates full CRUD. Far from complete, but I already use it in one of my projects.

[2017-12-19 16:40] aneilbaboo commented on #565
Cool. This module concept is really powerful. Imagine an NPM-like repo.  I think there's a business here.  I have a bunch of ideas, if you want to jump on a chat sometime.

[2017-12-19 17:56] mitjade commented on #565
This kit is full of hidden undocumented gems 😉. @vlasenko is the mastermind behind it all.
I too am full of ideas, but our current plan is to finish what was already started, so we do not have too many uninished features.

[2017-12-19 18:23] vlasenko commented on #565
@aneilbaboo We have a chat for this starter kit here:
https://gitter.im/sysgears/apollo-fullstack-starter-kit
We carry out general discussions here and address quick questions.
Yeah, NPM-like usage of these modules was always in my mind and still there.

There are too many things that need to be handled, so we try to help on all the directions. At the same time we understand that there are many th

[2017-12-20 02:13] verdverm opened #581 "Apollo server errors and exception paths"
I encountered the following situation, wondering what your thoughts are about where the issue really lies.

When there is an error in the dynamic server components (like createContext) the underlying error `Invalid options provided to ApolloServer: ...` is getting squashed out.

The `JSON.parse` from the link below is throwing an exception on the error message above.

https://github.com/apollograp

[2017-12-20 02:16] johnthepink opened #582 "Modular Role Scope"
I noticed the scope for `graphql-auth` is currently nested under the user module. I thought it would be cool if different modules could declare their own scope and then compose them together.

Any thoughts on this? I'd be happy to get a PR going. Thanks!

[2017-12-20 06:37] vlasenko commented on #565
@aneilbaboo I think naming is very important, so we should probably think and agree on some good name for this concept of organizing code and what filenames should be used in our implementation. Both the name of concept and file naming should reflect the idea well and should be easy to remember and distinguish from other concepts.

[2017-12-20 06:48] vlasenko commented on #565
I'm thinking about rename it as follows:
`src/client/modules/connector.js` -> `src/client/plugins/interface.js`
Though, the name Plugins and Interface look very ordinary at least the meaning will be obvious, I guess

[2017-12-20 06:51] vlasenko commented on #565
I'm fine with `src/client/modules/connector.js` -> `src/client/modules/module.js` too

[2017-12-20 09:20] mairh commented on #582
That would be a nice addition. I remember we were talking about something like this in the gitter chat.

[2017-12-20 09:36] #581 closed

[2017-12-20 09:38] vlasenko commented on #581
@verdverm Thank you for noticing and describing this in detail. I have pushed commit that should handle this class of errors. The logic for handling this class of errors is a bit tricky to understand and for sure my take on this is non-ideal. Feel free to discuss this in the chat if you have problems with the fix or have ideas for improvement

[2017-12-20 17:39] johnthepink commented on #582
@mairh cool I'll do a search through there and take a crack at it.

[2017-12-20 18:35] aneilbaboo commented on #565
@vlasenko, good thought.  I like Plugin too (better than "interface" since interfaces have no implementation). Module conflicts with the Node.js concept of modules.

So then we would have these changes:
* file system:
[code]
* class names
  - Change class name from `Feature`=>`Plugin` for server and client classes

* variables
  - Change 'modules' and 'features' to plugins
  - Change 'module' and

[2017-12-20 18:37] vlasenko commented on #565
@aneilbaboo Yes, I'm comfortable with this and yes it is disruptive to current WIPs. And I would love to hear opinions. @mairh @mitjade @verdverm @johnthepink do you have some opinion on this matter?

[2017-12-20 22:31] johnthepink commented on #565
I don't mind the current naming convention, but "Plugin" does feel like it may better communicate to newcomers what we mean when we say "Modular".

[2017-12-21 01:12] davidyin1212 commented on #276
@vlasenko what about with the new webpackAppConfig.js where should the url go now?

[2017-12-21 02:15] davidyin1212 opened #585 "Using custom Graphql server"
Hey I know this question has been asked several times but it seems like the code base has been updated and no longer contains webpack.app_config.js as mentioned before to set the custom url. Where and how do we setup it up now?

[2017-12-21 04:36] vlasenko commented on #585
@davidyin1212 Yes, now if you are using external backend - specify URL in .spinrc.json -> options -> backendUrl. You can also specify this option per-builder, in can if your web front-end and android/ios app use different backend urls

[2017-12-21 04:38] vlasenko commented on #276
@davidyin1212 You can use `backendUrl` option now:
https://github.com/sysgears/apollo-universal-starter-kit#configuring-starter-kit
You can also set `backendUrl` per each builder in `.spinrc.json`

[2017-12-21 05:12] davidyin1212 commented on #585
@vlasenko ok so when I do that now I don't see the UI anymore all I see is a graphql playground is this expected?

[2017-12-21 05:14] vlasenko commented on #585
@davidyin1212 You need to also turn `ssr` off and start checking web browser JavaScript console for errors

[2017-12-21 06:12] mitjade commented on #565
I agree with @johnthepink.

[2017-12-21 10:21] mairh commented on #565
Fine with me.

[2017-12-21 13:21] wojcikiewiczm opened #588 "SVG Support"
Is there any way to add svg support in less?

[2017-12-21 13:29] wojcikiewiczm commented on #588
Yes sorry. I just want to use svg url in less files like this.

`
.edit-button {
  background-image: url('public/icons/edit_gray.svg');
}
`

But I'm getting error
`Module not found: Error: Can't resolve './public/icons/edit_gray.svg'`

[2017-12-21 13:34] vlasenko commented on #588
@wojcikiewiczm Hmm, this should be supported out of the box. Are you sure the path to svg is correct what if you place test svg near less file and try to import it?

[2017-12-21 13:37] vlasenko commented on #588
@wojcikiewiczm Let me try to reproduce this....

[2017-12-21 13:39] wojcikiewiczm commented on #588
@vlasenko Ok again my fault 😄 path was wrong thanks for your time 👍

[2017-12-21 13:39] #588 closed

[2017-12-21 13:41] vlasenko commented on #588
No problems!

[2017-12-21 13:42] H1net commented on #588
I adore this kit! However I must admit that when I was getting going I had a few problems like this which killed a day of productivity for me and it would be helpful to put some more examples in the docs. I think the pattern of having a public folder where assets can go (or putting assets in module folders) and loading them through a library, is not clearly described too.
I also had a hell of a ti

[2017-12-21 13:50] vlasenko opened #589 "Documentation Wish List"
This is a placeholder issue to list wishes from the users of the kit where the documentation should be improved. We will accumulate all wishes on documentation here. Please try to not mix simple to document things with thing that will require much more effort to document. And take into account that more simple documentation tweaks will highly likely be addressed first.

[2017-12-21 13:53] vlasenko commented on #588
Thank you for sharing your experience @H1net. I really appreciate it and agree with you on most your points. I have created the catch all issue where you can put your wishes for documentation. We will collect wishes there and will try to dedicate part of our efforts to documentation as well as working on code imrpovements. Please keep in mind that the simple things to document will highly likely b

[2017-12-21 14:04] vlasenko commented on #588
@H1net Another problem that I see, is that somehow people miss that we have a chat where you can just shoot question and someone from users or contributors will answer it. No need for formalities - you will likely get help in real time:
https://gitter.im/sysgears/apollo-fullstack-starter-kit

I think people miss it somehow and we need to make it more prominent in the header of README.md

[2017-12-21 14:31] H1net commented on #589
This is a tough one for me as the nature of the project makes me reticent to suggest things that are beyond the scope of the individuality of the project... but really this project is all about connecting things together to create a viable stack and pattern for rapid production? So do we just document everything that slows down production as a kind of "Getting Started" set of docs? I was looking a

[2017-12-21 16:22] vlasenko commented on #589
@H1net Yes, we create viable stack and pattern for rapid production. Yes, we need to document everything that slows going to production.

No, users are not advised to uncomment `.env` from their `.gitignore`. You should not put your production password and credentials into `.env` to not commit them into git by mistake. Thats why `.env` has been added to `.gitignore` to protect users from accidenta

[2017-12-21 17:19] verdverm commented on #582
You may look at what I have been doing on this branch with auth/scopes
 https://github.com/sysgears/apollo-universal-starter-kit/pull/562

`config/auth.js` is a good outline of the auth system.

`graphql-auth` has some limitations, I pulled the code into `src/common/authValidation.js` The backend "withAuth" is joined by a "checkAuth" which uses the same permissioning format.

The setup should allo

[2017-12-21 18:21] mitjade commented on #589
@vlasenko Maybe we should commit ‘.env.default’, so you can then fill in yor data and rename it.

[2017-12-23 03:05] verdverm commented on #569
This might help...

[code]

[code]

[2017-12-23 11:20] sakhmedbayev commented on #569
Thank you for sharing @verdverm. Is there any way I can look the final product of this implementation?

[2017-12-23 11:43] aneilbaboo commented on #532
Just in case anyone else runs into this - I finally tracked down this nasty problem.  It was due to `.babelrc` in a parent folder. (It seems related to  https://github.com/babel/ember-cli-babel/issues/92)

Specifically, I had the following .babelrc in my `~/code` folder:
[code]

Attempting to `yarn watch` when the kit is in any (even deeply nested) subdirectory, will result in an error due to jsx

[2017-12-23 11:57] vlasenko commented on #532
@aneilbaboo Should be fixed via:
https://github.com/sysgears/apollo-universal-starter-kit/commit/370a8b35d01286f031ad6cd1a4d8cb75d31347fa

Could you try the latest source code of the kit?

[2017-12-23 17:10] aneilbaboo commented on #565
Great.  I'll submit a PR with the refactor and another PR on top of that with the documentation.

[2017-12-23 19:53] verdverm commented on #569
I'd say it's more of an adapter for resolvers. The filterBuilder above is a more general filtering scheme based on the way the orderBy was set up. If you look at the current `User.list` resolver, this is basically the same code. I just went nuts on the filter to make it more flexible and pulled the code out into functions we can use elsewhere.

As of now, you can use the filter adapter to combine

[2017-12-23 20:35] verdverm commented on #589
`.env.sample` might be a better name as it implies it needs to be filled in and renamed before it can be used. It would be good to have `.env` in the gitignore

[2017-12-23 22:12] verdverm commented on #565
I'm not sure about the naming change yet... it's one of the (2 or 3) hardest problems in CS ;]
This is probably an important decision we shouldn't rush.

This is how I have been thinking about it:

`modules` are one of the major concepts, they seem like things you can turn on and off.
I think the word `plugin` better describes implementations of modules or enhancements to modules. For example, whe

[2017-12-23 23:20] verdverm commented on #556
I'm thinking the way to start integrating this is by first breaking the user directory into `user` and `authentication`/`authn`.  Then to upgrade the authn (with some different drivers/plugins/features ), then add authorization after, maybe with groups/orgs?

The first step is separating the concerns of users and authentication, having users probably just implies authentication  and some form of a

[2017-12-23 23:36] verdverm commented on #556
I brought both the `auth{authn/authz}` and `entities/{user,group,org,serviceAccount}` subdirectories up to the top level so there are 6 "modules" at the root now.

Does either organization have preference with anyone else? I'm not opposed to grouping them together, but the `entities` and `auth` folder ended up only having an index.js that just pulled the "Features" together.

("") for the current

[2017-12-23 23:50] verdverm commented on #565
Hmmm, maybe we pull the connector.js files into the `common` directory.

Something like

[code]

This way

- we retain the concept
- collect them into one place

Now, where and how are the features used in the rest of the codebase?

That's a question I have yet to understand the answer to.

How would different server modules (substitute client as well),
which use different "features" be combined,

[2017-12-24 06:33] mitjade commented on #565
@verdverm I've been thinking of this renaming as well and you raised a few valid points. Maybe we need to step back a bit before we do mayor renaming changes and first see where we want to go with this in the long run.

[2017-12-24 08:29] vlasenko commented on #565
@verdverm I don't think we should separate out `connectors`o from features that use them. Connector is an interface how the feature can be connected to outside world. We have two set of features now - server features and client features, but we plan to have more. For example `user` feature might have many sub-features and they are going to have the following structure:
[code]

[2017-12-24 09:02] vlasenko commented on #565
@aneilbaboo @mitjade I'm thinking about this renaming too. And I think we don't win much by renaming everything into `plugin`. Rather I think I should take time to carefully document current approach first and then we will think about renaming again. I will try to do so on the second week of January, as I'm on a vacation right now

[2017-12-25 17:03] aneilbaboo commented on #565
@vlasenko @mitjade @verdverm

Good thoughts. I think it's a good idea for existing team to drive on a change as sensitive as this. I'm going to step back

Let me just give my newbie perspective, as you think about it.  I'm just one data point, so please take this perspective with a grain of salt:

I was really confused initially because of the naming scheme. I scan code and documentation to get a

[2017-12-25 18:57] vlasenko commented on #565
Thank you @aneilbaboo. Yes, it is understood the naming is not perfect and confusing now. We are going to fix this soon.

[2017-12-27 05:40] theRealFakeRock opened #596 "Help making login info persistent"
Hi,
I apologize if this is the wrong place for this, I'm kinda new.
I have setup react native to have a login screen and hidden routes.
The only problem is that I am having a hard time finding a way to make the login persistent.
Any help is appreciated.

[2017-12-27 13:57] verdverm commented on #596
The main flow to auth is

1. Login
2. Get token back
3. Store token
4. Use token to make requests (also use embedded info for various client side things.
(5.) The token is actually refreshed every minute, so could be almost every request. It is passed around with `x-token` headers

The way the token is stored is in a cookie (and/or?) local storage.

Look at these files to see what is going on, cli

[2017-12-27 14:19] verdverm commented on #565
I was thinking about how to make the connectors more duck-type-y.

I've experimented with merging different types or exporting multiple merged Features from the same module.

What I'm thinking something like modules exporting the config object, rather than wrapping it in the "Feature" at the start. Then when / where a feature is needed and paired with a module, the correct kind can be used. And be

[2017-12-27 18:27] MichelDiz opened #597 "Issue trying to keep code inside container. (Moral support pls)"
I'm creating an CI/CD with Rancher and Gitlab with Rancher-gitlab-deploy. Every process is ok, the build is working perfectly. The code is correct for the Gitlab registry inside the image. But at the time of installation occurred the error below.

OBS. I'm not using Docker-compose.

List

[code]

[code]

[code]
or this error inside Shell

[code]

[2017-12-29 01:59] theRealFakeRock commented on #596
Thank you

[2018-01-02 03:32] MichelDiz commented on #597
Solved with

[code]

[2018-01-02 03:32] #597 closed

[2018-01-02 04:28] theRealFakeRock opened #599 "AsyncStorage not working"
Hi,
I am having a problem with the AsyncStorage api.
I have tried every example I could find and tried every possible method of debugging.
For some reason I still can't access stored values. I am wondering if it has something to do with this starter kit. Is their some setting or something that is disabling it?
Thanks

[2018-01-02 04:53] theRealFakeRock commented on #599
To anyone wondering I found that you can user Expo's SecureStore.

[2018-01-02 08:41] #599 closed

[2018-01-02 08:42] #585 closed

[2018-01-02 08:43] #596 closed

[2018-01-02 15:55] #506 closed

[2018-01-09 13:40] H1net opened #605 "Graphql versions"
The yarn.lock file has two graphql versions in it. The latest dependencies are causing my production build web client to fail on deployment to heroku with a console logged error regarding having two graphql versions installed.

[code]

I also note that the latest graphql caused errors in some of my stubs for modules I'm working on which did not yet have Mutations/Subscriptions in the server schema

[2018-01-09 13:42] vlasenko commented on #605
@H1net Where does `yarn.lock` have two graphql versions in it?

[2018-01-09 13:44] vlasenko commented on #605
@H1net As for your second statement for the empty stubs. Yes, this is true, I have noticed this and removed empty stubs from master in the last commit:
https://github.com/sysgears/apollo-universal-starter-kit/commit/c92cfae11103645cfb7ce464b2cda31afa8d4133

[2018-01-09 13:47] vlasenko commented on #605
@H1net To have one version of GraphQL used everywhere we use `resolutions`, check here:
https://github.com/sysgears/apollo-universal-starter-kit/blob/c92cfae11103645cfb7ce464b2cda31afa8d4133/package.json#L229-L231

[2018-01-09 13:49] H1net commented on #605
Talk about lightning quick response their @vlasenko!
I assumed it was this:
[code]

[2018-01-09 14:02] vlasenko commented on #605
@H1net `@types/graphql` is not a js code, it is rather TypeScript declarations and those are not used during runtime, they are transitive deps used by other packages that need TypeScript types during build time.

[2018-01-09 14:51] vlasenko commented on #605
Looks like the cause of this issue is described here:
https://github.com/graphql/graphql-js/issues/1182

[2018-01-09 14:52] vlasenko commented on #605
@H1net I'm going to rollback to graphql@0.11.x in the kit master for time being, until this fix will be released:
https://github.com/graphql/graphql-js/pull/1174

[2018-01-10 13:21] mairh commented on #554
@verdverm Would you like to pick this one up? I remember seeing somewhere you were integrating sidenav and layout stuff in your auth PR.

[2018-01-11 15:53] kfrajtak commented on #525
I had a look at the code (I want to integrate with Mongo as well) and the best place is probably here https://github.com/sysgears/apollo-universal-starter-kit/blob/master/src/server/modules/user/resolvers.js#L12

[code]

[2018-01-14 17:27] adam-s opened #608 "When using server side rendering Ant Design's Drawer Menu throws error, ServerError: document is not defined"
If the Drawer element is rendered when only in the client by navigating to the page the element is on, it works correctly. However, when the page is reloaded or updated and is one the route the element is on, it will throw and error, ServerError: document is not defined.

How do I insure that the module has access to `document` when rendered on the server?

ServerError: document is not defined
Dra

[2018-01-14 17:44] vlasenko commented on #608
@adam-s Maybe its better to open issue on `rc-drawer-menu` instead? Why do you open it on the kit, how can we solve it here?

[2018-01-14 17:48] #608 closed

[2018-01-14 18:00] #605 closed

[2018-01-14 18:09] vlasenko commented on #608
@adam-s In case `rc-drawer-menu` cannot be rendered on a server side, there is an example of approach how to render just this component on a client-side and not on the server:
https://github.com/sysgears/apollo-universal-starter-kit/blob/master/src/client/modules/subscription/components/SubscriptionView.web.jsx#L17-L23
https://github.com/sysgears/apollo-universal-starter-kit/blob/master/src/client

[2018-01-14 19:02] adam-s commented on #608
This is probably something to add to the documentation. Everything is new to me so I'm not sure if when something goes wrong it is me, a third party module, or apollo univeral starter kit.

[2018-01-15 06:05] vlasenko commented on #608
@adam-s You would have known this after having experience with React. The kit doesn't free you from studying React and Apollo and all the other technologies used inside it. But I agree with you that it would be nice to have documentation on the approaches like this that solve frequent common problems appearing in practice.

[2018-01-15 06:47] adam-s commented on #608
How about a higher order component to wrap any component that should only be rendered on the client?

`client/modules/common/components/ClientOnly.jsx`
[code]

[2018-01-15 06:48] vlasenko commented on #608
@adam-s Yes, that would work, feel free to create Pull Request

[2018-01-17 06:45] vlasenko commented on #523
@mitjade I wonder if this is still an issue?

[2018-01-17 06:54] mitjade commented on #523
@vlasenko It is still a problem. I am still a long way from having CRUD cli ready, so I will not be pushing any cli changes. Will check it is can resolve this.

[2018-01-17 15:19] adam-s opened #611 "On server side render (SSR), GraphQL validates directives (@client, @if), but doesn't on the client."
In order to use [Apollo Link State](https://github.com/apollographql/apollo-link-state) as the client store -- Redux doesn't need to be a dependency -- GraphQL queries use the @client directive. When the client is rendered on the server for some reason KnownDirectives method at `/apollo-universal-starter-kit/node_modules/graphql/validation/rules/KnownDirectives.js` is called with the query but the

[2018-01-17 15:24] vlasenko commented on #611
@adam-s You have not configured Apollo Link State on the server side, thats why you have issues with server side rendering. This is all good, but what is has to do with the kit at all?

[2018-01-17 17:18] adam-s commented on #611
Ok, I understand now. There are two different files used when bootstrapping a page load, Main.jsx (src/client/app/Main.jsx) and website.jsx (src/server/middleware/website.jsx). They are somewhat similar with a few subtle differences. For documentation sake for newcomers like myself, it should be noted that for server side rendering any changes made in Main.jsx need to also be reflected in website.

[2018-01-17 17:18] #611 closed

[2018-01-17 17:19] vlasenko commented on #611
@adam-s Yes, this is correct

[2018-01-17 19:50] claym opened #613 "Increase Counter buttons don't work in Microsoft Edge"
Windows 10, new starter kit setup, the "click to increase counter" buttons don't work in MS Edge.

There's a SyntaxError when loading the page, but no messages when actually clicking the button.

[2018-01-18 03:00] claym commented on #585
a couple question - what does the SSR option do?

is it possible to specify the backendurl as a config variable?

[2018-01-18 03:01] vlasenko commented on #613
@claym Please attach screenshots with all the errors that you see

[2018-01-18 03:05] vlasenko commented on #585
@claym SSR - server side rendering
backendUrl is a config variable, `.sprinrc.json` config

[2018-01-18 06:55] adam-s opened #615 "Remove Redux dependency use Apollo Link State instead"
I went ahead and removed the redux dependency on the counter module as proof of concept. Seems to work. I'm going to work on the user module tomorrow. Having two different stores which don't communicate well with each other didn't seem like a good idea. However, working with apollo link state is a pain in the butt.

Edit: One benefit of using Apollo Link State over Redux is that all the client sta

[2018-01-18 08:39] vlasenko commented on #615
@adam-s Yes, we share the same views about Apollo Link State. Though it is nice that one can use the same approach  when working with Local State as with working with Remote State, still Apollo Link State brings overcomplications and its concept is not as easy and straightforward as Redux concept and its not supported so well as Redux. So I think we will need to support both Redux and Apollo Link

[2018-01-18 10:39] wojcikiewiczm opened #616 "Sequelize error"
Hello I'm trying to use sequelize with this starter kit but I'm getting this error

[code]

Also sometimes I'm getting this error by pg module. Thanks

[2018-01-18 10:43] vlasenko commented on #616
@wojcikiewiczm Add `"tedious": "server"` into `tools/webpackAppConfig.js -> dependencyPlatforms`, so that kit know this is a server-only package and don't try to compile it for web platform and put into webpack DLL.

[2018-01-18 10:44] vlasenko commented on #616
@wojcikiewiczm Also check what packages it tries to put into web DLL and whether there are any server-side packages in this list and if yes add them into `dependencyPlatforms`

[2018-01-18 10:56] wojcikiewiczm commented on #616
@vlasenko nice thanks! 👍

[2018-01-18 10:56] #616 closed

[2018-01-18 14:08] claym commented on #585
@vlasenko ok the SSR is what i thought

as far as config variable, i meant external, like through a heroku config variable. sorry, wasn't specific.

[2018-01-18 14:11] vlasenko commented on #585
@claym You can use several configs now to feed different config during development and production to our build system - `spinjs`. This will be changed very soon, though, I'm going to roll out `.spinrc.js` support today or tomorrow, which will have maximum possible flexibility

[2018-01-19 00:02] H1net commented on #523
Still an issue, though anyone having this that doesn't want to delete or complete the query could just `git commit --no-verify`.

I also note the added issue at the end of https://github.com/sysgears/apollo-universal-starter-kit/issues/605 where server graphql needs to be completed for app to build. You cannot have empty mutations/subscriptions.

These are pretty trivial problems and perhaps could

[2018-01-19 07:08] vlasenko commented on #523
@H1net We have public wiki now, editable by anyone, we can document quirks there, should be easy now:
https://github.com/sysgears/apollo-universal-starter-kit/wiki

[2018-01-19 23:55] adam-s commented on #615
I removed the dependency for Redux in the user module, 171 insertions and 114 deletions. It just adds unneeded complexity. https://github.com/adam-s/apollo-universal-starter-kit/commit/0a4109ec4fbf7d6cc1e5515f67284c9e1223b429

[2018-01-20 06:55] vlasenko commented on #615
@adam-s Your approach looks good to me. One thing that we also do - name query files with additional suffix `.client`, i.e. `UsersStateQuery.client.graphql` to have better idea when reading the code in the project where to find resolvers for these queries.

[2018-01-21 22:22] adam-s commented on #615
Now the Redux Form dependency needs to be removed also, using [Formik](https://github.com/jaredpalmer/formik) and [Yup](https://github.com/jquense/yup) for validation are used instead. I built an intermediary field adapter so it works with existing components in the common folder. https://github.com/adam-s/apollo-universal-starter-kit/commit/bf940b15b1c1c3bbe7c9e1758f347c96ffd61aa3

[2018-01-21 23:45] hanibash opened #621 "iOS build broken? "Can't find variable __DEV__ ""
Hi there, I got an error similar to the following on latest master (`0212f1f19492a31188c4e90a333b75a1b282aad6`) when attempting to open the iOS app via Expo:

[code]

I just rolled back to `fe44d88885e0f83f08881cc31d73dad95e336d00` and its working fine.

https://github.com/sysgears/apollo-universal-starter-kit/compare/fe44d88885e0f83f08881cc31d73dad95e336d00...master

[2018-01-22 05:13] chrisbull commented on #621
I'm getting a "Can't find variable: __DEV__" as well

![simulator screen shot - iphone 8 plus - 2018-01-21 at 21 13 19](https://user-images.githubusercontent.com/753112/35206215-eeee6346-feef-11e7-8ba3-f1caa96d9ca1.png)

[2018-01-22 05:37] mitjade commented on #615
@adam-s Have you considered [Final Form](https://github.com/final-form/final-form)? It is written by the same guy as Redux Form, so it should be quite similar, only without redux dependency.

[2018-01-22 07:09] #621 closed

[2018-01-22 07:12] vlasenko commented on #621
@hanibash @chrisbull Sorry guys, should be fixed now. The error was in Webpack DLL generation for mobile platforms. You should fetch latest kit sources, remove `build` folder and start `yarn watch` again

[2018-01-22 19:10] adam-s commented on #615
I tried to drop in Final Form. It will take as much effort as Formik to get it to work. In my opinion, one or the other will work, however, I enjoy the simplicity and straight forwardness of Formik.

[2018-01-25 23:45] redrose218 opened #627 "starter kit not working on mobile (tested on android)"
this is what I have done:
-package.json
"watch": "cross-env DEBUG=spinjs spin watch"

-packages/mobile/.spinrc.js
config/builders/android/enabled: true

-command
yarn
yarn seed
yarn watch

-result
expo app freezes in splash
![screenshot_20180125-234124](https://user-images.githubusercontent.com/34869395/35418370-8ba89e20-023a-11e8-8b6f-5bb2e18c427b.png)

-logs
![untitled](https://user-images.githu

[2018-01-26 03:37] vlasenko commented on #627
@redrose218 You see this error because you have `Hot Reload' enabled in Expo Client dev menu. We didn't implement support for Hot Reload for Expo yet, its a lot of work.

[2018-01-26 11:13] sakhmedbayev commented on #468
Hello @vlasenko! Any news on this front?

[2018-01-26 12:36] mairh commented on #468
wouldn't it freeze the user to tie up with Amazon ecosystem? I know serverless is great but then it does not allow much flexibility to switch the servers on different cloud providers.

[2018-01-26 12:42] vlasenko commented on #468
@mairh We don't know yet. Its an interesting use case, but we haven't even started to look at it.

@sakhmedbayev We have lots of higher priority tasks at the moment and haven't started with this one yet

[2018-01-26 12:50] mairh commented on #468
Yeah, just jumping in the discussion and keeping it alive.

[2018-01-26 17:57] vlasenko commented on #627
@redrose218 This should be fixed in `spinjs@0.4.87`, that version is used in master of the kit now

[2018-01-26 19:36] adam-s opened #629 "Define a pattern for dependency injection for client modules"
I'm adding a custom module to my project called BasicLayout. It it has a collapsible side navigation using Ant Design Layout (https://ant.design/components/layout/#components-layout-demo-side). Now there are several ways to inform the side nav menu of all the items and menu tree. The first is naive, simply hard code the menu in the BasicLayout module. The second is rewriting the connector.web.jsx

[2018-01-27 01:08] claym opened #630 "Error in Android Emulator"
Fresh pull, on startup, the default app launches, but I get the error below.

Running Windows 10, on a emulated Nexus 5 API 26

![image](https://user-images.githubusercontent.com/230486/35466681-0d9a2d24-02d4-11e8-8fc5-522ea82d4998.png)

Not sure if it's related, but I see this in the console that launched yarn watch

 WARN  Unable to find source map.

[2018-01-27 01:08] claym commented on #630
After restarting and trying again, got this error as well

![image](https://user-images.githubusercontent.com/230486/35466746-b3e169d6-02d4-11e8-9d4d-38b20be8e0be.png)

[2018-01-27 05:59] vlasenko commented on #630
@claym After clicking Dismiss and selecting Reload in dev menu (Ctrl-M)?

[2018-01-27 06:02] vlasenko commented on #630
@claym Have you executed `yarn` after pull, to install new dependencies?

[2018-01-27 14:52] adam-s commented on #629
I was thinking about this this morning. When the app is initially bootstrapping all the modules get an opportunity to define imperative configuration. jQuery plugins are imperative meaning information about how to render an item is sent in a configuration object $.myPlugin({ imperativeWrapper: '<div class="wrapper"</div>'}) which is something that React is trying to get away from. This is why most

[2018-01-27 15:55] claym commented on #630
@vlasenko yes, it was a fresh clone, yarn, updated .spinrc.js, yarn seed, yarn watch.

did it again this morning just to make sure.

If I dismiss the errors above, open the error and expand the stacktrace

![image](https://user-images.githubusercontent.com/230486/35473591-9cde9dd6-0350-11e8-8db0-d73793941fb7.png)

[2018-01-27 15:58] vlasenko commented on #630
@claym Have you tried to open Expo Client dev menu via (Ctrl+M), disable `Hot Loading` there and then select `Reload` ?

[2018-01-27 16:00] claym commented on #630
This is a free android image, and hot reloading is disabled by default.

![image](https://user-images.githubusercontent.com/230486/35473646-584d894c-0351-11e8-9cdf-32b70a7a45f3.png)

[2018-01-27 16:03] vlasenko commented on #630
@claym Okay, I will try to reproduce. What about real device? Does it work on a real phone?

[2018-01-27 16:36] claym commented on #630
Doesn't seem to work on my real iphone

![image](https://user-images.githubusercontent.com/230486/35474004-49addaf4-0356-11e8-855e-ab191950f517.png)

[2018-01-27 16:44] vlasenko commented on #630
Could you shake your iPhone to open Expo Client dev menu, then select Enable Remote JS Debugging, then post logs from your web browser JS console?

[2018-01-27 17:52] claym commented on #630
[code]

[2018-01-28 17:12] vlasenko commented on #630
@claym Can you do a fresh clone of the repo and then `yarn`, `yarn seed`, edit `packages/mobile/.spinrc` to enable Android and then `yarn watch`?
@claym I have tried to do a fresh clone and the Expo works for me

[2018-01-28 19:19] adam-s commented on #629
I went ahead and started changing how configuration is stored on the client. It's just a cache with a getter and setter.

https://github.com/adam-s/apollo-universal-starter-kit/blob/configuration/packages/client/src/modules/configConnector.web.jsx

https://github.com/adam-s/apollo-universal-starter-kit/commit/63912ba2bf3ae7d5b2972147a5d486aefcaea2db

I ran into a problem with the new configuration

[2018-01-29 15:19] vlasenko commented on #629
@adam-s Sorry, this all is difficult to comprehend. What do you want to do? Could you be more specific and focus on describing what do you want to do, without sending off to official docs on various sites. Could you provide minimalistic code samples that describe your problem concisely? Without crystal clear understanding of your root problem, it is difficult to propose anything.

[2018-01-29 21:42] adam-s commented on #629
Sorry about that. When I get free time, I will clarify more of my thoughts on how to build an extendable configuration which doesn't hard code features like nav items. Developers should be able to add and remove modules without pieces still in the core code of the app. I've been thinking about several ways other projects accomplish this.

[2018-01-30 04:29] vlasenko commented on #629
@adam-s I'm asking not about that. I'm asking about your initial problem that you tried to solve, not about solutions that you come up with.

[2018-01-30 18:15] vlasenko commented on #627
@redrose218 Please try latest master, a bunch of bug fixes with mobile asset handling on Windows have been pushed that should hopefully resolve this issue

[2018-01-30 20:08] adam-s commented on #629
I added a third navigation menu and wanted each module to be able to add nav menu items to it without changing files which will be overwritten when pulling the latest version of the app from GitHub.

[2018-01-30 22:19] adam-s opened #633 "Custom .less style sheets are not included in SSR [documentation]"
Webpack includes .less style sheets when the app is rendered on the client but not when it is rendered on the server. It took me a minute to solve this problem. The solution is include the style in the module feature using the `stylesInsert` property. On the server, the `html.jsx` file will insert the style into the web page.

The solution:

`layout/styles/layout.less`:
[code]

`layout/index.jsx`:

[2018-01-31 03:41] Morphexe opened #634 "ModuleNotFoundError: Module not found: Error: Can't resolve 'font-awesome'"
Some packages when added break the build, I can't  seem to add font-awesome for example since it breaks with that error.

Where should I define which packages should be bundled or not?

[2018-01-31 04:17] #633 closed

[2018-01-31 04:20] vlasenko commented on #634
@Morphexe I plan to fix this class of issues today. The font-like dependency packages should not be included into a Webpack DLL, spinjs should detect this kind of dependencies and exclude them from DLL

[2018-01-31 05:44] vlasenko commented on #630
The issue has been fixed

[2018-01-31 05:44] #630 closed

[2018-01-31 08:20] #634 closed

[2018-01-31 08:32] vlasenko commented on #613
Closing due to inactivity

[2018-01-31 08:32] #613 closed

[2018-01-31 08:52] Morphexe commented on #634
@vlasenko Its not only font-awesome, there are a couple of other packages that break the bundle, for example react-selectize and few others that I have found out, so maybe instead of auto detecting  there should be a mechanism to handle it? =)

[2018-01-31 08:56] vlasenko commented on #634
@Morphexe I have received your message in a notification, but can't find it here:

Is autodetection mechanism fails on any of them?

[2018-01-31 09:51] vlasenko commented on #627
Closing because of topic starter inactivity

[2018-01-31 09:51] #627 closed

[2018-01-31 09:55] Morphexe commented on #634
I think I deleted the comment by mistake after posting sorry!
Yes it crashes in font-awesome, react-selectize with the same error message, I actually found quite a few modules that crashed the vendor. for example react-transition does too it seems.

Was your commit supposed to fix this? just asking because I am still finding the same thing happening right now with latest.

[2018-01-31 09:58] vlasenko commented on #634
@Morphexe Yes, it should fix this. Have you installed new versions of dependencies after `git pull` via running `yarn` in the root of cloned repo?

[2018-01-31 10:17] Morphexe commented on #634
@vlasenko  I should have slept more today it seems when I merged the commit I accidentally kept my old spin version which turned out to return the error!

Working perfectly now, thank you very much! =)

[2018-01-31 10:19] vlasenko commented on #634
@Morphexe Great, thank you for letting know!

[2018-01-31 12:04] Morphexe commented on #629
Since I was thinking about this too: correct me if I am wrong @adam-s  but what you want is,
just like the connector has getNavItems() and getNavItemsRigh() you want to be able to add something like getDashboardRoutes right? the problem is that you don't want to hack the connector to add this method, so you are attempting to rely on DI to add this sort of stuff to the connector so that you can the

[2018-01-31 12:16] vlasenko commented on #629
@adam-s @Morphexe If you implement YOUR Dashboard you should write YOUR connector to link YOUR components into this Dashboard, you don't need to hack kits connector for that. You can have many different connectors in your app, that connect YOUR components to other YOUR components. The connectors supplied by the kit are here to connect modules to the kit core. If you will need another way to connec