[2016-09-20 06:52] lionkeng opened #1 "Failure to load"
Hi! I followed the instructions in README.md, and when I ran `npm start`, and browse localhost:/3000/counter, I see this error in the console log:
![screen shot 2016-09-20 at 2 50 10 pm](https://cloud.githubusercontent.com/assets/1751072/18660213/d4fbf0d6-7f41-11e6-8cd9-161d600cde8b.png)

[2016-09-20 07:15] vlasenko commented on #1
Hi!

Seems this is a problem not really of this starter kit, but in apollo client 0.4.16. Hopefully they will fix it soon. For now you can use version 0.4.15 instead.

Replace in package.json
"apollo-client": "^0.4.14"
to
"apollo-client": "0.4.15"

[2016-09-20 07:36] lionkeng commented on #1
That fixed it. Thx!

[2016-09-20 07:36] #1 closed

[2016-09-27 11:10] vlasenko opened #2 "Add hot reload screencast"

[2016-09-27 11:33] vlasenko commented on #2
![screencast](https://cloud.githubusercontent.com/assets/1259926/18871714/5d122a8a-84bf-11e6-8d7a-8c941e301fa8.gif)

[2016-09-27 11:33] #2 closed

[2016-09-28 12:51] lionkeng opened #3 "Question: Does component Main need prop named router?"
Hi!
I am looking at the code for the client-side. Does the Main component need a prop named `router`? How is it used? See lines 14 and 27 in `src/client/index.jsx`

[2016-09-28 13:02] vlasenko commented on #3
Hi!
No. Thanks for noticing! Fix has been pushed:
https://github.com/sysgears/apollo-fullstack-starter-kit/commit/20afa3dfe31368c1f2fa90c95e9dc8479f3fbbbf

[2016-09-28 15:56] kachkaev opened #4 "Apollo subscriptions"
Привіт guys :–)

Just wondering if you're planning to add a sample [Apollo subscription](https://medium.com/apollo-stack/graphql-subscriptions-in-apollo-client-9a2457f015fb) to the counter. Real-time updates is smth that most starter kits are still missing these days; yours could one of the first ones!

Nice choice of tools BTW!

[2016-09-28 16:03] vlasenko commented on #4
Привіт :–)

I'm worrying that this will increase starter kit size. We would like to keep it minimal, covering only tricky, but needed nuisances for productive coding, so that people don't have to throw away much code to start doing their apps. Do you think everyone will use Apollo subscriptions in their applications?

[2016-09-28 16:10] kachkaev commented on #4
I believe that a good proportion of applications may use subscriptions in a number of places (feeds, comments, votes, etc.). A counter in your demo is a very good example of where it could be useful.

[2016-09-28 16:11] vlasenko commented on #4
Okay, I'm sold. We will add them during next few days. :)

[2016-09-29 03:13] #3 closed

[2016-09-30 11:07] #4 closed

[2016-09-30 11:08] vlasenko commented on #4
Here you go! Now the counter is updated in real-time using Apollo subscription.

[2016-10-08 06:35] jvallarvisp opened #5 "How to publish an Array of sequelize object"
Is this possible?

[2016-10-08 06:38] vlasenko commented on #5
How is it related to this project? This starter kit doesn't use sequelize.

[2016-10-08 06:47] jvallarvisp commented on #5
Hi @vlasenko, Thanks for your reply. What I did was that, I use sequelize instead of knex, I was able to integrated it. My question is that Is it possible to publish an Array of sequelize object?
I was trying to create a publish-subscribe of my data from MySQL.

[2016-10-08 06:58] vlasenko commented on #5
Hi,

I think this is possible, of course, but this question is out of scope of this starter kit. I would recommend you to ask the question about returning arrays from GraphQL subscriptions on StackOverflow.

[2016-10-08 06:58] #5 closed

[2016-11-04 11:55] mitjade opened #6 "Upgrade to apollo-client 0.5"
Any plans to up upgrade to apollo-client 0.5 package?

Tried it on my own but am running into some ssr problems. I keep getting:
"Apollo initial state may not contain queries, only data" error, which seems to be caused by ssr, but was not able to find the problem.

[2016-11-04 11:59] vlasenko commented on #6
Yes, thanks for reminding. Hopefully I will update starter kit to 0.5 tonight.

Yes, this is a known bug in AC 0.5, there is a known workaround. Please do on client-side:
`delete window.__APOLLO_STATE__.apollo.queries`

[2016-11-04 12:01] vlasenko commented on #6
This is the link to AC issue:
https://github.com/apollostack/apollo-client/issues/845

[2016-11-04 18:35] #6 closed

[2016-11-10 11:49] GiladShoham opened #7 "Using static pages like landing page"
Hi,

First, thanks for your kit. It's a great job and saves me a lot of time!

I have some static pages (like landing / about / faq) which I believe should not be part of the main app (to reduce loading time).
Those pages currently are just plain HTMLs (no react), with CSS file and some vendors scripts.
I'm trying to somehow make those pages served but have problems in few places:

1. Web pack - D

[2016-11-10 13:54] lionkeng opened #8 "SSR error RENDERING ERROR: Error: Cannot automatically buffer without a document"
I was wondering if you have run across this error?

I have a project that is based on your starter kit.
I am seeing the following aphrodite usage related error when the SSR code path is triggered.

[code]
In my use case,  MyComponent contains a stylesheet that has dynamic content determined by a graphQL query. The stylesheet looks like what is shown below where the value of  `bg_image` comes from

[2016-11-10 19:47] vlasenko commented on #8
Hi,

If you could fork this starter kit and reproduce the error you are facing, I would be able to dive in and hopefully help you nail down the cause of this problem and perhaps come up with a fix. Without reproduction, I might give it a thought next week, but no promises.

Thanks,
Victor

[2016-11-10 20:10] vlasenko commented on #7
Hi Gilad,

Thank you for giving a try to this starter kit.

Maybe what you are really looking for is code-splitting based on React routes, so that some React routes, that don't use heavy stuff like Apollo or  React Bootstrap didn't load these heavy dependencies and pulled only bare minimum needed? Like the way it is described here:
https://medium.com/@puppybits/webpack-code-splitting-by-routes-92f

[2016-11-10 22:09] GiladShoham commented on #7
Thanks for your quick response
Yes, code-splitting is my other thought about it.
I'm still thinking about which one is a better approach.
Anyway, also configure a code-splitting is not so easy with all the different configs (SSR, dev/prod, vendors splitting, plain CSS vs sass)
Also usually in the reality, a landing page will not use even react sometimes and not sass but only plain HTML/CSS with a

[2016-11-11 03:14] lionkeng commented on #8
@vlasenko, thx for your thoughts on this problem.
I have forked the starter kit and made some basic changes to show you the error. After you have `npm install`, `npm run migrate`, and `npm run seed`...

To reproduce the error:

[code]

from your browser,

[code]

OR

if you launch `localhost:3000`,

[code]

then click on the reload button in your browser to reload the page `localhost:3000/splash`

[2016-11-11 18:17] #8 closed

[2016-11-11 23:43] lionkeng commented on #8
👍 awesome! Thx.

[2016-11-17 15:13] carsonperrotti opened #9 "Typo in dataObjectFromId"
[See this line](https://github.com/sysgears/apollo-fullstack-starter-kit/blob/30fbc42e1a4d595d4a98c18323f3b1ba911a37c9/src/apollo_client.js#L6)

`__typenamfe` should be `__typename`

[2016-11-17 15:16] #9 closed

[2016-11-17 15:16] vlasenko commented on #9
Thank you for finding this! Fixed

[2016-11-20 09:11] zengsai opened #10 "react-hot-loader 3"
Is there any plan to using react-hot-loader 3 ?

[2016-11-20 10:26] vlasenko commented on #10
Right now Webpack HMR is used instead. Is there any benefit of using React Hot Loader 3 compared to Webpack HMR?

[2016-11-21 02:59] zengsai commented on #10
There is an issue in current version of apollo-fullstack-starter-kit: the state of react component can not retained after changing the component using HMR.

Reproduce flow:
1. npm start
2. click "Click to increase count" button, N times.
3. now current count changed, like "Current count, is 9."
4. change `render()` function in "src/ui/containers/counter.jsx", like add a new button and save, to tri

[2016-11-21 03:05] zengsai commented on #10
I aslo added a local timer in Counter component, the timer be reseted every time  the HMR be triggered.

[2016-11-21 07:06] vlasenko commented on #10
Well, if you want reload latest GraphQL data on HMR, you don't need React Hot Loader 3 for this, it's actually easy to do with Webpack HMR, see my commit:
https://github.com/sysgears/apollo-fullstack-starter-kit/commit/e5b00521c13325114b5cb81daf35e97cdcb6af96

If you want React Hot Loader 3 to not touch the state of your components on reload, this is not working well. For example if you change you

[2016-11-21 12:18] zengsai commented on #10
got it! thanks!

[2016-11-27 08:55] mitjade opened #11 "Redux integration"
When trying to integrate Redux into my project I keep getting:

Added store in src/server/middleware/website.jsx and src/client/main.jsx like:
[code]

I presume it has to do with ssr, but can not figure out how to solve this.

[2016-11-27 11:05] vlasenko commented on #11
Well, I don't quite see relation of your question to this project :) I'm not sure what is going wrong with SSR in your project, but at least full source code is needed and reproduction steps to debug and answer your question. Or, as an option, you can for this project, add redux store as you do in your project and trigger SSR problem, then I will be able to help.

[2016-11-27 12:22] mitjade commented on #11
https://github.com/mitjade/apollo-fullstack-starter-kit

[2016-11-27 12:48] vlasenko commented on #11
Because you are using custom Redux store, on client-side you should initialize it with Apollo query results, e.g.  `__APOLLO_STATE__`. Previously `__APOLLO_STATE__` was pushed as param inside createApolloClient. With custom Redux store you should provide data from __APOLLO_STATE__ into your store instead, upon creation on client-side.

https://github.com/mitjade/apollo-fullstack-starter-kit/pull/1

[2016-11-27 12:52] mitjade commented on #11
You are a life saver. Thanks a million.

[2016-11-27 12:52] #11 closed

[2016-11-27 13:01] vlasenko commented on #11
You are welcome :)

[2016-11-27 13:57] mitjade commented on #11
Did minor code cleanup on https://github.com/mitjade/apollo-fullstack-starter-kit, in case anyone else would find this useful.

[2016-11-29 07:20] mitjade opened #12 "batchInterval set to 500?"
I am interested why is batchInterval set to 500.

This causes my app to be really slow. If I set it to 20 everything is much faster. Just interested if this is there of a reason or can this be reduced?

[2016-11-29 07:38] vlasenko commented on #12
I think, this question is not related to the starter kit, but rather to how Apollo Stack works and it should be asked here:
https://apollographql.slack.com/messages/react-apollo/

[2016-11-29 07:38] #12 closed

[2016-12-07 06:58] wuzhuzhu opened #13 "How to deploy this without heroku"
Heroku don't has cdn in my area, I have to find a alternative way to deploy this.

[2016-12-07 07:04] vlasenko commented on #13
Deployment depends solely on the hosting you will be using and is out of scope of this starter kit. It shouldn't be only Heroku. Heroku here is just for example.

[2016-12-07 09:04] wuzhuzhu commented on #13
Thanks.

[2016-12-07 09:04] #13 closed

[2016-12-08 11:43] GiladShoham opened #14 "Problems while running on windows (Unknown signal: SIGUSR2)"
Hi,
I have a problem when running on windows, this code:
[code]
and specificlly this line:
[code]
Are failing due to error:
Unknown signal: SIGUSR2

Have you tried to run it on windows?
Do you have any idea how to solve this?

Thanks,
Gilad.

[2016-12-08 15:15] vlasenko commented on #14
Yeah, it's weird. Webpack is using SIGUSR2 for hot code replacement on signal. SIGUSR2 seems to be not available on Windows.

The alternative is to comment out this line and change `webpack/hot/signal` entry point to `webpack/hot/poll?1000`. It should work on Windows.

[2016-12-25 21:10] GiladShoham opened #15 "Turn off SSR"
Hi,
I really like your starter kit and I'm using it for my apps.
But recently I understand that most of the time I don't really need SSR.
([See reference here](http://jamesknelson.com/universal-react-youre-doing-it-wrong/))
It is work out of the box using the starter kit, but it require more maintenance, and it's time-consuming. (for example, authentication mechanism with SSR are much harder)
Also

[2016-12-26 09:26] GiladShoham commented on #14
Thanks for the help,
I have also found out that change SIGUSR2 to SIGINT make it work.
(But I still have problems with the hot reload on windows)

[2016-12-26 13:45] vlasenko commented on #14
If you are sending SIGINT, I believe the Node.js process will be simply terminated and according to the logic of `webpack.run.js` it will be restarted immediately after termination. Though this might work for you - it is not hot reload, it is just restart of backend process on source code modification.

[2016-12-28 18:50] developer239 opened #16 "Run build fails on linux"
I have windows 10. When I saw your scripts in package.json i decided to use bash on ubuntu on windows to install your starter kit. Everything was fine except for npm run build command. It works on windows but not on linux. :D ... Could you help explaining me why?

[code]

[2016-12-28 18:58] developer239 commented on #16
Also I was not able to start the application on linux. I have built files. I have migrated and seeded the database. But when I run start I get sql select error telling me something about unexistent table.

[2016-12-28 19:02] developer239 commented on #16
[code]

[2016-12-28 20:33] vlasenko commented on #16
You are running undocumented commands. Please either follow instruction or investigate things yourself, the application is not complex.

[2016-12-28 20:55] #15 closed

[2016-12-28 20:56] vlasenko commented on #15
Per your request, I've added configurable SSR support:
https://github.com/sysgears/apollo-fullstack-starter-kit/commit/b60c7e633ee7be88df12fa3fc112370f931b6ad4

To turn off SSR please set `package.json` `ssr` field to `false`

[2016-12-28 21:01] vlasenko commented on #16
@developer239 The problem, you have in the first comment is difficult for me to diagnose, because there is no relevant information in the error message from npm. Please try to localize offending code yourself.

The problem in your 3rd comment with missing `count` table is because you run migrate in dev mode and you are running Node.js app in prod mode, hence it complains that `count` table is miss

[2016-12-29 00:27] developer239 commented on #16
No you are wrong. I have been trying to run your boilerplate for hours. It is just not working. Waste of time.

[2016-12-29 00:38] developer239 commented on #16
Your post install script does not run build script. There is literary nothing to be started when I run npm start. Also npm start is not working EVEN IF i run build script by myself. I have new computer. I guess I am missing some global libraries or something. Your scripts are just not working. Not in ubuntu. Not in windows.

I do not want to sound ungratefully but when I moved from your repo to ht

[2016-12-29 17:11] GiladShoham commented on #15
That's awesome!
Thanks!

[2017-01-02 10:00] GiladShoham opened #17 "Integrate with apollo-passport"
Hi,
I'm trying to integrate [apollo-passport](https://github.com/apollo-passport/apollo-passport).

Part of the client confuguration is to add using the local startegy as described here:
[code]

Of course on the server side this won't really work because of localstorage doesn't exist on the server side.

There is an issue about it over there [Isomorphic app](https://github.com/apollo-passport/apol

[2017-01-02 10:33] vlasenko commented on #17
`__CLIENT__` is obviously always false on the server side, hence if you `console.log` its value, you will always see `false` in the server logs. `__CLIENT__` is obviously always true on the client side, hence if you `console.log` its value, you will always see `true` in the web browser console.

I'm closing this one because it doesn't really look as an issue of this starter kit, it rather looks as

[2017-01-02 10:33] #17 closed

[2017-01-02 10:34] vlasenko commented on #16
Closing because of inactivity. Please reopen when you will have the time discuss this issue.

[2017-01-02 10:34] #16 closed

[2017-01-03 14:33] #14 closed

[2017-01-08 14:31] GiladShoham opened #18 "source maps for server code"
I saw few configurations related to source maps like:
[code]

But yet when I have an error in my console I see it referring to the bundled file:
[code]

Is there anything else need to be configured to make it work?
Thanks!

[2017-01-10 17:23] vlasenko commented on #18
After some investigation, I see that this problem is joint problem of `source-map-support` and `webpack` hot module replacement behavior. The easiest way to solve it is to fork `source-map-support` npm package and modify it to understand `webpack` behavior during hot module replacement. This is quite a big effort.

[2017-01-11 02:33] gilesbradshaw opened #19 "Ws subscriptions on heroku"
Can you give me a pointer re getting websockets to work on heroku?

[2017-01-11 04:51] hhashmi opened #20 "Just copied existing package to new folder and it is not working"
Just copied working package to a new folder without **node_module** folder

in new folder used following commands

npm install

npm start
and here comes following error(s)

[code]

[2017-01-11 05:13] hhashmi commented on #20
my bad.

I missed .babelrc file and that was creating errors.

[2017-01-11 05:14] #20 closed

[2017-01-11 09:12] GiladShoham commented on #18
Thanks for the update!

[2017-01-11 09:20] vlasenko commented on #18
@GiladShoham I've spent much time investigating this problem. But I feel more time need to be invested to understand the root cause of the problem. I've checked all webpack configuration options, then all source-map-support options and stopped on investigation of generated source map format for hot replacement code. Hopefully, I will revisit this issue later, when I have more time.

[2017-01-11 10:41] vlasenko commented on #19
@gilesbradshaw It works out of the box. Open https://apollo-fullstack-starter-kit.herokuapp.com in the two web browser tabs, increment counter in one tab and check another tab - it will increment too, thanks to subscription.

[2017-01-11 12:11] gilesbradshaw commented on #19
It doesn't for me by going to those urls ...  Maybe something wrong my end?  I've been playing with this with my app from what I understand heroku only gives you one port in process.env.PORT

[2017-01-11 12:31] vlasenko commented on #19
WS is served on the same port. It works for me both on that Heroku URL and locally, inside the Chrome browser

[2017-01-11 12:36] vlasenko commented on #19
Subscriptions on https://apollo-fullstack-starter-kit.herokuapp.com/ works for me in Firefox too.

[2017-01-11 15:56] vlasenko commented on #18
@GiladShoham I think it's more a problem of `source-map-support` node.js module then `webpack`. Seems `source-map-support` doesn't expect that hot module replacement can happen at runtime, it needs to be modified to be aware of that.

[2017-01-11 16:11] gilesbradshaw commented on #19
Hi That's odd.  I can't get it to work in anything.  I shall try tonight from a different network.

[2017-01-11 18:41] GiladShoham commented on #18
Hi,
I really appreciate your time!

do you want me to open an issue?
do you think this repo is the right place?
https://github.com/evanw/node-source-map-support

[2017-01-11 18:49] gilesbradshaw commented on #19
ok it works now I am at home must have been to do wth network thanks for your time!

[2017-01-11 18:49] #19 closed

[2017-01-11 20:06] vlasenko commented on #18
Hi,

At this point I don't fully understand the reason for the issue. I think that the source maps for hot reloaded modules do not make into global source map registry used by `source-map-support` module, hence for hot reloaded modules source maps are not used at all. I plan to look and confirm this tomorrow.
Victor

[2017-01-12 09:44] vlasenko commented on #18
@GiladShoham

So the showstopper for me is `webpack`. Even when you completely switch off `devtool`, after hot module replacement happens, the lines inside hot-update.js files in stack traces are unpredictably wrong. This is very very strange and needs something to have with how `hot-update.js` files get executed from file system. This problem is not related to source maps at all. So the main bug

[2017-01-12 14:15] GiladShoham commented on #18
@vlasenko
If you want me to somehow help you with this, just let me know.

[2017-01-12 15:47] #18 closed

[2017-01-12 15:48] vlasenko commented on #18
@GiladShoham Thanks for reporting this one. It was very hard to debug, but should be fixed now, please check. The relevant commit:
https://github.com/sysgears/apollo-fullstack-starter-kit/commit/e3cf4130bcb2bb3375ac5672e03f76677e31eadf

[2017-01-15 14:09] GiladShoham commented on #18
Great, will check it soon:)

[2017-01-16 15:11] GiladShoham opened #21 "Loading main.jsx"
Hi,

I saw that client/main.jsx is used only by client/index.jsx.
index.jsx is defined as the entry point of clientConfig in webpack.config.js.

I have tried to just log some message in the index.jsx / main.jsx and i didn't see the log.
Also look on the build folder and didn't saw the file under build/client (i only see there assets.json).

I wonder how those filed are used?

I use apollo-passport

[2017-01-16 15:19] vlasenko commented on #21
@GiladShoham

Yes, you should see the log in the web browser JavaScript console if you have logging statements in client/index.jsx or main.jsx.

During development most client-side files are generated into memory only, this is how webpack dev server works, it's normal.

All the code run during `npm start` and is available for testing purposes. The build phase is needed only for final delivery of a

[2017-01-16 15:22] GiladShoham commented on #21
@vlasenko
Wow! that was quick!
Thanks!

Ok I see it now in the browser.
Why is this not logged in to the console as other logs from the frontend?

I just can't make the client configuration of apollo-passport to work properly..
Will keep trying.

Thanks!

[2017-01-16 15:29] #21 closed

[2017-01-16 15:31] vlasenko commented on #21
@GiladShoham Front end is not logging to server logs. Only webpack-for-frontend is logging to server logs. All the front end is logging to web browser console only.

[2017-01-16 15:46] vlasenko commented on #21
@GiladShoham There is a notice on apollo-passport package, that it is deprecated and link to https://github.com/js-accounts/accounts. But `js-accounts` has another notice, that it is not ready yet for consumption... So how are you trying to work with them, if they are not ready yet?

[2017-01-16 16:46] GiladShoham commented on #21
@vlasenko
I'm working with apollo-passport for now because js-accounts is not ready yet.
I've opened a question to the author [here](https://github.com/apollo-passport/apollo-passport/issues/11), he says that there is no problem to work with apollo-passport meantime.
And the transition to js-account in the future should be easy.

By the way, I have just succeeded to make it kind of work:)

p.s - i

[2017-01-16 16:53] vlasenko commented on #21
Yes, my email on GitHub is up to date.

[2017-01-18 09:33] mitjade opened #22 "Invalid prop `aphroditeCss`"
When I `npm start` app I get a warning:

`Warning: Failed prop type: Invalid prop 'aphroditeCss' of type 'string' supplied to 'Html', expected 'object'.`

If I replace `aphroditeCss={css.content}` with `aphroditeCss={css}` in `src/server/middleware/website.jsx`, the warning is gone. Is this a bug or am I doing something wrong?

[2017-01-18 09:47] vlasenko commented on #22
@mitjade You have outdated `ui/components/html.jsx`, please check

[2017-01-18 10:02] mitjade commented on #22
You are right. Thank you for pointing it out.

[2017-01-18 10:02] #22 closed

[2017-01-18 10:12] mitjade opened #23 "Webpack’ing your GraphQL Documents"
Was reading https://dev-blog.apollodata.com/webpacking-your-graphql-documents-bf9697ed259b#.vd08fntp4 and tried this out on my fork.

Would this be something you might be interested in for this starter kit?

https://github.com/mitjade/apollo-fullstack-starter-kit/commit/56fdcbe192a46d12b38404e766bd17bfe3b212b4

Any thoughts, suggestions...

Can create a PR when I also add persisted queries.

[2017-01-18 10:17] vlasenko commented on #23
Yes, please proceed with preparing PR

[2017-01-18 10:18] vlasenko commented on #23
Thanks

[2017-01-18 10:32] vlasenko commented on #23
I would have left some example of `gql` query too along with `.graphql` files, lifting everything to `.graphql` files might not be convenient.

[2017-01-18 13:46] mitjade commented on #23
https://github.com/sysgears/apollo-fullstack-starter-kit/pull/24

[2017-01-18 13:49] #23 closed

[2017-02-07 12:30] GiladShoham opened #28 "favicon support"
Hi,
It will be great to add favicon support.
This requires few steps/options:
1. Add ico type to the loader of jpg/jpeg/png/svg
2. make sure the ico is available from the root app somehow - myhost/favicon.ico
3. Maybe add [favicons-webpack-plugin](https://github.com/jantimon/favicons-webpack-plugin) to generate all the different icons (for browser, iphone, windows tiles and so on)
4. change the ht

[2017-02-07 13:01] GiladShoham commented on #28
One more:
Using this code hardcoded in index.jsx it works on dev correctly.
But after compile when running in prod env, it looks like it look for the favicons pngs in the wrong folder ie:
[code]
instead of:
[code]
(it should be with assets twice i think).
It only happen for the favicons, for other images it works correctly.

(i remember something similar before a month when running on dev which lo

[2017-02-07 15:17] vlasenko commented on #28
Hi @GiladShoham

Yes, properly supporting favicon's would be nice I think.

[2017-02-07 15:44] GiladShoham commented on #28
I continue investigating the problem with my favicon and found:

1. in the [index.jsx](https://github.com/sysgears/apollo-fullstack-starter-kit/blob/5a54c532f91500ff5c083682c3180f46e4030fa5/src/ui/components/html.jsx#L10) there is check if it's dev or not, if not it will add /assets and find the correct url with the assetMap
2. most of the images like the logo is found both under build/server/asse

[2017-02-09 14:28] vlasenko commented on #28
@GiladShoham

I'm not sure what you are talking about, when I run 'npm run build' all the images are placed into `build/client/assets`

[2017-02-09 15:25] vlasenko commented on #28
@GiladShoham Ah, I understand you now. You are talking about image files that are placed into `build/server`, during development phase, I will look into this, whether it is still needed...

[2017-02-09 16:47] vlasenko commented on #28
@GiladShoham I think all your concerns raised in this ticket should be resolved by commit:
https://github.com/sysgears/apollo-fullstack-starter-kit/commit/1f84c6b4bc1219bf62a21d9cd9bf679f69e81dcf

[2017-02-09 16:47] #28 closed

[2017-02-09 18:08] GiladShoham commented on #28
@vlasenko
Thank you.
It's still needed.
Meantime i did some workaround.
I create new loader for the favicon files, without hashing in the name.
Then i faced another problem (when put it in the head on html.jsx) it didn't sent to the client.
So i required them as well in the body in hidden div (which is really bad solution), so when reference them in the link href in the head i found them.

By the

[2017-02-09 18:25] vlasenko commented on #28
@GiladShoham
Yes, I'm aware, that this can be tricky. I believe I have implemented it the proper way in the commit:
https://github.com/sysgears/apollo-fullstack-starter-kit/commit/1f84c6b4bc1219bf62a21d9cd9bf679f69e81dcf

As in that article I use require.context as well to require all the favicon images and favicon metadata from `src/assets` folder as specified in the link you have posted (by the

[2017-02-09 20:37] GiladShoham commented on #28
Looks great!
I'll check it soon.
I think it will be better to copy the favicon.ico to the root as well (without hashing) because some browsers are looking for this exact file in the root by default.

[2017-02-09 21:05] vlasenko commented on #28
@GiladShoham Yes, I think you are right. I have moved all assets into root URL and added exception for favicon.ico to not have hash in its name, please see commit:
https://github.com/sysgears/apollo-fullstack-starter-kit/commit/9c3ed91c566484989c6ab062d5de96b5c7bfda2b

[2017-02-12 09:39] GiladShoham commented on #28
@vlasenko
Thanks!
I'll merge it to my project in few days.

[2017-02-14 16:51] Jose4gg opened #30 "Migrate to Webpack 2"
Please do an update to webpack 2.

[2017-02-14 18:27] vlasenko commented on #30
Why to do an update to Webpack 2? Tree shaking is still done better with Webpack 1, so I don't see reasons to update to Webpack 2 at the moment.

[2017-02-16 08:17] josephdburdick opened #31 "This is awesome. Can we use yarn?"
Hi, I've been shopping around for a SSR starter kit with everything Apollo for some time and I'm very excited to see if this works for me. I tried using `yarn start` to begin the project but it looks like it's dependent on being initiated via `npm start`. The following failure returns:
[code]
Not a deal breaker for me since I'm still able to install, add, remove, and all the other operations expla

[2017-02-16 08:42] vlasenko commented on #31
@josephdburdick Hi, I think it can be fixed pretty easily. I will look and report back.

[2017-02-16 08:55] #31 closed

[2017-02-16 08:56] vlasenko commented on #31
Here you go, please update via `git pull` and test

[2017-02-16 17:09] josephdburdick commented on #31
Works for me, thank you @vlasenko. 👍

[2017-02-18 01:53] josephdburdick opened #34 "Merge SCSS files before injecting into HTML"
Hi guys, it's me again :metal:. I noticed that Bootstrap SCSS and `styles.scss` are both included inside `html.jsx`. There's a few things here and I just wanted some clarification.
[code]

1. The first thing that pops out to me is that `styles.scss` is loaded before bootstrap. I understand you might want to assign variables in `styles.scss` that `bootstrap.scss` would then use in place of their ow

[2017-02-18 06:05] vlasenko commented on #34
Hi Joe,

Yes, I think the order need to be changed vice versa, e.g. bootstrap.scss need to be loaded first, and styles.scss second.

The reason for separation is to speed up hot code reload for styles. Bootstrap styles are pretty big and we wanted to separate them out, so that they don't slow down reloading of custom styles.

[2017-02-20 10:04] yishaic opened #35 "__DEV__ is false when running tests"
Hi,

First of all thanks for this great kit.

I'm starting to write tests, and saw that `__DEV__` is false when running `npm test`. This happens because of the line
`global.__DEV__ = process.argv.length >= 3 && process.argv[2] === 'watch';`

I've fixed it for now with
`global.__DEV__ = process.argv.length >= 3 && (process.argv[2] === 'watch' || process.argv[1].indexOf('mocha-webpack') >= 0);`
But

[2017-02-20 10:21] vlasenko commented on #35
I think your solution is fine. Please could you make Pull Request? Thanks!

[2017-02-20 10:40] #35 closed

[2017-02-20 17:20] josephdburdick commented on #34
Just following up here, it looks like splitting up the files like they are now increases build speed but one of the largest benefits of Bootstrap is being able to build with their variables available so developers can stick to a convention and not have to name things on their own. Running the project requesting a very popular variable returns in an  error:
[code]
Unfortunately the only way to solv

[2017-02-20 17:33] josephdburdick opened #38 "Needs Autoprefixer"
Autoprefixer needs to be added for CSS compatibility.

[2017-02-20 17:34] vlasenko commented on #34
@josephdburdick Let's maybe merge styles.scss with bootstrap.scss then. Incremental build speedup time seems not worth the trouble and confusion it creates...

[2017-02-20 18:15] #38 closed

[2017-02-20 18:35] #34 closed

[2017-02-21 17:46] GiladShoham opened #41 "Error SubscriptionClient is not a constructor"
I have just run the project from scratch in the latest version, and when I load the counter page i got an error and the buttons are not working:
[code]

(I run evrything with npm and not with yarn)
I guess it something that has been changed with one of the latest version, but not sure.
Any way currently it's not working at all.

[2017-02-21 17:54] GiladShoham opened #42 "Integrate error handler"
Hi,
I have just publish new module [graphql-apollo-errors](https://www.npmjs.com/package/graphql-apollo-errors). (Fully tested with 100% coverage)
This module help to handle errors in a better way for example:
* Make everything structured the same way
* FInally get the full error in the client (not only message path and location)
* Hooks for logging/storing the errors

and much more

I think it wi

[2017-02-21 18:55] lp741 commented on #41
I had same problem

[2017-02-21 19:10] vlasenko commented on #41
This is the bug in `subscription-transport-ws` version 0.5.2, released 3 hours ago

[2017-02-21 19:11] #41 closed

[2017-02-21 19:19] vlasenko commented on #42
Hi,

I think that Apollo error processing is not responsibility of starter kit. Starter kit should only report what it gets as is. If default error handling and reporting in Apollo is bad, then Apollo should be fixed.

[2017-02-21 21:43] GiladShoham commented on #42
@vlasenko
Thanks for your comment.
It's bad, and I can't find a reason why the errors handled that's way (you can't get an object with code/name and other data to the client, only message).

So, do you want me to skip it or make it anyway?

[2017-02-22 06:37] vlasenko commented on #42
You can make Pull Request, but most probably I will not merge it any time soon, I would prefer Apollo error handling to be improved instead. Let's keep this ticket open though for error handling discussion ideas.

[2017-02-22 08:04] mitjade opened #44 "If persistedQueries turned on, you still see all the queries in source"
If I take a look in the page source, you still see queries listed under:
`window.__APOLLO_STATE__=...`

Anything we can do about that?

[2017-02-22 08:07] vlasenko commented on #44
I'm not sure. We need to investigate...

[2017-02-22 08:13] vlasenko commented on #44
I have an idea. In `apollo_client.js` right now we do `__APOLLO_STATE__` cleaning:
[code]

Maybe we should clean up `__APOLLO_STATE__` on server side right before serialization instead? It should be better

[2017-02-22 09:04] mitjade commented on #44
Let's try it out. Do not know exactly where to do this, could you try, or give me some pointers on how to accomplish this.

[2017-02-22 09:25] #44 closed

[2017-02-22 09:25] vlasenko commented on #44
Done. Please check

[2017-02-22 12:56] mitjade commented on #44
This is still shown as before:

[code]

[2017-02-22 13:00] vlasenko commented on #44
@mitjade Yes, this is expected. This is queries data generated during Server Side Rendering. If you don't need server side rendering you can set `package.json` -> `ssr` to `false`

[2017-02-22 13:05] mitjade commented on #44
ok

[2017-02-22 15:23] mitjade opened #47 "websockets_server.js obsolite?"
Is `src/server/websockets_server.js` obsolite?

If I delete it everything still seems to work.

[2017-02-22 15:25] vlasenko commented on #47
No, it is not obsolete. The subscriptions will stop working if you delete it.

[2017-02-22 15:34] mitjade commented on #47
Opened 2 browsers and tried it out. Still working..

[2017-02-22 15:43] vlasenko commented on #47
@mitjade Yes you are right, actually subscriptions server is set up in `api_server.js`, so I think `websockets_server.js` is outdated indeed.

[2017-02-22 15:53] mitjade commented on #47
Found this out by accident. Will create PR.

Am trying to add mqtt client so I would be able to publish mqtt events in mutations and still keep existing subscriptions, but can not seem to set it in a way to not have it restart on page reload or hot code reload, but still be able to expose client publish in schema.

I know this has nothing to do with this starter kit, but if you have any short poin

[2017-02-22 16:08] vlasenko commented on #47
@mitjade I have no idea. If you could show me the code, that reveals the problem with hot code reload, I might be able to look when I will have time. I believe even making subscriptions in this starter kit to hot reload code changes in counter mutation code with restarting subscriptions might not be possible. Generally subscriptions might be hot code reload friendly first.

[2017-02-22 16:33] mitjade commented on #47
Thx. Will prepare something in a fork, if I will not be able to figure this out.

[2017-02-22 19:34] mitjade commented on #47
https://github.com/mitjade/apollo-fullstack-starter-kit/commit/cc3e95e70b8ae4c9693fb117900f602278ee8026

Here is an example of what I'm trying accomplish.

Start an MQTT client and subscribe to specific topics, which I managed to get working.

What I am not able to do, is to export a publish function in `src/server/api/mqtt_client.js` that I could then call when a certain Mutation is triggered.

I

[2017-02-22 19:39] mitjade commented on #47
Second approach was:

`src/server/api/schema.js`
[code]

Here I get:
`error { TypeError: Cannot read property 'on' of undefined`

[2017-02-22 19:41] vlasenko commented on #47
Yes, you are certainly doing something wrong, why your `src/server/api/mqtt_client.js` closure has parameter `mqttClient`, e.g. `export default (mqttClient) =>`, where do you pass this parameter to your closure? You don't pass it at all

[2017-02-22 19:46] vlasenko commented on #47
You should call your `mqtt_client.js` module like this:
`mqttClient(realMqttClientInstance).publish('topic', 'message');`

[2017-02-22 19:52] mitjade commented on #47
How do I export the `mqttClient` instance from the `src/server/api_server.js` so I can access it in `src/server/api/schema.js`?

[2017-02-22 19:57] mitjade commented on #47
`export default mqttClient;` in the `src/server/api_server.js`.

Sorry for a stupid question :) will try it out now.

[2017-02-22 20:02] vlasenko commented on #47
I believe the way to do it is to use Apollo GraphQL context, see file `middleware/graphql.js` you should pass an instance of your mqttClient as parameter there, e.g.
[code]

[code]

And then in your GraphQL schema you will be able to access mqttClient

[2017-02-22 20:09] mitjade commented on #47
Managed to get it working!

Thank you AGAIN for the help!!! I would probably keep banging my head agains the wall with this problem for quite a while. I guess I need to read up on some javascript fundamentals :)

[2017-02-22 20:09] #47 closed

[2017-02-22 23:31] josephdburdick opened #49 "How to access assets?"
Hi, I've scoured the project's config and Webpack docs. I've also seen the favicon.ico example in the App, but I still can't access an image for inline insertion.

My image is located at `/src/assets/images/marker-cluster--magenta.png`. Here's one of my more promising attempts:
[code]
Could you kindly explain how the loaders, assets, etc are handling images? Thank you!

[2017-02-23 00:00] josephdburdick commented on #49
Also I see that these assets are stored in `/build/client/assets.json` but how do you actually render an image?

Another attempt:
[code]
On the client returns a 404 pointing to `http://localhost:3000/d14e63cee3447971eda2da0879d044c7.png1.png`
When I use my browser to go to `http://localhost:3000/d14e63cee3447971eda2da0879d044c7.png` it renders properly.

[2017-02-23 00:16] josephdburdick commented on #49
Ok, further progress. As it turns out `require('!file!../../../assets/images/marker-cluster--magenta.png');` returns the image:data value of the image. Is it possible to return the proper image path instead? Thanks guys.

[2017-02-23 00:31] josephdburdick commented on #49
After further experimentation with webpack loaders I have I think this issue originates from [another library](https://github.com/tomchentw/react-google-maps). React Google Maps is prepending my correct filepath with another file extension (filename.png1.png). Closing until further notice.

[2017-02-23 00:31] #49 closed

[2017-02-25 19:59] josephdburdick opened #51 "CSS Image is server-rendered as [object object] until JS loads to replace it"
Hello, I've been facing issues with leveraging image assets in this project and, while I could stand to understand Webpack better, it would be nice to see some guidance in the documentation as to where I can learn more about the following (within the _context_ of this project's setup):

1. Add an inline image
2. Add an SVG
3. Load a CSS background image

As it stands I cannot render a background i

[2017-02-26 08:38] vlasenko commented on #51
Hi,

I'm not sure what you are talking about, this tickets need details, how to reproduce each of the issue you are having. Because I don't have any problems with images, everything works as expected.

[2017-02-26 17:36] josephdburdick commented on #51
No problem @vlasenko, hopefully the following will suffice.
Basically I have a div with a class of `.brief`. Inside of `.brief` I have the following defined:
[code]
When I turn off Javascript in the browser (rendering pure SSR only) the image background png doesn't load. Inspecting the element looks like this:
<img width="316" alt="screen shot 2017-02-26 at 2 27 31 pm" src="https://cloud.githubuse

[2017-02-26 21:07] #51 closed

[2017-02-26 21:09] vlasenko commented on #51
Yes, you are right. I have a problem in backend webpack config. Frontend and backend should use the SAME config for images. It was the same from the beginning, but at some stage, I just started to use `ignore-loader` on backend for images. It was a mistake. I have returned back the same config for images for backend and frontend. See the commit above. If you have more questions about images, lets

[2017-02-27 07:10] mitjade opened #52 "greenkeeper.io"
Should we try greenkeeper.io, to keep the dependencies up to date?

Maybe just for the apollo packages.

[2017-02-27 08:08] vlasenko commented on #52
Thanks Mitja! Done, see commit:
https://github.com/sysgears/apollo-fullstack-starter-kit/commit/5152cca19bcdc8f275db89896d53f8f6aa003cfa

[2017-02-27 08:08] #52 closed

[2017-02-27 15:35] vlasenko commented on #30
We will migrate to Webpack 2, when this issue will be resolved:
https://github.com/webpack/webpack/issues/2867

Hopefully this will happen very soon.

[2017-02-27 20:56] josephdburdick commented on #51
Thanks @vlasenko this solution worked.

[2017-02-27 21:02] josephdburdick opened #54 "Consider modularizing resolvers inside schema.js"
Hello, regarding the following block of code within `schema.js`, what is the path of least resistance to modularizing resolvers?
[code]
For larger projects the amount of queries, mutations, and subscriptions can make `schema.js` grow  a substantial amount, would you handle `resolvers` by importing it from another file or import the corresponding `Query`, `Mutation`, and `Subscription` items from a

[2017-02-28 09:08] vlasenko commented on #54
Hi, I think this section of the docs clarify the recommended approach pretty well, e.g. use something like lodash merge function for resolvers:
http://dev.apollodata.com/tools/graphql-tools/generate-schema.html#modularizing

[2017-03-01 02:03] josephdburdick commented on #54
Yeah, you're right. Thanks for linking back to the docs, I've seen all that before but within this context it gave me a new perspective on the matter I hadn't considered before. Closing.

[2017-03-01 02:03] #54 closed

[2017-03-01 03:57] josephdburdick opened #56 "Production environment thinks it is in Development environment."
Hello, I've had some trouble running my project in a production environment (AWS Ubuntu Linux). After a bit of tinkering I decided to git clone the latest version of this repo and run it with NODE_ENV variables set to see what it does and here are the results:
(Following instructions found in the latest README to install, migrate, seed, etc...)
After running `NODE_ENV=production npm install` ...
<

[2017-03-01 07:56] vlasenko commented on #56
A fresh new clone from this repo works as expected for me:
[code]

Please note that websockets are used in production environment as well for Apollo GraphQL Subscriptions, see file: `src/server/api_server.js`

The code below starts websockets listener for GraphQL subscriptions:
[code]

[2017-03-01 15:28] josephdburdick commented on #56
Ok, your previous comment's instructions worked for me on my local machine but not on AWS. But thanks to your comment I tried a few things and ultimately was able to actually build on AWS Ubuntu. Here are the commands I ran to achieve that:
[code]
I would highly recommend that instructions to deploy production be added, without your `npm i; NODE_ENV=production npm i` advice I would have never got

[2017-03-01 15:31] vlasenko commented on #56
@josephdburdick Yes, okay, I will add deployment instructions for production.

[2017-03-01 15:42] vlasenko commented on #56
Done via commit:
https://github.com/sysgears/apollo-fullstack-starter-kit/commit/8359bb878730415da4ef4c98377fb5d065d8c08b

[2017-03-01 15:42] #56 closed

[2017-03-02 05:59] josephdburdick opened #59 "JS Assets not found when navigating to a nested route"
It appears Webpack doesn't properly resolve the location of assets when navigating to a nested route. This should be addressed as it means only routes at the top level will operate correctly.

This is what happens when running in **production** mode and you navigate from a top level location to a nested link:
<img width="827" alt="screen shot 2017-03-02 at 2 49 26 am" src="https://cloud.githubuser

[2017-03-02 07:26] mitjade opened #60 "BREAKING: Run middleware and afterware only once per batched request"
Is this something that might concern this starter kit, since it now uses `apollo-client` 0.10.0?

I found `applyMiddleware` in `src/redux_store.js`, should this be now `applyBatchMiddleware `?

https://github.com/apollographql/apollo-client/pull/1285

[2017-03-02 08:38] vlasenko commented on #60
@mitjade Thanks for pointing out this nuisance, however at the moment starter kit uses only `redux`'s applyMiddleware in `src/redux_store.js`, not apollo's one. So this issue is non-relevant for now.

[2017-03-02 08:38] #60 closed

[2017-03-02 08:44] vlasenko commented on #59
@josephdburdick  Good catch! Please see the commit above, it should hopefully resolve this issue

[2017-03-02 08:44] #59 closed

[2017-03-02 16:09] NickPavlov opened #61 "Implement hot code reload for Apollo GraphQL subscriptions"

[2017-03-02 16:10] NickPavlov commented on #61
Done in commit:
https://github.com/sysgears/apollo-fullstack-starter-kit/commit/926d0b7ca8d709fe8a49ab9268df82144bd53531

[2017-03-02 16:11] #61 closed

[2017-03-08 05:59] aylabyuk opened #63 ""$NODE_ENV" was unexpected at this time. Error on npm install (windows)"
I am running on windows 10 with the latest node and npm but when I tried to npm install the package it produce an error **"$NODE_ENV" was unexpected at this time**. I have tried to install it on ubuntu and it works fine. It only happens on windows. Any ideas why?

[2017-03-08 06:42] vlasenko commented on #63
Hi @aylabyuk,

Logs would be helpful, to understand whats happening

[2017-03-08 06:46] vlasenko commented on #63
Though I bet the problem is caused by commands inside "scripts", e.g. by this construction:
```"start": "if [ \"$NODE_ENV\" = production ]; then ```

[2017-03-08 06:50] aylabyuk commented on #63
sorry here is the log from npm-debug.log file

here is the start of the error.

97 error Windows_NT 10.0.14393
98 error argv "C:\\Program Files\\nodejs\\node.exe" "C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js" "i"
99 error node v7.7.1
100 error npm  v4.1.2
101 error code ELIFECYCLE
102 error apollo-fullstack-starter-kit@1.0.0 postinstall: `if [ "$NODE_ENV" = production ]; then npm

[2017-03-08 07:33] vlasenko commented on #63
@aylabyuk I've pushed commit that might fix this issue. Unfortunately right now I can't test it under Windows. Could you try to update source code, try under Windows and report back?

[2017-03-08 07:42] aylabyuk commented on #63
@vlasenko I have updated the code and run **npm install -save-dev if-env**. still have issue installing

here is the error log:

98 error argv "C:\\Program Files\\nodejs\\node.exe" "C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js" "i"
99 error node v7.7.1
100 error npm  v4.1.2
101 error code ELIFECYCLE
102 error apollo-fullstack-starter-kit@1.0.0 postinstall: `if-env NODE_ENV=product

[2017-03-08 10:42] vlasenko commented on #63
I think now the scripts are Windows-friendly. Please clone the latest version of this repo and check.

[2017-03-08 13:42] vlasenko commented on #63
Actually slightly changing Getting Started steps, I've managed to make scripts sections easier then it was, yet keeping them cross-platform.

[2017-03-08 18:21] josephdburdick commented on #63
Perhaps instead of using an inline conditional statement there could be separate npm scripts and/or the use of `concurrently`. I think it would help alleviate ambiguity.

[2017-03-08 19:26] vlasenko commented on #63
@josephdburdick I think right now it is done like you describe :) The `start` target has been split into `start` and `watch`. And instead of using `postinstall` for Heroku, now `heroku-postbuild` is utilized instead.

[2017-03-08 20:35] josephdburdick commented on #63
_puts on 👓_

so it has! 👍

[2017-03-08 22:10] josephdburdick opened #64 "Could we place style files in their own directory?"
Hi guys. I create sizable, customized sites/apps where there's a lot of components and SCSS modules that are then imported in a large style index file (in our case, `styles.scss`). These files need to go somewhere and I like to keep things as organized as possible to improve scalability and so my style organization looks like this:
<img width="229" alt="screen shot 2017-03-08 at 4 46 44 pm" src="h

[2017-03-09 05:17] vlasenko commented on #64
Hi Joe,

Yes, separate directory for styles sounds good!

Thanks,
Victor

[2017-03-10 08:35] vlasenko commented on #30
I think we can migrate to Webpack 2 if we will utilize this plugin:
https://www.npmjs.com/package/babel-plugin-transform-imports

This should fix tree-shaking issues in Webpack 2 for ES6 modules

[2017-03-10 08:55] vlasenko commented on #63
@aylabyuk Could you confirm, if it works for you or no?

[2017-03-10 15:44] jay-at-avido opened #70 ""Cannot find module 'apollo-client/errors" (and how to fix it)"
We get this error when trying to run the code, unless  we install react-apollo dependency manually to have the correct version. (rc.2 instead of rc2)
The problem can be traced back the following issue ( and similar issues) reported on the react-apollo repo:

[https://github.com/apollographql/react-apollo/issues/524](https://github.com/apollographql/react-apollo/issues/524)

[2017-03-10 15:44] jay-at-avido commented on #70
["Cannot find module 'apollo-client/errors"](url)

[2017-03-10 15:56] vlasenko commented on #70
@jay-at-avido Yes, thanks for reporting and providing the workaround for Yarn. Let's hope the corresponding React Apollo issue will be fixed soon.

[2017-03-10 18:41] vlasenko commented on #70
Okay. Please see my comments under this react-apollo issue. I think for now the way to go is to use `rc` prereleases of `react-apollo` in package.json explicitly, because yarn sorts releases in lexicographical order and this it correct behavior.

[2017-03-10 18:44] #70 closed

[2017-03-10 19:00] #63 closed

[2017-03-11 09:14] vlasenko commented on #30
Followup. Looks like Webpack 2 is still considerably worser then Webpack 1 for Tree Shaking:
https://github.com/webpack/webpack/issues/2867#issuecomment-285818931

Hence, I would like postpone migration to Webpack 2 until it start to perform the same or better then Webpack 1 for Tree Shaking.

[2017-03-13 05:58] #64 closed

[2017-03-14 02:57] rojobuffalo commented on #10
@vlasenko do you just leave out the react plugin or do you have substitutable configs? The latest webpack 2 docs site references using React Hot Loader 3: https://webpack.js.org/guides/hmr-react/. Would you answer on StackOverflow maybe?

[2017-03-14 05:36] vlasenko commented on #10
@rojobuffalo As explained above, pure Webpack HMR is used instead:
https://github.com/sysgears/apollo-fullstack-starter-kit/issues/10#issuecomment-261859946

[2017-03-14 07:54] vlasenko commented on #10
Okay. Perhaps React Hot Loader 3 support will be included as an optional feature to let people see what works best for them, pure Webpack HMR or React Hot Loader 3 + Webpack HMR. But I'm worried about additional code complexity that this brings in. This starter kit tries to solve many practical problems during development already, maybe even too many.

[2017-03-15 14:08] #30 closed

[2017-03-15 14:21] yishaic commented on #30
Hi @vlasenko
4 days ago you wrote

And also https://github.com/webpack/webpack/issues/2867 is still open.
What have changed? I'm curious :)

[2017-03-15 14:25] vlasenko commented on #30
@yishaic Webpack 1 has been marked as deprecated:
http://webpack.github.io/docs/

Though tree shaking is still working better in Webpack 1, lacking of interest of the Webpack developers to support Webpack 1 leaves us as having no choice but migrate to Webpack 2 and hope that Tree Shaking issues will be solved soon somehow

[2017-03-20 13:29] GiladShoham opened #83 "Help - problems with routes with url params"
Hi,

I have a problem with routes with URL params like /users/:id/
The problem starts on this commit:
9c3ed91c566484989c6ab062d5de96b5c7bfda2b
It looks like it tries to find the vendor/bundle files in the wrong place.
for example, in a route with URL param (/recover/:id), the bundle will be under recover
![image](https://cloud.githubusercontent.com/assets/3840769/24101421/f1faed22-0d80-11e7-94e8-7

[2017-03-20 13:38] vlasenko commented on #83
Hi @GiladShoham,

I bet you have this issue:
https://github.com/sysgears/apollo-fullstack-starter-kit/issues/59
which have been fixed already. The idea of the fix is that vendor/bundle files and all the assets need to be referenced by absolute URLs, not relative URLs as they were used to be referenced.
So instead of this:
[code]
there should be this in `html.jsx`:
<script src={`/${assetMap['bundle

[2017-03-20 13:52] GiladShoham commented on #83
@vlasenko
By the way, why didn't you merged 6f6e90f34f6ba3a2ed4852aab0284eeb2a27de96  into master?

[2017-03-20 13:55] vlasenko commented on #83
@GiladShoham
I have merged it:
https://github.com/sysgears/apollo-fullstack-starter-kit/commit/2688fcb0c65f91fa4a8694efe17271ae6d9e94ea

[2017-03-20 14:01] GiladShoham commented on #83
I see now.
It's the same diff but it's not a merge, that's what confused me.

![image](https://cloud.githubusercontent.com/assets/3840769/24102998/7617088e-0d86-11e7-91ff-ec56723150a0.png)

[2017-03-20 14:03] vlasenko commented on #83
Yes, I have cherry picked this commit from non-master branch, since I did the fix in that branch first and the cherry-picked commit to master.

[2017-03-20 14:44] #83 closed

[2017-03-24 09:39] ChingxWando opened #88 "Webpack 2.3.1 does not compile, misconfigured output path"
Hey there,
First notice the issue itself as dev build does not compile. Which is not too complicated to resolve at all. I assume that it is simply due to new validations added to webpack 2.3.1 to ensure output.path to be a absolute path, see error messages below.

[code]

Upon further investigation though, when I try putting together a small fix I noticed git is staging new files, server code bund

[2017-03-24 09:44] vlasenko commented on #88
@ChingxWando Please wait for 2 mins, I will take a look

[2017-03-24 09:50] #88 closed

[2017-03-24 09:50] vlasenko commented on #88
@ChingxWando
Please check, if the fix in the commit above works for you

[2017-03-27 09:31] devboell opened #89 "Error when trying to 'yarn watch'"
I followed the steps from the 'Getting Started', but end up with an error:

[code]

[2017-03-27 09:39] #89 closed

[2017-03-27 09:39] vlasenko commented on #89
@devboell See the commit above. Please update and try again

[2017-03-27 09:53] devboell commented on #89
Ok, it works now, thanks.

[2017-03-27 16:25] GiladShoham opened #91 "rewire integration"
Hi,
Would be great to integrate [rewire](https://www.npmjs.com/package/rewire) (as a way to test private functions / vars)
It's a bit tricky with the es6 import/export and mocha webpack.

This might work:
https://www.npmjs.com/package/rewire-webpack
Or maybe this
https://github.com/speedskater/babel-plugin-rewire

What do you think?
Thanks.

[2017-03-27 16:32] vlasenko commented on #91
Hi Gilad,

The first link want work, because it doesn't support Webpack 2. The babel plugin might work, but need to check this. It will be certainly tricky for ES6. Generally speaking if you need private function testing / private vars testing - you are doing something wrong, but I understand there might be exceptions and scenarios where this approach is valid...

[2017-03-27 16:37] GiladShoham commented on #91
Hi,
Thanks, for the quick reply.

I have a service which fetches data from DB then do some manipulation.
The manipulation part is on a private function.
I want to test only this part (until I'll implement the full test with the DB fetching).

But even without this, there is always exceptions:)

By the way, I still haven't upgrade to webpack 2, so it might work:)

[2017-03-27 16:44] vlasenko commented on #91
Hi,

Maybe approach like that in this answer might be more preferable (`rewire` seems as overkill for this purpose):
http://stackoverflow.com/questions/22097603/unit-testing-of-private-functions-with-mocha-and-node-js

[2017-03-27 16:48] vlasenko commented on #91
This whole topic is controversal however :) If one would investigate compatibility of `rewire` with ES6 and if it is compatible indeed, then I think it's fine to add `rewire` to this kit as one of the approaches to test private functions.

[2017-03-27 16:52] GiladShoham commented on #91
Ok,
I'll try to play a little bit with it.
If it will work I'll let you know.
If you do it before, just update the issue:)

[2017-03-27 16:56] vlasenko commented on #91
@GiladShoham Sure, thank you Gilad!

[2017-03-27 22:38] j-jackson opened #93 "styled-components vs glamor?"
This isn't really an issue, I was just curious why glamor over of styled-components?

its easy enough to replace for my own needs but I just wondered if there was a specific reason given that SC gives you the best of both.

[2017-03-28 07:14] vlasenko commented on #93
@j-jackson I agree, styled-components would be a better choice. Would you be interested to submit a Pull Request that replaces glamor with styled-components?

[2017-03-28 14:19] vlasenko opened #94 "Add PersistGraphQL support during development and production"
This is a ticket to track progress of adding PersistGraphQL support during development and production.

The Pull Request by @mitjade to add PersistGraphQL support logic:
https://github.com/sysgears/apollo-fullstack-starter-kit/pull/46

The effort to implement Webpack Plugin for PersistGraphQL:
https://github.com/sysgears/persistgraphql-webpack-plugin
The plugin works at the moment for:
- single co

[2017-03-28 17:40] mitjade commented on #54
Done something similar for post example [here](https://github.com/sysgears/apollo-fullstack-starter-kit/pull/95/commits/69a4ffb6a7b2f524f1153734835185d6f19312a4).

[2017-03-28 21:22] corydolphin opened #96 "XSS vulnerability in __APOLLO_STATE__"
JSON.stringify is not XSS safe in HTML. It could contain eg. a </script> tag, which would allow an attacker to inject whatever they want into your page.

See http://redux.js.org/docs/recipes/ServerRendering.html#inject-initial-component-html-and-state

[2017-03-28 22:54] Morganjackson commented on #93
@vlasenko I have just created a new branch with SC (first PR so hopefully its ok!) but it looks like I need to be given access before I can create a PR.

[2017-03-29 07:26] vlasenko commented on #93
@Morganjackson You should fork this repo, then you will be able to create branches on your copy of repo and then from these branches you can submit pull requests

[2017-03-29 07:31] mitjade commented on #93
[Creating a pull request from a fork](https://help.github.com/articles/creating-a-pull-request-from-a-fork/)

[2017-03-29 07:59] vlasenko commented on #96
@corydolphin I'm not quite following you, where is the XSS vulnerability?

`JSON.stringify` is executed server-side and produces string. This results in the following code executed client-side:
window.__APOLLO_STATE__ = 'some string'

What XSS vulnerability we have here?

[2017-03-29 08:20] vlasenko commented on #96
@corydolphin Okay, I understand now. On client-side the code is actually:
`window.__APOLLO_STATE_ = {object definition}`

[2017-03-29 08:27] mitjade commented on #96
Something seems to be wrong.

I get `Uncaught SyntaxError: Unexpected token {`, when starting...

[2017-03-29 08:36] mitjade commented on #96
If I inspect html I see:

`window.__APOLLO_STATE__=${&quot;apollo&quot; ... }}}`

[2017-03-29 08:39] #96 closed

[2017-03-29 08:40] vlasenko commented on #96
@mitjade Okay, I have rewritten this commit

[2017-03-29 08:50] mitjade commented on #96
Works now!

[2017-03-29 08:52] vlasenko commented on #96
@corydolphin Many thanks for reporting this!

[2017-03-30 14:35] sakhmedbayev opened #103 "Add authentication and authorization support"
Thank you guys for this starter kit. It is awesome!!!
Would be nice to have authentication and authorization support. What do you think?

[2017-03-30 17:59] vlasenko commented on #94
@mitjade I think PersistGraphQL plugin is ready for alpha testing:
https://github.com/sysgears/persistgraphql-webpack-plugin

I have added code to optionally use PersistGraphQL plugin:
https://github.com/sysgears/apollo-fullstack-starter-kit/commit/5a553fe76f58af7475535a99ed01e7a03b992280

Provided we have plugin for Webpack now it would be great to finish off the Pull Request in
https://github.co

[2017-03-30 18:20] mitjade commented on #94
@vlasenko Great! Will give it a try, and let you know.

[2017-03-31 11:32] mitjade commented on #103
I think it would be great.

What I currently use is client certificate on `Nginx` and proxy to my local app.  In case this is something that would work for you, all I needed to do was:

`src/server/middleware/graphql.js`
[code]

@vlasenko  Maybe we could add an example of actual authentication and authorisation as well?

[2017-03-31 11:44] vlasenko commented on #103
@mitjade Yes, we could. But this topic is very wide. What authentication scheme we should support and using which implementation?

[2017-03-31 11:53] mitjade commented on #103
Maybe we can get some suggestions or wishes from people like @sakhmedbayev that are interested in this topic. Will investigate a bit and make my suggestion what I would like to see being used, since I have not jet needed to deal with this, beside the method mentioned above.

[2017-03-31 12:10] mitjade commented on #94
@vlasenko Tried https://github.com/sysgears/apollo-fullstack-starter-kit/commit/5a553fe76f58af7475535a99ed01e7a03b992280 and it looks fantastic! Will try to add what I have done in #46 and commit to your branch. Then I can make a new PR out of it.

[2017-03-31 12:25] vlasenko commented on #94
@mitjade Cool. Sounds great! Thank you!

[2017-03-31 13:19] sakhmedbayev commented on #103
Maybe to include basic local authentication with email and OAuth 2 with github???

[2017-04-01 12:47] swhamilton commented on #103
I have needed authentication/authorization and have spent two weeks studying the different approaches with the goal of implementing in this boilerplate.

It is a huge topic with a lot of different implementations so let me give you the summary from my research;

Goal:
- Stateless (no sessions needed to be stored on the server)
- Don't reinvent an auth strategy (use OAuth 2.0)
- Don't break SSR (in

[2017-04-01 13:08] vlasenko commented on #103
@swhamilton Very interesting research on security, thank you very much for your work! Adding authorization and authentication to this starter kit is a very nice addition on one side. From other side if we make this kit too complicated we will scary away potential users of the kit. So we need balanced approach when essential features are added to the kit but at the same time can be easily removed w

[2017-04-01 13:52] mitjade opened #105 "Too many features in the starter kit"
I was thinking of this problem a bit.

On one side we would like to have as many features packt into this kit. On the other side, it will quickly get too complex for someone who wants to get started.

I see a few possible solutions, all with advantages and disadvantages:

- Have a balanced kit and maybe have this features in separate branches.
-- 'pro' easy to pick what you need out of separate br

[2017-04-01 14:10] josephdburdick commented on #105
Thought: Perhaps a baseline starter kit and then branches that stay in sync with master but add features on demand?

[2017-04-01 14:18] mitjade commented on #103
#105

[2017-04-01 14:18] mitjade commented on #103
105

[2017-04-01 14:33] mitjade commented on #105
One other considiration. Let' say you started several projects out of this kit. It is hard to keep them all up to date, when you get a lot of conflicts between yor added code and new features added to the kit.
I guess this is a 'pro' for bare minimum option.

[2017-04-01 16:30] sakhmedbayev commented on #103
I think authentication and authorization fall under the category of "bare minimum", at least in my opinion  :)

[2017-04-01 17:08] mitjade commented on #105
I think there a 4 categories:
- can not run without (webpack, express, apollo, ...)
- can be configured as on /off (ssr, persisted queries, ...)
- optional and needs deeper integration (router, bootstrap, authentication, ...)
- examples (counter, post, ...)

For sure first is a must an last can be (fully decoupled, separate banch), the rest depends ...

[2017-04-01 19:03] vlasenko commented on #105
Ideally I would like to have decoupled build system from examples code, where the user can update the build system from GitHub and have the option to generate scaffolding code for examples with user choices, maybe utilize [Yeoman generator](https://github.com/yeoman/generator) for scaffolding?

[2017-04-02 05:18] greenkeeper[bot] opened #107 "An in-range update of apollo-client is breaking the build 🚨"
## Version **1.0.0** of [apollo-client](https://github.com/apollographql/apollo-client) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/sysgears/apollo-fullstack-starter-kit/compare/greenkeeper%2Fapollo-client-1.0.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      apollo-client
    </

[2017-04-02 06:03] mitjade commented on #94
@vlasenko  I tried to add code from #45 to the `origin/persistgraphql`, but only now realised that `frontend` `queryMap` in `src/client/main.js` is empty. Backend one in `src/server/webpage.js` gives correct output?

[2017-04-02 06:21] #107 closed

[2017-04-02 07:04] mitjade commented on #103
I think that we can all agree information like this is invaluable and have an example done for this starter kit, would be really helpful. Personally I rather spend a day removing unneeded code, than finding a working solution for two weeks. All we need to agree is, in what way to add this kind of solutions.

For me even if it sits in a un-merged PR, that nobody keeps up to date, is still better th

[2017-04-02 07:47] vlasenko commented on #94
@mitjade Oh, sorry. I've just pushed the fix to persistgraphql-webpack-plugin version 0.1.5

[2017-04-02 08:45] GiladShoham commented on #103
Hi guys,
I already did an integration with those libraries:
[apollo-passportjs](https://www.npmjs.com/package/apollo-passportjs)
[apollo-passport-local-strategy](https://www.npmjs.com/package/apollo-passport-local-strategy)
[apollo-passportjs-react](https://www.npmjs.com/package/apollo-passportjs-react)

They are all libraries I have forked and added a lot of features.
I'm using it in production a

[2017-04-02 11:38] vlasenko commented on #103
I would love @GiladShoham and @swhamilton to proceed, maybe have two implementations in different forks and then merge the best approaches from both implementations, or perhaps you guys could coordinate with each other and work out the best way to proceed?

[2017-04-02 12:08] GiladShoham commented on #103
Thanks @vlasenko
@swhamilton I have implemented most of the things you mentioned and some more (like account verification by email) in my libraries.
Some I implemented differently, for example storing the token in the local storage instead of cookies.
I have also implemented special HOC component for authorization which connects to the Authentication layer and knows to redirect you from an unautho

[2017-04-02 15:02] swhamilton commented on #103
thanks for feedback guys! @GiladShoham Your repos look great. Your solutions are definitely more built out than mine, which are just manually implementing the OAuth 2.0 resource owner flow.

I am familiar with your solution already when I did initial research on apollo/graphql auth. I wasn't clear on the state of the project or the plan for future work so I then investigated js-accounts, which als

[2017-04-02 15:18] swhamilton commented on #103
I'l revisit your work too. Let me know if you have any ideas how to achieve SSR/auth with apollo passport. Would love to contribute where I can!

[2017-04-02 18:45] mitjade commented on #94
@vlasenko I pushed my changes I have done in #46 to `origin/persistgraphql` branch. I am not able to make it work. Whenever I add the `networkInterface = addPersistedQueries(networkInterface, queryMap);` I get the following error: `Network error: Could not find query inside query map.`

But the code below in `src/server/api_server.js` never get's triggered:
[code]

If I comment out `addPersistedQu

[2017-04-03 07:18] vlasenko commented on #94
@mitjade The same error happens if instead of webpack plugin use json generated by persistgraphql CLI tool. I think we are facing this issue:
https://github.com/apollographql/persistgraphql/issues/13

[2017-04-03 07:25] mitjade commented on #94
@vlasenko So maybe this was working before I added `post` example, which uses fragments.

[2017-04-03 07:28] mitjade commented on #94
@vlasenko For the next 2 weeks I will be busy with other work, so if you want to move this forward sooner, you can try to investigate your self, otherwise I will when I have more time.

[2017-04-03 07:41] vlasenko commented on #94
@mitjade Yes, of course, thanks!

[2017-04-03 09:10] GiladShoham commented on #103
@swhamilton This is a very detailed comment.
I'll try to follow everything.

About js-accounts, I'm sure it will be a great project. I'm also a member of their slack group, and I know few of them personally.
They asked me to migrate some of my code to their solution a few weeks ago, but I didn't have the time to do it yet.
Regarding integration for this starter kit, it's still too early for now.

[2017-04-03 11:20] vlasenko commented on #94
@mitjade I have looked at this issue. The main problem was that typename fields were absent in persisted queries and we are using network transport with typenames. I have added option to add typenames to generated queries to Webpack plugin and ironed out couple bugs. I believe now persisted queries work as expected

[2017-04-03 11:22] vlasenko commented on #94
@mitjade I believe now https://github.com/sysgears/apollo-fullstack-starter-kit/pull/46 is ready to merge?

[2017-04-03 11:31] mitjade commented on #94
@vlasenko A new PR probably needs to be made from `origin/persistgraphql`, or can this somehow be merged into #46? I can try it in the evening, but if it worked for you, please merge it.

[2017-04-03 12:27] vlasenko commented on #94
@mitjade Mitja I have prepared `origin/persistgraphql` branch. Could you make me a favor and create PR from this branch? I want PR to be on your name.

[2017-04-03 12:32] mitjade commented on #94
NP, but you have done way more work on this matter than me, so it this is just about that no need :)

[2017-04-03 12:48] vlasenko commented on #94
Fixed by:
https://github.com/sysgears/apollo-fullstack-starter-kit/commit/dfd6e4e4ba16188718322b8baefb9cbbc33c6ca8

[2017-04-03 12:48] #94 closed

[2017-04-03 13:03] vlasenko commented on #93
@j-jackson Seems `styled-components` do not support Server Side Rendering and hence it cannot be used in this starter kit until the support for SSR will be added:
https://github.com/styled-components/styled-components/issues/386

[2017-04-03 15:20] swhamilton commented on #105
Agree with @mitjade as to the categories. I would say decoupled here makes the most sense:

1. Keep the boilerplate lean/modular as much as possible. Because all boilerplates get frozen as soon as you fork one, I really think this should be top priority. Keep the update pain minimal.
2. Don't maintain two repos (basic+fully configured) as that is too much work and one will get left in the dust.
3.

[2017-04-03 15:30] vlasenko commented on #105
Thank you for your comments @swhamilton. I agree both with you and @mitjade and would love to see and help with your contributions both to authentication and material-ui support. I know that destiny of most boilerplates is get frozen after fork, this something I would like to change, because this boilerplate get improved actively, the topic is very new and actively changing, on top of that we are

[2017-04-03 16:31] swhamilton commented on #103
@GiladShoham If you're up for making this something that everybody can use I think we can do it.

You have more experience than me with your apollo-passport extension work so I will try to use your work as a starting point.

To ensure our work is successful we need to gather our requirements/design goals.

Here are some of my guiding params for the project:
1. Don't reinvent stuff, use other packa

[2017-04-04 20:12] GiladShoham opened #112 "General file structure"
Hi,

Currently, the files/folder structure is to have a folder per file type, I mean for example resolvers, graphqls, and subscription.
For my opinion when a project become bigger it's much more convenient to have folders by feature then different file types.
For example in this case to have:
post folder and inside to have post.graphql post.subscription post.resolvers and so on.
I think it's much

[2017-04-04 20:21] vlasenko commented on #112
Thanks @GiladShoham. I agree, folder per feature is the best approach in my opinion and it's the most convenient to easily add and remove features to the project, both in the form of examples from this starter kit and project-specific features as well.

[2017-04-04 20:36] GiladShoham commented on #103
@swhamilton

Agree

Not sure about different packages, but different files for sure.
My extension is already split to about 5 different packages/node modules.
So it's more about integration than about new packages.

We should make it easy to remove I think.
Either by good docs and good code architecture.

This is always good practice:)

Same as before.
But it's not very easy to write testing for a

[2017-04-04 20:38] GiladShoham commented on #112
@vlasenko
So let's change the structure:)
(I didn't change my own structure only to easily keep getting updates)

[2017-04-04 20:47] vlasenko commented on #112
@GiladShoham Yeah, I'm also having issues with keeping in sync this starter kit with my projects, so I'm all for per-feature structure and perhaps support for overriding `webpack.config.js` with project-specific config, so that I can take `webpack.config.js` and `webpack.run.js` into my projects as is. This is of course, very minimal improvements to make this kit easy to keep in sync with real pro

[2017-04-04 23:12] josephdburdick commented on #112
So uhh, yeah, just lemme know when I should update from upstream, guys. :wink:

[2017-04-05 04:44] mitjade commented on #112
I apologise for not doing this correctly in the first place for the post example. I had some problems figuring out how to do this correctly, so I simplified it a bit to make it work in the first place and now I'm trying to come up with the correct approach, while all of you have to deal with trying to keep your projects all up to date.

So what would then ideally be the structure for let's say pos

[2017-04-05 04:48] mitjade commented on #112
I also forgot `src -> server -> middleware -> graphql.js`. How do we separate this per feature?

[2017-04-05 05:40] vlasenko commented on #112
@mitjade I need to think about the structure. Right now it looks like as too many folders per feature, but maybe thats okay, I'm not 100% sure.

[2017-04-05 05:45] mitjade commented on #112
I guess this depends how bit the feature will be. I it is a small one and you have one file per folder it is just annoying, but when you have 5 or more per folder, then this quickly becomes handy.

[2017-04-05 06:07] vlasenko commented on #112
@mitjade Yes, I agree. Okay, let's do it with the folder structure as you described.

Maybe have something like 'export function createGraphQLContext() { return new Count(); }' inside each feature say in file like `post -> index.js` and then in  `src -> server -> middleware -> graphql.js` and in other places where we need to get feature list use `require.context` ?

[2017-04-05 06:10] mitjade commented on #112
I can try to prepare something in the evening. Would love to hear the opinion of anyone else that has some structure already in place, with possible suggestions on how to change / improve proposed.

[2017-04-05 14:45] sakhmedbayev opened #113 "Training or tutorials are needed"
Thank you guys again for this starter kit! I know you are probably very busy working on and improving other features of this project. I want to start using it for one of my projects, but I do not understand some parts of the kit, I am still learning React and GraphQL. I wonder if you can make video tutorials which will explain how different pieces of the kit fit and work together, also, showing us

[2017-04-05 15:03] mitjade commented on #112
Probably we need also a general folder to put features in.

would `src -> modules -> post` be a ok?

[2017-04-05 15:04] vlasenko commented on #112
@mitjade Yes, fine with me

[2017-04-05 15:39] mitjade commented on #112
I started a PR for this #114.

[2017-04-05 16:28] GiladShoham commented on #112
I think we should keep the server/ui separation and create features folder in each one of them.
This will leave us with a reasonable place for all the common stuff like middlewares and not feature specific files.
So it should be something like:
(--> represents a folder
-- represents a file)

The client part inner structure I didn't change much (only add features folder above).
[code]

[2017-04-05 17:23] mitjade commented on #112
@GiladShoham Thank you for your comments.

I am ok with both approaches. Maybe keeping server and ui separate is even better, if later you would need to start a separate project that only depends on the server part. Personally I prefer `modules` over `features`, but ether is fine with me. Maybe I would stick with `post_...`, since the rest of the kit uses this convention.

@vlasenko Please comment

[2017-04-05 18:07] mitjade commented on #113
What helped me was going through a few tutorials on React and GraphQL and then trying to follow along using this starter kit. Maybe I can point out a few of then, depending on what you are actually interested in or have problems with.

[2017-04-06 01:10] sakhmedbayev commented on #113
Thank you @mitjade. At the moment, I cannot figure out how to modify the kit so only admins can add and edit content. Only, registered users can add and edit their own comments. I know it is something that contributers are currently working on -  authentication and authorization . This is my biggest struggle at the moment.

[2017-04-06 01:15] sakhmedbayev commented on #113
I also really like derictory layout which is shown in the docs for this kit https://github.com/kriasoft/react-starter-kit/blob/master/docs/getting-started.md

Would be nice to have something like that for this kit as well.

[2017-04-06 06:03] mitjade commented on #113
@sakhmedbayev Regarding authentication and authorisation I can not be of much help, since I have not yet have to deal wit this in GraphQL context. The only resource I can point you to it [GraphQL with React: The Complete Developers Guide](https://www.udemy.com/graphql-with-react-course/). It has some topics at the bottom that covers some authentication stuff. It is a bit expensive, but Udemy often

[2017-04-06 07:08] sakhmedbayev commented on #113
Thanks @mitjade. I think, if the tree structure will have a preliminary form for now, it is still OK. It will be still very helpful for new users to start using this kit.

[2017-04-06 07:29] vlasenko commented on #112
@mitjade Okay, Let me propose yet another schema:
`src -> ui -> core`
`src -> ui -> core -> index.jsx`
`src -> ui -> core -> main.jsx`
`src -> ui -> favicon -> assets`
`src -> ui -> post -> index.jsx // If the feature has initial view it should go here`
`src -> ui -> post -> post_add.jsx`
`src -> ui -> post -> post_edit.jsx`
`...`
`src -> ui -> post -> assets`
`src -> ui -> post -> reducers`
`src

[2017-04-06 11:42] mitjade commented on #112
@vlasenko I like your proposal. Will try to implement this in `modules_restructure` branch. But do not jet know when, since I am busy with other stuff currently. Hopefully over the weekend.

[2017-04-06 17:08] josephdburdick opened #115 "Semicolon consistency"
Hey guys, I hate to be that guy but can we get some consistency with semicolon use? In imports of files it looks like semicolons are skipped but everywhere else they are included. Is there a reason for this? Perhaps we could have some editor config included in the starter kit that enforces one or the other? Thanks in advance!

[2017-04-06 17:14] vlasenko commented on #115
@josephdburdick I think enforcing semicolon consistency might be achieved with eslint rule. We have lint & test target run on every commit to this repo, so it will be enforced in the future.

[2017-04-06 17:27] vlasenko commented on #115
@josephdburdick Okay, I am going to fix this in 15 mins

[2017-04-06 18:04] #115 closed

[2017-04-07 05:37] sakhmedbayev opened #116 "Add Material Design support"
It is not actually an issue rather a suggestion. It looks like [Material Design](https://material.io/) is great as well as this kit. Why not to support it?

[2017-04-07 06:03] josephdburdick commented on #116
It's not that it's _not_ supported, it's just not already wired up. You can download this and replace 'reactstrap' (React-powered Bootstrap 4) with any front-end CSS framework you like.

[2017-04-07 06:09] mitjade commented on #112
@vlasenko I guess I do not quite understand the part of dynamically import all the other features via `require.context`. Could you maybe make a branch and create an example off this with core and counter and I will then try to follow along with restructuring the post `feature`.

[2017-04-07 07:18] vlasenko commented on #112
@mitjade Sure, will do!

[2017-04-08 02:18] swhamilton opened #117 "Persistent queries issue with GraphQLi error"
The new code added in the persistent queries commit https://github.com/sysgears/apollo-fullstack-starter-kit/commit/de2fdec1e0182bb949ac89020c8d2f0298c72946 breaks GraphQLi.

`TypeError: req.body.map is not a function`

The following code in `src/server/api_server` assumes that all req.body are arrays.
[code]

I have not investigated what is involved with persistent queries so I cannot say this fi

[2017-04-08 12:04] #117 closed

[2017-04-08 12:11] vlasenko commented on #117
Thank you @swhamilton I have taken your patch and add some logic on top of it. We want to accept non persisted GraphQL queries only in DEV mode and only if they come from /graphiql URL. All the other unknown queries will be banned in persistGraphQL mode.

@mitjade Please take a look and share your concerns.

[2017-04-08 12:13] vlasenko commented on #117
I think we should also remove `GraphiQL` link from UI in production mode, when persisted GraphQL queries are used.

[2017-04-09 08:27] GiladShoham commented on #113
Hi @sakhmedbayev
Regarding Authentication, I can try to help you.

Please follow this issue: https://github.com/sysgears/apollo-fullstack-starter-kit/issues/103

Meantime (because it will take some time probably), you can start to try to integrate my modules for this purpose:
[apollo-passportjs](https://www.npmjs.com/package/apollo-passportjs)
[apollo-passport-local-strategy](https://www.npmjs.com

[2017-04-09 11:25] mitjade commented on #117
@vlasenko I think this ok. As long as you can still use GraphQL in dev mode this is fine with me.

[2017-04-10 14:47] vlasenko commented on #112
@mitjade I have done initial work of modularizing this starter kit in `modularize` branch here:
https://github.com/sysgears/apollo-fullstack-starter-kit/tree/modularize

The tracking Pull Request for this branch is here:
https://github.com/sysgears/apollo-fullstack-starter-kit/pull/118

Post and counter have been moved into separate `modules`. To fully remove `counter` module from project one shou

[2017-04-10 15:05] swhamilton commented on #103
@GiladShoham This all looks great and I'm excited to get started digging in. Your goals are directly aligned with where I would like to contribute ;)

I think we can approach this in three phases:

1. Implement apollo-passport into this starter kit. Just make it work and take shortcuts if necessary. This will also help us decide on architecture and possible opinions we have to make to provide a fu

[2017-04-10 15:38] vlasenko commented on #103
@swhamilton Hey guys, I have brought up gitter chat for this project here:
https://gitter.im/sysgears/apollo-fullstack-starter-kit

It is linked now from project README

[2017-04-10 19:46] mitjade commented on #112
@vlasenko This is awesome! Way more than I could have come up with my self.

It ads some additional complexity. That might cause some problems for someone just getting started, but all we need is to add some documentation explaining this and I do not see any problems here.

One small problem is that you get an error `Error: The migration directory is corrupt, the following files are missing: creat

[2017-04-10 20:39] mitjade commented on #112
@vlasenko Since you already taken care of everything, I will try to write some docs on how to create a new module, or remove an existing one, when I have some more time. I have no other reservations regarding merging #118, except some code style changes I suggested.

[2017-04-10 23:02] josephdburdick commented on #112
Great progress you guys. Looking forward to the next pull from upstream!

[2017-04-11 02:13] zirho commented on #117
@vlasenko Don't we want graphiql to work with queries in DEV mode?

[2017-04-11 05:07] vlasenko commented on #117
@zirho Yes, graphiql queries should work in DEV mode. Don't they work for you now?

[2017-04-11 07:41] vlasenko commented on #112
@mitjade Thanks Mitja! I am going to work on making this approach more simple/self-explaining today, while still keeping concept of `drop-in` modules.

[2017-04-11 16:29] zirho commented on #117
Nope not working. Fresh started. Go to graphiql by the button up right corner. Try to get post with Id.

[2017-04-11 18:04] zirho opened #123 "Why don't we include yarn.lock?"
Is there any reason for that?

[2017-04-11 18:09] vlasenko commented on #123
@zirho The only reason that people might not use `yarn` and just plain old `npm` and wouldn't need this `yarn.lock` file. But maybe this doesn't make much sense.

[2017-04-11 18:35] josephdburdick commented on #112
Will this eventually be merged into the `master` branch or is it considered "opt-in" and we should  start using this new branch for the "modular" version?

[2017-04-11 18:42] vlasenko commented on #112
@josephdburdick It will be merged to `master` soon. We are still working on this stuff with Mitja @mitjade
This is rather experimental stuff, but for sure I would like it to be battle-tested, just after we give it enough thought.

[2017-04-11 18:45] vlasenko commented on #112
@mitjade Mitja, I have pushed another set of changes to https://github.com/sysgears/apollo-fullstack-starter-kit/tree/modularize branch to make the code more self-explanatory and IDE-friendly, please take a look. Please share your thoughts about what can be improved?

[2017-04-11 19:55] zirho commented on #123
I see. I think including the `yarn.lock` makes sense when you advise to use yarn in installation instructions. You would not want to mention `yarn` at all if you don't want this file in your repo because they will see yarn.lock change, every time they do `yarn` command.
I guess adding it to `.gitignore` is not an option, since it will differ dependency versions in deploying process.

[2017-04-12 05:55] zirho opened #124 "Error with the reactHotLoader flag on"
It seems the project is setup for HMR regardless of this flag in `package.json`.
It is always on, which is great.
But when I switch it `true` and start the dev mode `yarn watch`, it errors out.

I check with the latest code.

Also I found that HMR 3 stable is released at v1.3.1 (finally!!)
https://github.com/gaearon/react-hot-loader/releases

I can dig into this problem and make a PR but it will t

[2017-04-12 06:02] vlasenko commented on #124
@zirho Thanks for this report, I have reproduced this problem and looking at it now.

[2017-04-12 06:22] #124 closed

[2017-04-12 06:38] zirho commented on #124
That's awesome!

Thank you!

[2017-04-12 06:51] zirho opened #125 "A question regarding to HMR"
I turned the reactHotLoader ON and it seems everytime I change a literal in a UI component, it does a full-reloading.
And I figured it's related to this line.
https://github.com/sysgears/apollo-fullstack-starter-kit/blob/master/src/client/index.jsx#L31

To prevent that, I need to turn `frontendRefreshOnBackendChange` flag off, which seems not right by the name of the flag.

I changed one of front

[2017-04-12 07:02] vlasenko commented on #125
@zirho When you change literal in UI component, do you see message like this in backend console?
`Force front-end current page refresh, due to change in backend at: ...`

[2017-04-12 07:13] vlasenko commented on #125
@zirho Okay, I see some problem with this logic too, looking...

[2017-04-12 08:22] #125 closed

[2017-04-12 08:25] vlasenko commented on #125
@zirho I have reworked front end reload on back end change logic. Should work as expected now

[2017-04-12 08:41] vlasenko commented on #123
@zirho I don't like the idea of including generated files of various tools into source code. `yarn.lock` is a big generated file of `yarn` tool. Yes, we support `yarn` and `npm`, we support IntelliJ, Eclipse, vi and Atom in the same sense, but we are not going to include the generated files of these tools.

[2017-04-12 12:09] vlasenko commented on #112
Resolved by commit:
https://github.com/sysgears/apollo-fullstack-starter-kit/commit/9bf0161e91bf999c072e64e4a9f9977bf454df9f

[2017-04-12 12:09] #112 closed

[2017-04-12 12:47] vlasenko commented on #105
@mitjade Should we close this issue for now? I think modules introduced by https://github.com/sysgears/apollo-fullstack-starter-kit/commit/9bf0161e91bf999c072e64e4a9f9977bf454df9f
is the way to go for now to pack much more examples into this kit and yet it is easy to strip them out.

[2017-04-12 12:50] hhashmi opened #131 "build fails on Ubuntu"
npm ERR! Linux 4.4.0-66-generic
npm ERR! argv "/root/.nvm/versions/node/v5.11.1/bin/node" "/root/.nvm/versions/node/v5.11.1/bin/npm" "run" "build"
npm ERR! node v5.11.1
npm ERR! npm  v3.8.6
npm ERR! code ELIFECYCLE
npm ERR! apollo-fullstack-starter-kit@1.0.0 build: `babel-node tools/webpack.run build`
npm ERR! Exit status 137
npm ERR!
npm ERR! Failed at the apollo-fullstack-starter-kit@1.0.0 build

[2017-04-12 12:57] mitjade commented on #105
Agreed!

[2017-04-12 12:57] #105 closed

[2017-04-12 13:05] vlasenko commented on #131
@hhashmi Seems you are using very outdated `node.js` version. Because this starter kit uses latest versions of all its dependencies, you should you latest `node.js` too.

[2017-04-12 13:06] vlasenko commented on #131
@hhashmi I would recommend installing and updating node.js on your system via NVM:
https://github.com/creationix/nvm

[2017-04-12 13:09] vlasenko commented on #131
@hhashmi I have tried to reproduce this bug on `Ubuntu 16.04` with stock `nodejs` `v4.2.6` and everything works for me. I don't see `Exit status 137` error.

[2017-04-12 16:05] zirho commented on #125
Cool thanks

[2017-04-12 16:40] hhashmi commented on #131
Just found out that I'm on a VM and it was due to low amount of memory.
Increased memory of VM and it is working fine.

Thanx a lot for your inputs.

[2017-04-12 16:40] #131 closed

[2017-04-12 17:06] greenkeeper[bot] opened #133 "An in-range update of babel-eslint is breaking the build 🚨"
## Version **7.2.2** of [babel-eslint](https://github.com/babel/babel-eslint) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/sysgears/apollo-fullstack-starter-kit/compare/greenkeeper%2Fbabel-eslint-7.2.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      babel-eslint
    </td>
  </tr>

[2017-04-12 17:30] greenkeeper[bot] opened #134 "An in-range update of prop-types is breaking the build 🚨"
## Version **15.5.8** of [prop-types](https://github.com/reactjs/prop-types) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/sysgears/apollo-fullstack-starter-kit/compare/greenkeeper%2Fprop-types-15.5.8">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      prop-types
    </td>
  </tr>
  <t

[2017-04-12 17:57] greenkeeper[bot] opened #135 "An in-range update of graphql is breaking the build 🚨"
## Version **0.9.3** of [graphql](https://github.com/graphql/graphql-js) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/sysgears/apollo-fullstack-starter-kit/compare/greenkeeper%2Fgraphql-0.9.3">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      graphql
    </td>
  </tr>
  <tr>
    <th

[2017-04-12 18:41] #133 closed

[2017-04-12 18:51] #134 closed

[2017-04-13 07:08] #135 closed

[2017-04-13 09:51] vlasenko opened #139 "Add various tests to the kit"
Add React component tests, database access tests, etc so that users of the kit have opportunity to start covering their own applications with tests easier by looking on examples.

[2017-04-13 10:57] mitjade commented on #139
I meant to do this for the post example, but if anyone else is willing to help out with this, would really appreciate it.

[2017-04-13 16:47] vlasenko opened #140 "Update instead of updateQueries"
Based on discussion with Apollo devs the usage of `react-apollo` updateQueries is considered to be deprecated in favor of http://dev.apollodata.com/core/read-and-write.html

This is not deprecated explicitly yet, but the general agenda is to use Direct Cache Access methods instead of old mechanisms.

We should update this starter kit this new approach.

[2017-04-13 17:01] mitjade commented on #140
@vlasenko I agree, but at the time I was writing post example, I was not able to make it work. I think it was a `__typename` problem with `apollo` that was since fixed.

I actually like the `reducer` approach better, since you can update the store in one place for mutations and subscriptions. Now you have to handle this in multiple locations. But again was not able to make it work.

Would love to

[2017-04-13 17:09] vlasenko commented on #140
@mitjade I think Direct Cache Access is the newest and preferred method, we should use it, hopefully it can solve all our cache manipulation goals. And if not, we need to think and possible reach out to Apollo devs.

[2017-04-13 17:20] mitjade commented on #140
@vlasenko OK. Will try to prepare a PR for this.

[2017-04-13 17:26] vlasenko commented on #140
@mitjade

Could you point me into the relevant section of Apollo docs what are you referring to ?

[2017-04-13 17:28] mitjade commented on #140
http://dev.apollodata.com/react/cache-updates.html#resultReducers

and the article of Sacha Greif

https://blog.vulcanjs.org/understanding-post-mutation-data-updates-in-apollo-43e90c37023b

[2017-04-13 17:30] vlasenko commented on #140
@mitjade Yeah, `reducer` approach is interesting, especially when we have both subscriptions and mutations

[2017-04-13 17:34] mitjade commented on #140
@vlasenko I would actually like to try both options and see what would in the end be the best solution. I can prepare PR of what I am able to come up with and then with some of your help we can come up with a solution that would make the most sense.

[2017-04-13 17:40] vlasenko commented on #140
@mitjade Yes, sounds great! It is not clear now what is best to use from various approaches to manipulate query cache. Seems that Direct Cache Access is preferred, but there is no replacement for `reducer` functionality there, I will try to ask on Apollo slack channel about `reducer` way, whether it is still recommended to use it or not

[2017-04-13 17:42] mitjade commented on #140
@vlasenko At the bottom of https://dev-blog.apollodata.com/apollo-clients-new-imperative-store-api-6cb69318a1e3 Caleb Meredith mentions the following:

[2017-04-13 17:45] mitjade commented on #140
@vlasenko I actually think we could combine `reducer` with `readQuery()` and `writeQuery()`, to get the best of both worlds. But this I just an idea I have. So lets try and see what can be done.

[2017-04-13 17:45] vlasenko commented on #140
[code]

[2017-04-13 17:59] vlasenko commented on #140
@mitjade I think we should use only Direct Cache Access methods, because Jonas Helfer told they are going to deprecate all the other methods to manipulate query cache.

[2017-04-13 18:01] mitjade commented on #140
@vlasenko Looks like it. I just hope that they then also provide a better solution on how to update mutation and subscriptions.

[2017-04-13 18:02] vlasenko commented on #140
@mitjade I hope so too. Hopefully they provide a proper `reducer` option too.

[2017-04-13 18:18] mitjade commented on #140
@vlasenko I gave it a quick try and was able to make it work for `comment add` mutation. Will try to finish the rest tomorrow and make a PR.

[2017-04-13 18:19] vlasenko commented on #140
@mitjade Sounds great! Thanks!

[2017-04-14 11:01] mitjade commented on #140
I have a problem with `update`. How would one use it with subscriptions?
http://dev.apollodata.com/react/api-queries.html#graphql-query-data-subscribeToMore

Docs say:
In order to update the query’s store with the result of the subscription, you must specify either the `updateQuery` option in subscribeToMore or the `reducer` option in your graphql() function.

[2017-04-14 11:09] vlasenko commented on #140
@mitjade Yeah, looks like there is no way to do it at the moment:
https://github.com/apollographql/apollo-client/blob/master/src/core/watchQueryOptions.ts#L84-L92

[2017-04-14 11:11] vlasenko commented on #140
In the same file:
https://github.com/apollographql/apollo-client/blob/master/src/core/watchQueryOptions.ts#L156

Looks like they have added Direct Cache Access interface to mutations and not to subscriptions :)

[2017-04-14 11:14] mitjade commented on #140
@vlasenko So do we leave `updateQueries` for now and ask how this could be handled with `update`. I would also like to hear how they see handling mutations and subscriptions together?

[2017-04-14 11:19] vlasenko commented on #140
@mitjade Mitja could you investigate using `reducer` option, will it result in more compact code for our subscriptions and mutations?

[2017-04-14 11:21] mitjade commented on #140
@vlasenko I think it would, but would need to test it out. Will try over the weekend.

 I am also having trouble how to correctly `unsubscribe` from `subscribeToMore`
https://github.com/apollostack/apollo-client/blob/master/src/core/ObservableQuery.ts#L269-L275

[2017-04-14 11:30] vlasenko commented on #140
@mitjade I'm not quite understand you. I'm working on tests for React components, including GraphQL logic, so perhaps I will face this problem too.

[2017-04-14 11:39] mitjade commented on #140
@vlasenko In post example I wanted to use:
[code]
Like you did in counter example, but I get an error `this.subscription.unsubscribe is not a function`.

Side-effect is that you remain subscribed to the last edited post. It is not a big problem, but would like to do it right. They mention `unsubscribe` in http://dev.apollodata.com/react/api-queries.html#graphql-query-data-subscribeToMore, but it d

[2017-04-14 12:01] vlasenko commented on #140
@mitjade

https://github.com/apollostack/apollo-client/blob/master/src/core/ObservableQuery.ts#L269-L275

Mitja, I think you are referring to wrong lines in ObservableQuery. This comment was made by Tom on Jan 19th.

Here is the lines Tom referred to:
https://github.com/apollographql/apollo-client/blob/f3882b976a9146fb4826efc2951dc16cd90326c8/src/core/ObservableQuery.ts#L269-L275

These lines is a

[2017-04-14 12:10] mitjade commented on #140
@vlasenko So what I need to do is:
[code]

[2017-04-14 12:13] vlasenko commented on #140
@mitjade Yep, looks like this

[2017-04-14 13:13] mitjade commented on #140
@vlasenko Initial proposal for `reducer` implementation #141.

[2017-04-14 13:23] vlasenko commented on #140
@mitjade Mitja, you did great work to investigate `reducer` option, I appreciate it very much!

I would say `reducer` option is even less clean then `updateQueries`, or `update`, looks very low-level. Among different options I like `update` much more then any other option, because you don't stick to the name of the query, with `update` you are using query itself to manipulate cache which will redu

[2017-04-14 13:31] mitjade commented on #140
@vlasenko OK, but until we have an option to do mutations and subscriptions with `update`, I would not change the current code, since you would then need to implement 2 different ways to update client cache.

[2017-04-14 13:34] vlasenko commented on #140
@mitjade Yes, I fully agree with you!

[2017-04-14 13:35] vlasenko commented on #140
Closing this issue until Direct Cache Access API will be available for subscriptions too.

[2017-04-14 13:35] #140 closed

[2017-04-14 13:36] mitjade commented on #140
Doing the `reducer` and `pagination` example, I now slowly understand why `relay` forces you do have well defined `queries`, `inputs` and `payloads`. So you then have less work down the line.

[2017-04-14 21:40] zirho commented on #123
I have a different opinion on that, but it would be more like preference.

Look at these most popular Open-source projects.
https://github.com/facebook/react
https://github.com/reactjs/redux
I'm not telling you those two includes all kinds of config or preference files in their repo.

My reasoning is this.
Open-source project is made for anyone who use all kinds of different editors, IDEs or platf

[2017-04-14 21:50] langpavel commented on #123
yarn.lock is not needed for yarn. This file only guarantee package versions in production. I'm sure it have it's role in development too.
When some package breaks it's semver versioning, all dependants are affected. yarn.lock is one protection against this more rarely situations over time. Just for clarification.

Including yarn lockfile is recommended by yarn for good reason. You can at every tim

[2017-04-14 21:57] vlasenko commented on #123
@langpavel Thanks for clarifications Pavel. Do you think it was a good decision to include `yarn.lock` into your starter kit, did it has visible benefit? :)

[2017-04-14 22:07] vlasenko commented on #123
@zirho Lets try it. I will try to include `yarn.lock` over weekend, I suspect that it might affect Travis and Heroku setup, so I will need time to check that they work as before. After that we will see how it feels to have `yarn.lock` in the repo and what are the pros and cons of this approach

[2017-04-15 07:11] vlasenko commented on #123
@zirho @langpavel Okay, I took first look at including `yarn.lock` and the problem is including `yarn.lock` will break Travis builds of Greenkeeper for this repo. Please see this issue:
https://github.com/greenkeeperio/greenkeeper/issues/314
We need to wait until that issue will be resolved.

Working Greenkeeper is more important than `yarn.lock`, because `yarn.lock` tries to `freeze` package vers

[2017-04-15 10:29] hhashmi opened #142 "How to update Application built on older version of starter kit to latest version"
I picked apollo-fullstack-starter-kit back in dec 2016 and started building my app on top of it.
I'm almost 80% done with and just now I noticed there are some changes in latest version of starter kit.

Now my question is how to I update my current application to latest version of starter kit.
FYI
I'm using mongo + mongoose + apollo - graphql subscription in my current application.

[2017-04-15 14:36] vlasenko commented on #142
@hhashmi This is a good question.

Seamless upgrade process for this starter kit is planned to be implemented in the future, but we are not there yet.

If I were you I would checkout revision of apollo-fullstack-starter-kit that you have picked in dec 2016 and wrote the script to build diff between it and your app, to find out YOUR changes on top of original starter kit. Then I would checkout late

[2017-04-15 14:59] hhashmi commented on #142
Looks like will have to do tons of work manually :)

ok what if I manage to transfer my application to current version so how, how soon that seamless upgrade process will be out?

Actually I'm concerned for future upgrade. For current version I'll manage it doing the dirty work but for future will defiantly need that

[2017-04-15 15:10] vlasenko commented on #142
@hhashmi I cannot tell you when this will be implemented. We have worked only on one aspect of this task - making the examples for this starter kit modular:
https://github.com/sysgears/apollo-fullstack-starter-kit/pull/118
Many more aspects need to be handled to make upgrades seamless. It is a tough task and it is not clear yet who will work on it and when.

[2017-04-17 14:00] vlasenko commented on #139
Implemented fast integration tests for Counter:
https://github.com/sysgears/apollo-fullstack-starter-kit/pull/143

[2017-04-19 14:45] vlasenko commented on #139
Implemented server-side integration tests for Counter GraphQL API:
https://github.com/sysgears/apollo-fullstack-starter-kit/pull/144

[2017-04-20 17:20] vlasenko opened #148 "Async/await instead of Promises"
Maybe it is worth looking into using async/await instead of Promises to make the code of this kit more expressive and elegant?

https://hackernoon.com/6-reasons-why-javascripts-async-await-blows-promises-away-tutorial-c7ec10518dd9

[2017-04-20 17:38] mitjade commented on #148
I'm all for it!
My only concern would be, if someone can't update to node 7.6 or above, since this feature is only available there.

[2017-04-20 17:45] mitjade commented on #148
Writing Promises to seed more complicated database related tables is a nightmare. This would really simplify something like that.

[2017-04-20 17:45] vlasenko commented on #148
@mitjade Here is the thing. We are using Webpack for Backend and Frontend, and hence all the starter kit code is transformed by Babel, so everything will work with previous Node versions!

Well, knexfile.js and Knex migrations currently are not Babelified, but we can easily Babelify them:
https://github.com/sysgears/apollo-fullstack-starter-kit/blob/a196852d435f19ca2adaf02a0264e2c4ed2e7f9c/knexfil

[2017-04-20 17:51] mitjade commented on #148
Then I would for sure like to see this added.

If you are willing to give this a go, I can help out by doing this for post example code.

[2017-04-20 18:05] vlasenko commented on #148
Yeah, I think we should upgrade to async/await, this will make the code more readable.

At the moment I'm still busy with writing integration tests for Posts and Comments, when I will finish them, I' will take a look. If you will have time earlier feel free to upgrade some parts of the code to async/await

[2017-04-20 18:11] mitjade commented on #148
OK. Will let you know if I start.

[2017-04-22 07:59] hhashmi opened #151 "Limit on modules at client side??"
I'm converting my application manually, built in older version of starter kit to newer version
https://github.com/sysgears/apollo-fullstack-starter-kit/issues/142

I'm facing a weird issue ,
src/client/modules/index.jsx
I have converted my 5 modules to newer version but at one time it is not letting me use all of these modules. In total it is not letting me use more than 7 modules at a time. As so

[2017-04-22 10:42] vlasenko commented on #151
@hhashmi Weird, yeah, I see this problem too when I copied `post` module several times and included all these copies. Looks like some problem with lodash consuming too much stack for one of its recursive methods. We need to find what is exactly triggering it inside starter kit and figure out workaround that doesn't result in stack consumption growth

[2017-04-22 10:59] vlasenko commented on #151
@hhashmi Seems the problem is inside Persistent GraphQL queries support. If you set `persistGraphQL` to `false` in `package.json` this problem will gone. I will look into this at the beginning of next week. I recommend you to turn off persistGraphQL for now as a work around

[2017-04-22 14:03] hhashmi commented on #151
@vlasenko thanx it works.

[2017-04-24 20:15] vlasenko commented on #151
This issue is linked with this one: https://github.com/sysgears/persistgraphql-webpack-plugin/issues/3

I'm still trying to find where the problem is. Looks like the problem is that query documents parsed via `graphql` are not `cloneDeep` friendly, but I'm not 100% sure yet. Going to look more into this tomorrow

[2017-04-25 08:11] greenkeeper[bot] opened #154 "An in-range update of persistgraphql-webpack-plugin is breaking the build 🚨"
## Version **0.2.1** of [persistgraphql-webpack-plugin](https://github.com/sysgears/persistgraphql-webpack-plugin) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/sysgears/apollo-fullstack-starter-kit/compare/greenkeeper%2Fpersistgraphql-webpack-plugin-0.2.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency

[2017-04-25 09:06] #154 closed

[2017-04-25 09:07] vlasenko commented on #151
`persistgraphql-webpack-plugin` now has workaround for this problem, since version `0.2.2`

[2017-04-25 09:07] #151 closed

[2017-04-25 11:41] vlasenko opened #156 "Need to fix issues with running scripts under Windows"

[2017-04-25 12:19] #156 closed

[2017-04-29 18:25] #142 closed

[2017-04-30 10:25] hhashmi opened #160 "How to add some props to all components in router?"
How to add some props to all components in router?
if there is any way that I can inject these props even to all the nested components. Want to use these like GLOBAL PROPS for all the components in application

In earlier version of start kit I did

**in src/ui/component/app.jsx**

[code]

[2017-04-30 10:35] vlasenko commented on #160
@hhashmi Consider storing global state in `Redux` store. See how `redux` counter example is implemented. Consider using `Redux` middleware for working with socket connection.

[2017-04-30 12:11] hhashmi commented on #160
I'm using this socket connection to get accurate and continues server time to display a digital clock in my application.

Will redux store be ok for this purpose ?

[2017-04-30 12:41] vlasenko commented on #160
Yes, of course. For integrating sockets into the redux store you might want to use the approach like this:
http://stackoverflow.com/questions/42330094/where-to-store-socket-connection-in-read-redux

Generally, all the global state of the application on client-side should be kept in Redux store.

[2017-04-30 12:56] mitjade commented on #160
@hhashmi I needed to do something similar and just done it with graphQL and subscriptions. Created a query `currentDateTime` and then used `setInterval` to send it via subscriptions.

Not sure if this is a better approach, but did not have to setup a lot of things to get this running.

[2017-04-30 13:08] hhashmi commented on #160
getting the value for displaying is not an issue for me. It is working fine. I just made a component and in app.jsx I connected to socket and getting the values.
Now my next task if to inject that time value I'm getting from server to all of my components following my router.

I need to make decisions in most of components based on this time value like expire values,  activate jobs, mark delayed j

[2017-04-30 14:00] mitjade commented on #160
I would use Redux for that.

[2017-04-30 19:46] hhashmi commented on #160
Thanx It worked.

[2017-04-30 20:01] #160 closed

[2017-05-01 12:03] hhashmi opened #161 "TypeError: __webpack_require__.i(...) is not a function"
#142 when I try to use moment() in any react component, I get TypeError: __webpack_require__.i(...) is not a function

[2017-05-01 15:08] vlasenko commented on #161
@hhashmi I would like to close this issue, because it is clearly not a problem of this starter kit.

[2017-05-01 15:08] #161 closed

[2017-05-01 17:47] hhashmi commented on #161
Yes you are correct it is not related to starter kit.
It was a moment related issue.

Just in case if anyone else gets same issue.

https://github.com/moment/moment/issues/2608

[2017-05-02 15:17] #148 closed

[2017-05-02 19:00] mitjade commented on #148
This really looks great! I love how this cleans up the code.

[2017-05-02 19:10] vlasenko commented on #148
@mitjade Yeah, the readability of simple code is better. The readability of complex code is worser :)

[2017-05-02 19:24] vlasenko commented on #93
Seems alpha support for Server Side Rendering has been added to styled component, so it would be nice to research if we can use them in this starter kit as default CSS in JS implementation

[2017-05-03 08:01] #93 closed

[2017-05-03 08:07] vlasenko commented on #91
Closing this, since not much activity happening and no clear plans when if we will work on it. Please reopen if you have another thoughts.

[2017-05-03 08:07] #91 closed

[2017-05-03 08:09] vlasenko commented on #7
This issue needs more clarification, what do we really want. Closing it for now.

[2017-05-03 08:09] #7 closed

[2017-05-04 14:33] vlasenko opened #165 "Modular feature implementation is not HMR friendly"
Currently when code of any UI feature module is modified additional nav link is added after each modification. For example if code under `post` feature module is modified and hot reloaded, another `Posts` nav link is added each time during server side rendering. Warning is issued on client-side about different React markup between client and server when you refresh the page in browser.

This happe

[2017-05-04 15:03] #165 closed

[2017-05-05 12:16] vlasenko opened #166 ""React attempted to reuse markup error" with styled-components during dev"
## Steps to reproduce
git clone https://github.com/sysgears/apollo-fullstack-starter-kit
yarn
yarn seed
yarn watch
Open http://localhost:3000 in browser (this is webpack dev server URL).

Change `src/client/app/app.jsx` in any way. For example add line
`console.log("sc comp id:", Footer.styledComponentId);`
Now refresh the page in browser
(this will force page rendering server-side, you can check

[2017-05-05 12:17] #166 closed

[2017-05-06 08:46] hhashmi opened #169 "Updating record restoring last values"
Most of the times after updating record I get last values in list and even some times on update screens.
I have to refresh my browser to get updated values.

How to fix it?

[2017-05-06 08:52] vlasenko commented on #169
Please be more specific about your problem. What problem do you have exactly and what are the reproduction steps?

[2017-05-06 09:27] vlasenko commented on #169
@hhashmi If you mean posts and comments problem in the newest version of the kit, then it should be fixed via commit: https://github.com/sysgears/apollo-fullstack-starter-kit/commit/854f30d91c56734aae02a977c14ca8a47a7d2e0e

E.g. please check the latest version of the kit.

[2017-05-06 15:12] hhashmi opened #170 "How do we successfully add CSS and Javascript file from 3rd Party CSS Framework into this Project?"
I have to integrate a design template into my current project.
That design template is built some 3rd party CSS and JS frameworks like
jQuery, bootstrap, jqGrid and etc

how can I use their CSS and JS files in my current project?

[2017-05-06 15:24] hhashmi commented on #169
ok here is a scenario
I have 3 records in list

1 - Employee 1
2 - Employee 2
3 - Employee 3

Now I click on edit link for 2nd record (Employee 2) and change it to (Employee 2nd) click on Submit. It come back to the list with updated values

Now here comes the problem
6 out of 10 time I have refresh my browser to see updated list while values are update in db.
This is not happening all the times b

[2017-05-06 15:40] hhashmi commented on #170
following are the lines in design template I need to use OR translate for my current project

	<script type="text/javascript">
		window.jQuery || document.write("<script src='assets/js/jquery.js'>"+"<"+"/script>");
	</script>

<script type="text/javascript">
	if('ontouchstart' in document.documentElement) document.write("<script src='assets/js/jquery.mobile.custom.js'>"+"<"+"/script>");
</script>

[2017-05-06 16:01] vlasenko commented on #170
@hhashmi Closing as inappropriate. We do not provide support for your project, only for this starter kit.

[2017-05-06 16:01] vlasenko commented on #169
@hhashmi Closing as inappropriate. We do not provide support for your project, only for this starter kit.

[2017-05-06 16:01] #169 closed

[2017-05-08 08:07] mairh opened #172 "Running graphQL server on a different port (microservice)"
First of all thanks for developing and maintaining the starter kit. I would like to understand how can I run the GraphQL server as a microservice.

For e.g, I have to develop both web and mobile app using react and react native. However, I would like the web and mobile app to use the same GraphQL server available over https.

Do you have any pointers on how to achieve that? What I am trying to ach

[2017-05-08 08:30] vlasenko commented on #172
To run GraphQL server produced by this starter kit simply set `PORT=zzzz` environment variable before running backend process. You can have multiple backend processes running on the same machine this way. We haven't explored the best way to implement microservices with this starter kit yet, but we have already fully decoupled features from one another, both client-side:
https://github.com/sysgears

[2017-05-08 10:48] mairh opened #173 "Is there any reason why this kit is not using gql template tag"
I was wondering if there is any specific reason why this kit is not using `ggl` tag from `react-apollo`. Their docs seem to promote using the template tag.

[API DOC](http://dev.apollodata.com/react/api.html)

[2017-05-08 10:52] vlasenko commented on #173
@mairh This kit doesn't stop you using `gql` tag in any way. Please try first before opening issues.

[2017-05-08 10:52] #173 closed

[2017-05-08 11:22] mitjade commented on #173
Take a look at https://dev-blog.apollodata.com/webpacking-your-graphql-documents-bf9697ed259b

[2017-05-08 11:27] mairh commented on #173
Thanks. Exactly what I needed to understand this

[2017-05-08 11:43] mairh commented on #172
Thanks for your reply. I will try to create a PR when I reach the stage of my project when I have to deploy the server on a different node process.

[2017-05-08 11:43] #172 closed

[2017-05-08 12:07] vlasenko commented on #172
Sounds good, thank you @mairh !

[2017-05-08 15:53] josephdburdick opened #174 "Cannot run project on Ubuntu bash on Windows"
Related to https://github.com/sysgears/apollo-fullstack-starter-kit/issues/89 and a recent commit (https://github.com/sysgears/apollo-fullstack-starter-kit/commit/9db68821d3b6c4e10dc3d3851b7f1829f517cafd) it appears that a dependency of the package `wait-for-port` is not allowing the project to run. Error info found [here](https://github.com/sysgears/apollo-fullstack-starter-kit/commit/9db68821d3b

[2017-05-08 15:54] vlasenko commented on #174
Hopefully https://github.com/sysgears/apollo-fullstack-starter-kit/commit/bcd282fec6fc455b1e09568f15deb36b08e60558 will fix this problem. But I'm not sure, we need to check

[2017-05-08 17:58] josephdburdick commented on #174
I'll check and report back.

[2017-05-08 18:10] josephdburdick commented on #174
This problem is now resolved.

[2017-05-08 18:10] #174 closed

[2017-05-08 19:30] vlasenko commented on #174
@josephdburdick Cool. Thank you so much Joe, for testing this!

[2017-05-09 11:38] mairh opened #175 "Roadmap tracker?"
Hi, Do you have any place where you have documented the roadmap for this kit? For e.g we could do something like this https://github.com/reactql/cli/issues/10 and track the upcoming features. It would make it easy for the contributors to work on this kit too.

[2017-05-09 11:47] vlasenko opened #176 "Roadmap"
General roadmap for upcoming Apollo universal starter kit features, and a priority they'll be approached.

Feel free to suggest any features you'd like to see in this thread, and they'll be considered for inclusion.

## Soon
- [x] Integration tests for Counter UI
- [x] Integration tests for Counter backend
- [ ] Integration tests for Posts and Comments UI
- [ ] Integration tests for Posts and Comm

[2017-05-09 11:49] vlasenko commented on #175
Hi @mairh Great idea! I've added issue for Roadmap, feel free to post ideas there:
https://github.com/sysgears/apollo-fullstack-starter-kit/issues/176

[2017-05-09 11:49] #175 closed

[2017-05-09 11:54] mairh commented on #176
Feature request: `I18n` localization (translation) support

[2017-05-09 11:59] vlasenko commented on #176
@mairh Yes, `i18n` is a good one. Will add this feature to the list. We have experience with this on our project where we use this starter kit, so we can relatively quickly transfer code for basic i18n support here via `react-intl`, but there will be more work involved to add `i18n` into Posts and Comments and Counter example...

[2017-05-10 08:46] mairh opened #177 "Failed to load resources"
It seems like the kit can not find bundled resource anymore and thus the user can not take any actions.

I did a fresh clone about 30 mins ago and ran the following commands as specified in the README

`yarn`
`yarn seed`
`yarn watch`

<img width="1680" alt="screen shot 2017-05-10 at 11 42 08" src="https://cloud.githubusercontent.com/assets/4072250/25890482/4724f37a-3576-11e7-9d0c-39a849728981.png"

[2017-05-10 08:53] vlasenko commented on #177
@mairh Looks like you are not following instructions. In dev mode you should open `http://localhost:3000` which hosts webpack-dev-server and frontend not `http://localhost:8080`. The resources in dev mode are hosted from `http://localhost:3000` to let Webpack HMR for front-end do its job. It is still helpful in some situations to check what `http://localhost:8080` and hence the backend generates,

[2017-05-10 08:58] vlasenko commented on #177
I understand that this is confusing, but thats how webpack default infrastructure works. We have already tweaked this infrastructure in different ways. So maybe it would be worth to chop out `webpack-dev-server` and try to use `webpack-hot-middleware` instead to get rid of this confusion. But it is not all roses too, it will have its own drawbacks

[2017-05-10 09:01] mairh commented on #177
Thanks for pointing out my mistake. It was a mind f**k

[2017-05-10 09:01] #177 closed

[2017-05-10 09:03] vlasenko commented on #177
This is mind blowing thing, indeed :)

[2017-05-10 09:07] vlasenko commented on #177
Actually thanks for reminding me about this crap :) I'm going to take another look during next few days to get rid of it by utilizing:
https://github.com/webpack/webpack-dev-middleware

[2017-05-10 09:08] vlasenko commented on #177
This has drawback though that you need to pull in webpack config into application code, which is crappy solution too ...

[2017-05-10 09:10] vlasenko commented on #177
I feel like ideal solution to this problem need to be invented, it doesn't exist yet

[2017-05-12 11:59] mairh opened #179 "Is GraphQL subscription only used in counter example?"
I noticed that you have written subscription code for Post example too. I wonder what piece is missing to see it in effect?

[2017-05-12 12:10] mitjade commented on #179
@mairh What exactly seems to be the problem? I tested it and it seems to work.

[2017-05-12 12:13] #179 closed

[2017-05-12 12:13] mairh commented on #179
well, only the counter is being updated on a different browser. No effect in the case of post or comment subscription. I will try to install a new clone of this project and check again.

[2017-05-12 12:14] vlasenko commented on #179
@mairh @mitjade Sorry guys, it was me, I have pushed the fix

[2017-05-12 12:15] mairh commented on #179
ah great. Just noticed you pushed a fix.

[2017-05-13 17:34] thebigredgeek opened #180 "add apollo-errors"
I think it would provide a useful "out-of-the-box" error handling solution

[2017-05-13 17:34] thebigredgeek opened #181 "add apollo-resolvers"
I think it would provide a useful ACL pattern

[2017-05-13 17:36] thebigredgeek opened #182 "now deployment"
deployments are easier and more canonical with `now` rather than heroku.  Everything can be done simply from the CLI, including signup

[2017-05-13 21:14] mairh commented on #181
@thebigredgeek You could have a discussion with @vlasenko since he is the main contributor to this starter kit and you are the creator of `apollo-resolvers`and `apollo-errors`. Perhaps, you could come up with a PR.

[2017-05-14 06:29] vlasenko commented on #181
@thebigredgeek Let's try and see. I'm busy right now with looking ways to see how React Native can be integrated into this starter kit. So, Andrew if you could add this into `Counter` or `Post and Comments` example it would be great.

[2017-05-15 04:00] thebigredgeek commented on #181
@vlasenko yeah will do.  I'll put a pr in this week

[2017-05-15 10:43] mitjade commented on #113
Another resource that might come in handy:

[graphql-authentication-register-profile](https://github.com/nikitamarcius/graphql-authentication-register-profile)

[2017-05-15 14:42] bagshik opened #184 "React Storybook"
First of all, thanks for this awesome starter-kit. I think adding [React Storybook](https://github.com/storybooks/storybook) to the starter-kit would enhance and improve the overall developer experience by having visual TDD next to traditional TDD. They also have some great addons to write tests and document components next to their stories :

- [addon-info](https://github.com/storybooks/storybook

[2017-05-15 15:10] vlasenko commented on #184
@bagshik What kind of integration do you expect to have with this starter kit? From what I see they are completely orthogonal. You can install storybook into the project based on this starter kit by following `storybook` installation instructions and it should work out of the box.You will be able to use storybook for your presentational React components just fine. If you would like to use React St

[2017-05-15 15:28] bagshik commented on #184
@vlasenko Thanks for your answer, I will look into that. Like you said, Storybook worked out of the box with Presentational components. I wanted to see if there was a way to extend the Webpack configuration to make it work with Container components. I tried multiple setups with loaders, decorators, etc. but I always ran into some kind of issue. I agree with what you said though, I will try to make

[2017-05-15 16:45] vlasenko opened #185 "Integrate React Native and Expo for Android and iOS native apps development"
It would be nice to see React Native and Expo native mobile application development support in this starter kit with utilizing Webpack infrastructure benefits for code sharing between backend, web frontend and mobile frontends for iOS and Android

[2017-05-15 16:48] #184 closed

[2017-05-15 16:49] vlasenko commented on #185
This is a challenging feature, but from the brief look at Expo, React Native and previous attempts to integrate with Webpack at the moment I think it is doable and maintenance costs should be bearable.

[2017-05-15 17:38] mairh commented on #185
It would be really amazing to run the GraphQL backend on a separate node and use the same server for `react-native` app.

[2017-05-15 18:47] vlasenko commented on #185
So the idea to integrate React Native and Expo is via hybrid approach. We can use Expo entry code compiled with React Native package manager as is done by Expo, but we will not include into this entry actual application code directly.The React Native package manager runs webserver with in-memory bundle for application entry, it understand how to package Haste modules used by `react-native` and per

[2017-05-15 19:45] mitjade commented on #185
Sounds great! I am really exited for the possibility of this addition and can't wait to start porting post/comment example to react native and see how much code can be reused.

Will look into [react-native-web](https://github.com/necolas/react-native-web), if this could help in making more code reusable.

[2017-05-16 18:07] vlasenko commented on #185
During investigation I have found this project:
https://github.com/callstack-io/haul
which comes very near to what we need, though not at 100%, but very close

[2017-05-16 19:21] mitjade commented on #185
Looks awsome and it is actively maintained, which is also positive.

[2017-05-17 12:25] mairh opened #187 "Knex seed for postgres"
I was playing around with different databases for this kit since we are mentioning over [here](https://github.com/sysgears/apollo-fullstack-starter-kit/blob/master/README.md#features) that any database can be plugged into the kit in the same way as SQLite.

So, I tried plugging `postgres` and faced an issue with the knex seed provided in this kit. The problem is we are using `truncate()` for seed

[2017-05-17 12:52] bagshik commented on #187
Hey, I was in the same situation as you. I did something similar in the seed file :

[code]

This will make sure to reset the autoincrement and populate the post_id fields for the comments. Let me know if this works for you.

PS : I still have a weird issue when I'm running the seed files, the `id` of the posts doesn't match its `title` and `content` fields, did you also run into this problem?

[2017-05-17 13:08] mairh commented on #187
@bagshik Thanks. That did the trick. I will try to find a neat solution (if any).

Regarding your problem with `id` of the post is not matching its `title` and `content` is because you are running the truncation for `post` and `comment` table twice.

Try this in sequential promises
[code]

[2017-05-17 13:12] mairh commented on #187
@bagshik Yes, that did the trick. It would be nice to find a neat solution though (maybe that's the only one at the moment).

Due to the `async` operations, I do see the `id` field is not matching the `title` and `content` fields

[2017-05-17 13:22] bagshik commented on #187
@mairh Yeah, I agree. I'm still looking though, I'll let you know if I find a better solution.

[2017-05-17 13:28] mairh commented on #187
I'll keep the issue open and wait for @vlasenko insight.

[2017-05-17 13:29] mairh commented on #187
@bagshik By the way why are you truncating `post` and `comment` table twice.

Only running `knex.raw('TRUNCATE TABLE post, comment CASCADE')` should be enough.

[2017-05-17 14:31] mairh commented on #187
@bagshik Does adding a new post or comment works for you while using postgress, and with the above configuration?

I am getting the following error when adding post and comment

Adding Post
<img width="1246" alt="screen shot 2017-05-17 at 17 29 07" src="https://cloud.githubusercontent.com/assets/4072250/26159152/7768c0ce-3b26-11e7-9170-ed482555ed2c.png">

Adding Comment
<img width="1265" alt="scre

[2017-05-17 15:20] bagshik commented on #187
@mairh Oh I didn't notice this, you're right about that. I just tried adding a new post / comment, I'm getting the same errors as you but the data is still getting inserted into the database. We'll need to look into this... I'll let you know if I find a solution.

[2017-05-18 16:49] vlasenko commented on #187
`Undefined binding(s)` error when adding post should be fixed via:
https://github.com/sysgears/apollo-fullstack-starter-kit/commit/e3406ae46dc18774b41121151a99bd023a03cc23

[2017-05-18 19:45] mairh commented on #187
Thanks. I will check it out and close the issue after some testing tonight.

[2017-05-18 21:10] mairh commented on #187
This issue can be closed once https://github.com/sysgears/apollo-fullstack-starter-kit/pull/188 is merged.

[2017-05-19 04:33] vlasenko commented on #187
Fixed by #188

[2017-05-19 04:33] #187 closed

[2017-05-20 06:06] vlasenko commented on #185
I have opened issue about exposing Haul as a library, right now its slightly complicated to access Haul in a programmatic way in our project, but still possible. If Haul were exposed as a library we could integrate it very easily:
https://github.com/callstack-io/haul/issues/155

[2017-05-23 15:00] mairh opened #196 "Google universal analytics as part of the starter kit"
How do you think if we support Google Universal analytics out of the box? I can create a PR if you think we would like to have it in the kit.

Usually, at some point in time, people would like to integrate GA in their app, but I am not sure if we leave it up to them to tackle or provide the feature in this kit.

[2017-05-23 15:28] vlasenko commented on #196
Yes, sure, sounds good. Lets integrate it

[2017-05-23 15:53] mairh commented on #196
I'll create a PR in a day or two. Closing the issue now (since technically this is not an issue)

[2017-05-23 15:53] #196 closed

[2017-05-24 15:32] mairh commented on #181
@thebigredgeek Any updates on `apollo-resolvers` and `apollo-errors` integration. I would love to see how would it integrate with the starter kit.

[2017-05-25 09:38] kyzia551 opened #197 "Using with remote graphql server"
What is the easiest way to change settings for using remote graphql server in you starter kit?

I've tried different ways, last try was in api_server change:
[code]
But any time I receive "400, bad request" error, and have no idea, because server works fine.

[2017-05-25 13:23] mairh commented on #197
@kyzia551 If you need to run your own server at a remote location then you need to some refactoring. What you need to do is to have the server running on a different node, which is not something plugged into this starter kit at this moment. This is a full blown full-stack kit.

If you are not up for doing some `webpack` refactoring then I can suggest you another starter kit which only supports `re

[2017-05-25 14:40] mairh commented on #116
Closing the issue due to inactivity and answer provided. Reopen in a case of any issue.

[2017-05-25 14:40] #116 closed

[2017-05-26 06:30] #197 closed

[2017-05-26 06:33] vlasenko commented on #197
@kyzia551 Support for external GraphQL backend has been just added. Please fetch latest source code for the starter kit from this repository and set `serverConfig.url` in `tools/webpack.app_config.js` to your GraphQL server endpoint

[2017-05-26 09:00] mairh opened #199 "Error running the kit after the latest update"
Getting the following error after the commit https://github.com/sysgears/apollo-fullstack-starter-kit/commit/2ad36e9ce54279cd343a97242351d9fb7c9b334a was merged to master.

`UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1): Error: Schema must be an instance of GraphQLSchema. Also, ensure that there are not multiple versions of GraphQL installed in your node_modules d

[2017-05-26 11:12] vlasenko commented on #199
Oh, okay, I'm going to look now, thanks for reporting!

[2017-05-26 11:52] vlasenko commented on #199
Should be fixed via: https://github.com/sysgears/apollo-fullstack-starter-kit/commit/a5c54b1621b5f0ac95ccbf96116a2b3ed8e4bcfe

[2017-05-26 11:52] #199 closed

[2017-05-26 18:48] sakhmedbayev opened #200 "How to add post using graphiql?"
Sorry guys for asking these kind of questions here, but I have hard time to figure out how to add a post using graphiql. Can you please help? I understand I need to issue this query, what goes as `postInfo`?

    mutation addPost($input: AddVideoInput!) {
        addVideo(input: $input) {
            ... postInfo
        }
    }

[2017-05-26 19:25] mairh commented on #200
'postInfo' is a fragment applied to 'addPost' mutation using spread operator.

I am not sure how does your 'Post' type looks like but in graphiql you can use fragment to pass the 'postInfo'

Something like

'''
fragment postInfo on Post {
  id
  content
}
'''

[2017-05-26 20:08] veeramarni commented on #197
Webpack doesn't understand `url` if you uncomment it. Do you want me to create a separate issue?

[code]

[2017-05-26 20:09] vlasenko commented on #197
@veeramarni Yes, please create separate issue and please provide reproduction steps, since it is not clear what npm script are you launching.

[2017-05-27 14:08] vlasenko commented on #200
To add post using GraphiQL you should use the following mutation request:
[code]

In "query variables" tab:
[code]

Expected output:
[code]

[2017-05-27 14:08] #200 closed

[2017-05-27 15:42] sakhmedbayev commented on #200
Thank you!

[2017-05-29 11:38] vlasenko opened #205 "Upgrade to new GraphQL subscriptions API"
We need to wait until graphql-server-express in npm will updated to graphql `0.10.x` and then we can try to upgrade to new GraphQL subscriptions API. Right now it is not really possible.

[2017-05-30 11:27] hems opened #207 "Error: SQLITE_ERROR: no such table: count"
After cloning the repository and running it on my local machine, i get the following error:

[code]

[2017-05-30 11:29] vlasenko commented on #207
@hems You forgot `yarn seed` before `yarn watch`

[2017-05-30 11:33] hems commented on #207
thanks!

[2017-05-30 11:33] #207 closed

[2017-05-31 03:26] j-jackson opened #210 "Heroku deploys no longer work"
I noticed that the heroku [demo](https://apollo-fullstack-starter-kit.herokuapp.com/) in the readme no longer works so I tried to [deploy a new version](https://gql-apollo-demo.herokuapp.com/) using a new clone from master but It still doesn't work. (see below)

![screenshot 2017-05-31 13 14 49](https://cloud.githubusercontent.com/assets/22781082/26614551/85c727b2-4604-11e7-8b8d-3368082f17ad.png)

[2017-05-31 03:29] j-jackson commented on #210
Actually, it looks like running in production mode locally throws the same error.

[2017-05-31 04:02] vlasenko commented on #210
@j-jackson Thanks for reporting! Looking...

[2017-05-31 05:07] greenkeeper[bot] opened #211 "An in-range update of persistgraphql-webpack-plugin is breaking the build 🚨"
## Version **0.3.1** of [persistgraphql-webpack-plugin](https://github.com/sysgears/persistgraphql-webpack-plugin) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/sysgears/apollo-fullstack-starter-kit/compare/greenkeeper%2Fpersistgraphql-webpack-plugin-0.3.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency

[2017-05-31 05:12] #211 closed

[2017-05-31 05:14] #210 closed

[2017-05-31 05:55] j-jackson commented on #210
Thanks @vlasenko, production build works now!

Did you tested it in dev mode? Im seeing the same error with `yarn watch`

[2017-05-31 06:05] j-jackson commented on #210
sorry, ignore my last comment.

[2017-06-03 07:01] greenkeeper[bot] opened #215 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because we are using your CI build statuses to figure out when to notify you about breaking changes.

Since we did not receive a CI status

[2017-06-04 09:47] hhashmi opened #216 "Not working on Windows 10"
npm : 3.8.6
node: 5.11.1
(Same version are working on my macbook pro)

- Downloaded zip file, unzipped
- npm install  (no erros)
- npm run see (no erros)
- npm run watch  (erros)

[2017-06-04 18:41] vlasenko commented on #216
@hhashmi This is very strange. Have you tried to delete `node_modules` and install them afresh? The latest version works fine for me under Windows 7 with Node v6.10.2.

[2017-06-04 18:53] vlasenko commented on #216
@hhashmi This generally looks like graphql-tag/loader uses some feature of Node.js that is not present in Node v5.11.1. If this is so, then it is the issue of `graphql-tag` and not this starter kit

[2017-06-04 19:00] vlasenko commented on #216
@hhashmi Hmm, I have tried running the latest version of the starter kit under Node v5.11.1 under Windows and it still works fine for me

[2017-06-04 21:57] mairh opened #217 "Build breaking with yarn v0.24.6 on OSX (running web + native)"
This is just a heads up that the build is breaking when running `yarn watch` using `v0.24.6`

Failing with error

[code]

It seems like this is a common issue

https://github.com/trentm/node-bunyan/issues/216
https://github.com/react-community/create-react-native-app/issues/135

Workaround is to use `npm install` and `npm run watch` instead of `yarn` and `yarn watch`

[2017-06-05 08:10] cyrus-za commented on #216
I am experiencing the same issue. I cloned the project fresh and installed dependencies with yarn, then ran seed and watch.

[code]

[2017-06-05 08:15] mairh commented on #216
@cyrus-za Can you post the following info

[code]

[2017-06-05 08:37] cyrus-za commented on #216
Hi,

The issue seems to be with downloading the master zip and extracting that instead of cloning, which is rather weird. It's all working now. Maybe it has to do with my IDE (webstorm) creating files if there's no git repo.

npm 3.10.10
yarn 0.24.4
node 6.10.1
win10 pro OS build 15063.296 version 1703

[2017-06-05 09:03] mairh commented on #216
Glad it is working for you now.

[2017-06-05 12:38] sakhmedbayev opened #218 "Proper way to use fragments in graphql queries in the client"
What is a proper way to add new fragment to a graphql query on the client side?
I added a new module, similar to the "Post" module, the "Blog" module. The backend for this module is set and working properly. However, when I added some fragments for graphql queries on the client side in  `src/client/modules/blog/graphql` directory, webpack could not compile project anymore, throwing this error:

[2017-06-05 12:53] mairh commented on #218
how does your `graphql/blog.graphql` file looks like?

Also, could you paste the query you are trying to execute?

[2017-06-05 18:44] #215 closed

[2017-06-06 09:18] mairh commented on #103
@swhamilton @GiladShoham Are we still in discussion mode with the authentication and authorization feature?

[2017-06-06 12:32] vlasenko commented on #216
This is a problem in `graphql-tag/loader`. It uses `os.EOL` to deal with line endings in `.graphql` files and when it spots non host OS line endings its logic breaks. GitHub and our repo has Unix line endings in all sources files by default. We can force Windows line endings in `.graphql` files via `.gitattributes` but it will make Linux users unhappy. Please note that you are generally diverting

[2017-06-06 12:49] vlasenko commented on #216
I have created Pull Request to `graphql-tag/loader` to fix Webpack loader parsing problem of file with non-native line endings:
https://github.com/apollographql/graphql-tag/pull/95

[2017-06-06 12:56] vlasenko commented on #185
Closing this now, as basic support has been added. Of course a lot more work needed to polish it, which will be covered by Roadmap steps or specific issues. Thank you everyone for discussion and help with this!

[2017-06-06 12:56] #185 closed

[2017-06-06 15:09] cyrus-za commented on #216
Thanks for the feedback vlasenko

[2017-06-07 04:03] OmgImAlexis commented on #217
If yarn adds a way to change the Python version being used this will be fixed as building with Python 2.7 instead of Python 3 fixes this issue.

Ref: https://github.com/yarnpkg/yarn/issues/3519

[2017-06-07 05:41] vlasenko commented on #216
`graphql-tag` has fix for parsing line endings now and starting off from downloaded ZIP under Windows works now.

[2017-06-07 05:41] #216 closed

[2017-06-07 05:42] vlasenko commented on #218
Closing due to issue creator inactivity

[2017-06-07 05:42] #218 closed

[2017-06-07 05:43] vlasenko commented on #180
Closing due to no activity on this issue

[2017-06-07 05:43] #180 closed

[2017-06-07 05:43] vlasenko commented on #181
Closing due to no activity on this issue

[2017-06-07 05:43] #181 closed

[2017-06-07 05:43] vlasenko commented on #182
Closing due to no activity on this issue

[2017-06-07 05:43] #182 closed

[2017-06-07 06:53] mitjade opened #221 "Error shown before iOS Simulator starts"
If you run with `ios` => `true` and do not have the `Simulator` running, the first time you start the server you get an error `Failed to start Simulator:  undefined`.

Otherwise the simulator still starts later and all is working OK.

If the simulator is already running, there is no problem.

[2017-06-07 09:03] mairh commented on #221
Yes, same here. Although no issues in the working code though.

[2017-06-09 08:03] ramanacv commented on #103
Even I am curious and interested. Ready to start a new project. Have identified this starter kit as a boilerplate. Will be good if authentication/authorization is also part of it.

[2017-06-09 08:53] #123 closed

[2017-06-09 11:34] swhamilton commented on #103
@mairh @ramanacv I have successfully implemented JWT authentication in this project with a react-native client (using AsyncStorage), and will soon be trying out the web side with a JWT in cookies (I want to preserve SSR). Once I complete the integration I will have a better understanding of how my approach works and I'll share my findings/post code snippets in a readme, etc.

A couple concepts I'v

[2017-06-09 12:05] mairh commented on #103
@swhamilton So after validating through JWT we pass the user into graphql context? Until the user is authorized we don't hit the graphql backend, right?

Also, all the necessary info will be saved into graphql context and we can just do the normal graphql queries/mutation to do stuff with the authorized user?

[2017-06-09 12:18] swhamilton commented on #103
@mairh

Because I use graphql in my authentication flow (mutations: signUp, signIn, authenticateToken), I can't block unauthorized users from hitting the API. I also have public resources that I want to serve, so I can't assume an invalid/no token request is bad. So for protected resources, I do authentication checks (are they a valid user) inside the resolver, and authorization (do they have perm

[2017-06-09 12:39] mairh commented on #103
That sounds logical to me. Would be really interested to see it integrated into this starter kit because doing authentical and authorization in `graphql` projects is not something very standardized.

Since now we also support react native into this starter kit I think having an auth module with react native client and web client support would be awesome. Let us know if in any way we can help you t

[2017-06-09 13:10] ramanacv commented on #103
@swhamilton Thanks for the update provided. Our's is a web project. So I will look forward to your web integration. Thanks for stating your observations.

@GiladShoham I am meanwhile looking at this project. You mention this is not ready. Is it not feature ready or is it testing and security-audit that makes it incomplete ? Do you know when it will be ready ?

[2017-06-09 13:48] mairh commented on #217
Seem like `yarn v0.24.6`started working for me now. Not sure what has changed. If someone else can confirm that `yarn watch` is running without any problem then we can close this issue.

[2017-06-09 20:09] vlasenko commented on #217
Yes, working for me now too. And I have faced this bug previously. Not sure what has changed, but it works now. Closing this issue.

[2017-06-09 20:09] #205 closed

[2017-06-12 14:42] mairh commented on #217
Reopening since I am facing the same issue again using the same version.
<img width="815" alt="screen shot 2017-06-12 at 17 41 50" src="https://user-images.githubusercontent.com/4072250/27039374-711656da-4f96-11e7-9e52-1e438b7ca9bf.png">

[2017-06-12 14:51] vlasenko commented on #217
@mairh Doesn't reproduces for me now

[2017-06-12 15:58] mairh commented on #217
@vlasenko Are you using the same `yarn` version?

Could you try the following options (if you haven't done already)

1) Remove `build` folder
2) Remove `node_modules`
3) Remove `.expo`
2) Try `android: true` and then with `ios: true`

[2017-06-12 16:01] vlasenko commented on #217
Yes, I'm using the yarn `0.24.6` which is the latest stable at the moment and I'm doing fresh clone with `android: true`

[2017-06-12 16:02] mairh commented on #217
Although, it shouldn't make any difference, but could be it only be happening on `ios: true` ?

[2017-06-12 16:02] mairh commented on #217
@mitjade When you have time could you give it a try?

[2017-06-12 16:31] mitjade commented on #217
@mairh Will do in a few hours.

[2017-06-12 20:51] mitjade commented on #217
Currently it's working for me. I had some problems with yarn when I was running also iOS simulator. For web only no problems so far.

[2017-06-12 21:06] mairh commented on #217
yes, for the web only it works fine. I'll keep this issue open for a short while and see if the yarn problem is just hit and trail or something else. Thanks for checking it out though.

[2017-06-13 01:24] OmgImAlexis commented on #217
@mairh this issue is because of bunyan it won't just randomly go away you'll need to either switch to using npm install for now with python 2.7 set or wait for yarn to add a python flag as I stated above.

Bunyan issue: https://github.com/trentm/node-bunyan/issues/216
Yarn issue: https://github.com/yarnpkg/yarn/issues/3519

[2017-06-13 08:20] mairh commented on #221
At least, I don't see the aforementioned error message anymore if the simulator is not running. It opens up the simulator normally without any error message.

Perhaps, it can be closed after @mitjade confirms

[2017-06-13 10:06] mitjade commented on #221
@mairh I still see the error.

[2017-06-13 14:46] vlasenko commented on #139
Basic integrations tests have been added. For other test types separate issues will be opened as needed

[2017-06-13 14:46] #139 closed

[2017-06-13 14:51] vlasenko commented on #42
Closing this issue, as I haven't heard about much troubles with Apollo error handling / or perhaps people quickly find the solution elsewhere to this problem

[2017-06-13 14:51] #42 closed

[2017-06-14 05:27] illepic opened #233 "Uncaught ReferenceError: Invalid left-hand side in assignment"
I get the following clientside errors using Node 8 with either yarn 0.24.6 or NPM 5:

[code]

![2017-06-13 at 10 23 pm](https://user-images.githubusercontent.com/295127/27116635-38fd3b6e-5087-11e7-846b-05b2204ab6d0.png)

This is a fresh build with no modification to config.

[2017-06-14 05:52] vlasenko commented on #233
@illepic Thanks. Could you update and try again now?

[2017-06-14 05:56] illepic commented on #233
Hitting this right now.

[2017-06-14 05:57] vlasenko commented on #233
@illepic What URL do you open in the browser?

[2017-06-14 05:58] vlasenko commented on #233
@illepic Could you open that vendor_web.xxxx_dll.js at the offending line and tell me what is there on that line?

[2017-06-14 05:59] illepic commented on #233
@vlasenko : we're gold! (My prior comment was just to let you know that I was pulling and reinstalling node_modules).

[2017-06-14 05:59] illepic commented on #233
Thank you so, so much for a timely response. I'm very excited to dive into this.

[2017-06-14 06:00] vlasenko commented on #233
Great! Thank you @illepic for reporting!

[2017-06-14 09:38] mitjade commented on #233
Now I am getting this?

In terminal:
[code]

[2017-06-14 09:41] mitjade commented on #233
Second time I run this, browser errors remains, terminal one is gone.

To get the terminal error did delete `build` and `node_modules` dirs.

[2017-06-14 09:44] vlasenko commented on #233
@mitjade This is because I have added `npm-check-updates` to dependencies by mistake. I have remove them in the last commit to master, please check whether you pulled this commit from master and have no `npm-check-updates` in package.json dependencies

[2017-06-14 09:46] mitjade commented on #233
Ah. Sorry. I did but then switched to a different branch and did not merger this in.

[2017-06-14 09:46] #233 closed

[2017-06-14 19:02] zunder opened #236 "Client side"
I am wondering if there is any chance for obtaining the starter kit containing only the client side implementation?

[2017-06-14 19:54] vlasenko commented on #236
@zunder Yes. To use external backend set `serverConfig.url` at `tools/webpack.app_config.js`. After you do this backend part will not be compiled via Webpack anymore and external GraphQL backend at given endpoint will be used.

[2017-06-14 20:53] zunder commented on #236
@vlasenko Nice, thank you for the hint! Is there also a list describing all the modules used by the server only? I would prefer a project with minimum dependencies only including the client stuff.

[2017-06-14 21:15] greenkeeper[bot] opened #237 "An in-range update of graphql-server-express is breaking the build 🚨"
## Version **0.8.1** of [graphql-server-express](https://www.npmjs.com/package/graphql-server-express) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/sysgears/apollo-universal-starter-kit/compare/greenkeeper%2Fgraphql-server-express-0.8.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>

[2017-06-14 22:41] greenkeeper[bot] opened #238 "An in-range update of subscriptions-transport-ws is breaking the build 🚨"
## Version **0.7.3** of [subscriptions-transport-ws](https://github.com/apollostack/subscriptions-transport-ws) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/sysgears/apollo-universal-starter-kit/compare/greenkeeper%2Fsubscriptions-transport-ws-0.7.3">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td

[2017-06-15 00:36] greenkeeper[bot] opened #239 "An in-range update of history is breaking the build 🚨"
## Version **4.6.2** of [history](https://github.com/reacttraining/history) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/sysgears/apollo-universal-starter-kit/compare/greenkeeper%2Fhistory-4.6.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      history
    </td>
  </tr>
  <tr>
    <

[2017-06-15 01:16] zunder opened #240 "TypeError: Cannot read property 'source' of undefined"
Starting `npm run watch` with following settings causes a problem during source list mapping. I am only documenting my changes in settings compared to current master branch.

**app.json:**
[code]

**webpack.app_config.js**:
[code]

**Terminal:**
[code]

[2017-06-15 05:19] vlasenko commented on #236
@zunder Yes, the list is in the same file `tools/webpack.app_config.js`. Those deps marked with `server` only are used for backend

[2017-06-15 05:36] #240 closed

[2017-06-15 05:36] vlasenko commented on #240
@zunder Should be fixed now in `master`, please update sources and check

[2017-06-15 05:47] #239 closed

[2017-06-15 05:47] #238 closed

[2017-06-15 05:47] #237 closed

[2017-06-15 16:01] #236 closed

[2017-06-15 17:38] zunder opened #243 "Uncaught ReferenceError: vendor_web is not defined"
Steps to reproduce:

git clone the project. Do following changes in configs:
**app.json:**
[code]

**webpack.app_config.js**:
[code]

Start `npm run watch`. Open `http://localhost:3000`. Following error is logged in console:

**Error message**
[code]

As a guess, this might be caused by recent change in [this commit](https://github.com/sysgears/apollo-universal-starter-kit/commit/45b0103dbf072d6cb

[2017-06-15 17:46] vlasenko commented on #243
Ok, lemme look...

[2017-06-15 18:10] zunder commented on #240
@vlasenko thank you for this one! It fixed the RN build.

[2017-06-15 18:52] #243 closed

[2017-06-15 18:52] vlasenko commented on #243
@zunder Please update and try. Should be fixed now

[2017-06-15 19:21] zunder commented on #243
@vlasenko That indeed fixed the issue. Thanks a lot!

[2017-06-15 19:52] vlasenko commented on #243
@zunder Great! Thanks for testing!

[2017-06-15 19:53] zunder opened #244 "Typescript support"
This is more of a question of how to do it myself, rather than an actual request. I've been wondering what has to be done in order to provide support for Typescript. As for my understanding using Haul should make this task possible with RN. Unfortunately there is little to non example available for accomplishing this task. What I could do for now is using tsc in order to compile .ts files into the

[2017-06-15 19:58] vlasenko commented on #244
At some point in the past I have ported this starter kit to TypeScript, but after fighting with TypeScript for a while I decided to go with `flow` instead. The problem with using TypeScript for web apps and mobile apps with lots of dependencies is that TypeScript enforces that all deps supported it and this is usually not the case for non trivial web apps. Flow is much better in this respect as it

[2017-06-15 20:03] vlasenko commented on #244
So if you want type checking why not just go with `flow` which is the most React-friendly type checker. And if you want to enforce types at runtime too, not only at compile time, just add https://github.com/gcanti/babel-plugin-tcomb to babel plugins at `webpack.config.js`

[2017-06-15 20:42] zunder commented on #244
I agree on those points and to tell the truth we were discussing on wether or not to use flow or typescript. The decision did fall in typescript's favor, so I need to have a look on ways of getting it working with the toolchain. Is this port of yours still available somewhere so I could take a brief look at it?

[2017-06-15 22:14] zunder opened #245 "HCR opens a new browser if backend url specified"
Steps to reproduce:

Uncomment the url in webpack.app_config.js:
[code]

Start by launching `npm run watch`. Go to `localhost:3000`. Make a change in e.g. `counter_show.web.jsx`. Save the change. A new browser window will open instead of only reloading the module in current one. This does not happen if you use build-in server.

[2017-06-16 05:06] #245 closed

[2017-06-16 07:32] vlasenko commented on #244
I don't think that old port is much relevant now, it was very outdated and was done when this starter kit didn't support React Native. The primary problems were not with enabling `awesome-typescript-loader` for Webpack, this is easy, as well as adding tslint, etc. But there were problems with Apollo libs itself, I had to always invent workarounds for Apollo libs to work with TypeScript code, I hav

[2017-06-16 16:46] zunder commented on #244
Alright, I will try to integrate the kit in Typescript in our system first and see if I can help out maintaining such a branch here. I agree that there are more important things to this project especially the react-navigation integration and splitting into Lerna packages. Can't wait for those changes to be released. Thank you for your work!

[2017-06-16 16:46] #244 closed

[2017-06-16 16:50] zunder commented on #245
@vlasenko Could have figured that one myself.. Thank you for the quick fix!

[2017-06-16 16:53] vlasenko commented on #245
@zunder You are welcome!

[2017-06-17 11:19] veerjainATgmail commented on #113
Hi, Awesome starter kit !.
Adding a new server & client modules are intuitive.
**A write up on, how to add new modules will certainly help**

I am trying to figure out, the knex integration.
I'm assuming the server database tables are created at server/database/migrations folder
when i add a new migration file for a new module, I am not seeing the tables getting created.
thanks in advance, mj.

[2017-06-17 11:30] vlasenko commented on #113
@veerjainATgmail Could you clarify what migration file do you add, with what contents and whether you run `yarn migrate` after this?

[2017-06-17 11:52] mitjade commented on #113
@veerjainATgmail Regarding adding new modules, what part seemed unclear? Would help to hear from someone who is new to this kit, to get a better picture what to explain in more detail.
Btw did you try `yarn cli addmodule <module-name>`?
Reguarding `knex` we are working on making it better and will add some docs there as well.

[2017-06-17 12:00] veerjainATgmail commented on #113
@vlasenko I am trying to add a new module similar to Posts (Videos) with a URL and comments. Now, i tried yarn migrate.. it works. Thanks for the quick response 👍
@mitjade I didnt try `yarn cli add module`. Yes, `knex` part was not clear. (I did try to refer kenx [http://knexjs.org/] documentation.) Thanks :)

[2017-06-19 10:20] xtringo opened #248 "SQLITE_ERROR: no such table: count"
Has the creating table count problem? The migration runs failed when enter `yarn seed`.

[code]

[2017-06-19 10:30] vlasenko commented on #248
@xtringo Why NODE_ENV is `test` here? Do you set it somewhere? It should be `development` if you just run `yarn seed`

[2017-06-19 10:38] xtringo commented on #248
My fault, I forgot my script set NODE_DEV to `test` automatically.

[2017-06-19 10:38] #248 closed

[2017-06-20 01:53] zunder commented on #176
@vlasenko did you guys manage to get react-navigation running together with expo?

[2017-06-20 05:50] vlasenko commented on #176
@zunder Alex, we haven't tried yet. Are there any problems with adding `react-navigation`?

[2017-06-20 06:20] zunder commented on #176
@vlasenko Yes, after fiddling around with different versions of expo, react-native and react-navigation, I finally got it to work. Only thing left is a warning: `Possible Unhandled Promise Rejection (id: 0):`, which I am having difficulties to track down.

I have slight suspicion that it has something to do with AppRegistry, but nothing sure yet. I am not 100% sticking to this kit though as I am u

[2017-06-20 06:28] vlasenko commented on #176
@zunder Lets discuss in the chat:
https://gitter.im/sysgears/apollo-fullstack-starter-kit

[2017-06-20 07:00] zirho opened #250 "Are we interested in docker?"
I'm trying to deploy my app built on this boilerplate to docker cloud.

It looks package.json dependencies are not organized by NODE_ENV, so that docker builder can get all the deps for a building environment.

Is it a common practice to install devDeps when building deployable docker image?

Thanks!

[2017-06-20 07:09] vlasenko commented on #250
@zirho I'm not sure what do you mean dependencies are not organized by NODE_ENV and how is it related to docker and to what `docker builder` do you refer? Please clarify what tools do you exactly use and what problems do you have with those tools

[2017-06-20 07:13] zirho commented on #250
Oh, sorry about that.

I have a Dockerfile to build deployment docker image which set NODE_ENV=production.
Which makes `yarn install` only installs production deps.
Which makes build fail.

I think I can just not set NODE_ENV so that it installs all deps for the build process.

Am I using it right?

[2017-06-20 07:19] vlasenko commented on #250
@zirho Yes, we might need to fix the docs here:
https://github.com/sysgears/apollo-universal-starter-kit#user-content-deploying-to-linux-running-nodejs
Only `yarn seed` step must set NODE_ENV=production all the other steps must not set NODE_ENV

Well, the last step when you run the built app via `yarn start` or `node build/server` might need to have NODE_ENV=production set as well

[2017-06-20 07:23] zirho commented on #250
@vlasenko

It seems it needs some adjustment for a seamless CICD with docker cloud.
Thanks for the help.

This project seems going really great. It's kinda hard to catch up!

Good work guys, I really appreciated it!

[2017-06-20 07:23] #250 closed

[2017-06-22 05:32] zirho opened #252 "eslint"
Hi,

I got a bunch of eslint errors on eslint-vim integrated report.
I tried to find a fix for it, but I couldn't.
It seems everything (.eslint*) is properly set up.

I don't get any errors with `yarn lint`.
I confirmed it's the latest master branch.

![image](https://user-images.githubusercontent.com/1251296/27418580-d8c4809a-56d0-11e7-9990-b1d576506707.png)

So I went check it out with Atom with

[2017-06-22 06:00] zirho commented on #252
This is introduced by commit # ea13e75e34aef8b40309a39056ab28ad1d8d6612
Trying to find what part of it now

[2017-06-22 06:16] zirho commented on #252
![image](https://user-images.githubusercontent.com/1251296/27419803-9d67386a-56d7-11e7-874c-11c6f0ef20a7.png)
This is the cause of it.

[2017-06-22 06:37] zirho commented on #252
Temporary fix is

![image](https://user-images.githubusercontent.com/1251296/27420357-7a9ec070-56da-11e7-8bd6-31d030211839.png)

![image](https://user-images.githubusercontent.com/1251296/27420366-85b068ba-56da-11e7-9626-c70488fb771d.png)

Ugly, but working.

[2017-06-22 07:08] zirho commented on #252
Thanks 👍

[2017-06-22 07:08] #252 closed

[2017-06-22 07:09] vlasenko commented on #252
@zirho I have pushed fix here:
https://github.com/sysgears/apollo-universal-starter-kit/commit/8353862bb6ef4e202234dbb4a82c0c93fb265c2f
Could you check if it works for you?

[2017-06-22 07:12] zirho commented on #252
That worked out gracefully
Thanks as always!

[2017-06-23 07:36] xtringo opened #258 "The example: the counter is not updated when switching "Apollo Starter Kit" and "Posts""
Greetings,
I observed the counter is not updated. The following are my steps:

1. Start `Yarn watch`
2. In browser, open 2 Tabs http://localhost:3000/ (resize 2 windows to observe the result easier)
3. In the first tab, press button "**Click to increase count**". Both counters in 2 tabs are increased. This is the expectation.
4. In the second tab, open the "**Posts**" list (top nav bar)
    In the

[2017-06-23 07:44] vlasenko commented on #258
@xtringo Yes, it is expected behavior of the example. Because we are subscribing to counter updates only on counter page and unsubscribing when you leave the page. If you want your scenario to work we probable should force fetch the latest counter value on counter page entering.

[2017-06-23 08:29] #258 closed

[2017-06-25 07:24] vlasenko commented on #221
@mitjade Could you please test with latest version of the kit?

Error message should be shown now instead of `undefined`. If you will see some error, please also check `~/.expo/log` file contents and attach it to this issue report.

[2017-06-25 08:13] mitjade commented on #221
Will do.

[2017-06-25 10:42] mitjade commented on #221
In the console I get `Failed to start Simulator:  Error: Process exited with non-zero code: 60`.

Log file:
[code]

[2017-06-25 10:53] vlasenko commented on #221
@mitjade Seems this error because of timeout. I have pushed patch that should hopefully fix it. The Expo server will be starter after React Native bundle has been compiled and available. Could you `git pull` and check?

[2017-06-25 11:09] mitjade commented on #221
@vlasenko Error is still there.

[2017-06-25 11:10] vlasenko commented on #221
@mitjade Could you attach expo logs?

[2017-06-25 11:52] mitjade commented on #221
[code]

[2017-06-25 11:55] mitjade commented on #221
@vlasenko Reinstalled Expo on the Simulator, to remove old version notification in the log.

[2017-06-25 11:57] vlasenko commented on #221
@mitjade Looks like Expo waits only 10 secs. But this is too short for iOS Simulator to start, it starts longer I think. Do you have the same timeout problem with CRNA on terminal and in Expo logs?

[2017-06-25 12:12] mitjade commented on #221
@vlasenko This seems to be the problem. The error pops up roughly after 10 seconds after simulator starts, but it takes about 15 for the expo app to load.

Will check with CRNA.

[2017-06-25 14:49] mitjade commented on #221
Will try when they resolve https://github.com/react-community/create-react-native-app/issues/275.

[2017-06-26 04:33] zirho opened #261 "Question about making App.jsx redux container"
Hi,
I'm having a hard time making subscription to work with App.js as a redux container.

https://github.com/zirho/apollo-fullstack-starter-kit/blob/question/redux-and-subscription/src/client/app/app.jsx#L39-L41

As soon as I changed 'App.jsx' as a container, counter subscription stoped working.

I suspect it's related to Server rendering because when I change `App.jsx`, it starts working again on

[2017-06-26 06:28] zirho commented on #261
Sorry guys,
I figure it out. I solved it by passing own props to component as well.
![image](https://user-images.githubusercontent.com/1251296/27526924-e05c5280-59fd-11e7-807b-738cf2cd0679.png)

[2017-06-26 06:28] #261 closed

[2017-06-26 13:06] vlasenko commented on #221
@mitjade No need to wait for them. Downgrade `react-native-scripts` from `0.0.40` to a previous version, which is `0.0.31` inside create react native app, via:
`npm i -D react-native-scripts@0.0.31`

[2017-06-27 06:26] vlasenko commented on #221
@mitjade Seems they have weakened the check for npm version in the latest `xdl`:
https://github.com/expo/xdl/commit/224cf7a925e842d61490d2ce63b3bf79f68a93f0

[2017-06-29 03:33] sakhmedbayev opened #268 "Add basic filtering and sorting options to the post list page"
First of all, let me thank you for this awesome kit. I am really happy to discover it!

This issue is not really an issue, but rather a feature suggestion. I just want to propose to include a basic filtering and sorting options on the post list page. For instance, kit can feature a filter that allows users to filter posts which have more than 2 or 3 comments and sort the list by posts' titles. I t

[2017-06-29 05:01] mitjade commented on #268
I agree this could be a nice addition to this example. Will add it to the roadmap.

[2017-06-29 11:21] mairh commented on #268
We could add search feature too along with filter and sorting feature for further improvement.

[2017-07-03 11:59] sakhmedbayev commented on #103
@swhamilton and @GiladShoham,  thank you for all the hard work you are both doing to integrate Auth and authorization into this kit. Is there any news where are you standing regarding this issue?

[2017-07-07 09:43] swhamilton commented on #103
@sakhmedbayev Sorry for the late reply. I have been "field testing" my current auth solution with react-native and seeing what works best.

My current setup:

- No PassportJS (I have a file that does simple password encryption / jwt creation
- Graphql handles the auth flow endpoints (this is important because some designs assume all graphql queries/mutations need authentication...but my design all

[2017-07-07 18:52] claym opened #276 "Using a separate GraphQL service?"
What's the proper method for disconnecting the front end components from the backend GraphQL server and database?

Basically, pointing to the preferred service and preventing the other ones from starting up?

Thanks!

[2017-07-07 19:00] vlasenko commented on #276
@claym This is the most frequently asked question. The proper method is to uncomment the line:
https://github.com/sysgears/apollo-universal-starter-kit/blob/c8064dc5996829e08c3e05cfe4f62ff64a42e08f/tools/webpack.app_config.js#L4

Pull Request to make answer to this question intuitive is more then welcome

[2017-07-07 19:30] claym commented on #276
Ah, and the rest of the system is smart enough to go "oh, don't need start the graphql server"?

Would this work with something like Graph.cool? it appears to be trying to connect to wss://api.graph.cool/<endpoint> and failing out.

[2017-07-07 19:40] vlasenko commented on #276
@claym Yes the rest of the kit is smart about this `url` param.

Yes it should work with graph.cool, but there is one gotcha. Recent Apollo versions recommend to use websockets protocol over HTTP, so this starter kit switched to websockets both for subscriptions and queries/mutations. I don't know whether `graph.cool` exposes `websocket` endpoint for queries and mutations or not yet?

[2017-07-07 19:48] vlasenko commented on #276
@claym Check this issue:
https://github.com/apollographql/subscriptions-transport-ws/issues/169

Right now we are using never WebSocket transport option, but if `graph.cool` doesn't support it, I think we should rollback to older Hybrid transport option, this is not difficult, we should rollback this commit for `main.jsx` to return to `Hybrid` transport which should be compatible with all GraphQL

[2017-07-07 20:04] #276 closed

[2017-07-07 20:05] vlasenko commented on #276
@claym Ok, I have rolled back to `Hybrid` transport approach which should be comatible with `graph.cool` for sure, please reopen this issue if you will see any problems with Graph.cool

[2017-07-09 07:25] zirho opened #278 "Google Analytics issue"
Hi all,

Based on my research and Google Tag Assistant, react-ga does not get fired when a user gets a server-rendered page. (the first load)

I tried to see if this works correctly using this tool.
https://get.google.com/tagassistant/

While react app being rendered in node (server side), does it fire the tracking directly to GA?
Is that why I cannot see the tracking request being fired on Chrome

[2017-07-10 00:41] claym commented on #276
So, what I'm seeing now is that the system keeps trying to make websocket connections even if previous ones fail and the fetch request was successful

![image](https://user-images.githubusercontent.com/230486/27999111-e920a418-64e6-11e7-8e24-fb68165c4d15.png)

I'm not sure if I've enabled some subscription service accidentally on a new module, or this is expected behavior.

[2017-07-10 06:31] vlasenko commented on #276
@claym This is expected:
https://github.com/sysgears/apollo-universal-starter-kit/blob/2c2e0360cf495573aabb5c109a6e34f605663d90/src/client/app/main.jsx#L32

[2017-07-11 02:51] claym commented on #276
Will it melt anything if I turn reconnect off?

[2017-07-11 05:52] vlasenko commented on #278
I don't see clear issue description here. Are you sure this an issue of this starter kit. If yes, what is wrong with the starter kit and what are exact steps to reproduce it?

Closing until description of the problem in the starter kit will be provided together with reproduction steps.

[2017-07-11 05:56] vlasenko commented on #276
@claym Please clarify what exact question do you have about starter kit. Questions like "Will it melt anything if I turn reconnect off?" are too vague and considered offtopic here.

[2017-07-11 07:14] zirho commented on #278
Hi Victor,

Here's how to verify it's not working.
This is my personal blog which GA is properly setup.
You can see the it is properly loading analytics.js and fire the initial call for the page.

![image](https://user-images.githubusercontent.com/1251296/28055278-1c754ddc-65cd-11e7-949e-8a21de5fb32a.png)

Here's what we got from plain starter kit.
It loads up `analytics.js` but not firing the ini

[2017-07-11 07:18] zirho opened #284 "Graphiql is broken"
![image](https://user-images.githubusercontent.com/1251296/28055591-7f9a9330-65ce-11e7-9b12-e3f80ec28662.png)

[code]

I just pulled down the repo and yarn installed.
probably, `subscriptions-transport-ws` has some issues again?

[2017-07-11 07:38] vlasenko commented on #284
@zirho I cannot reproduce this with latest version of this starter kit.

[2017-07-11 07:55] vlasenko commented on #284
https://github.com/sysgears/apollo-universal-starter-kit/blob/cc4c1fb4d1a00ab702f7c8141d3b302fefeccd10/src/client/app/main.jsx#L60-L63

I guess adding the lines:
[code]
below
[code]
will fix the problem.

Better yet to have a function:
[code]
and call this function both after `ReactGA.initialize` and inside `history` listener

[2017-07-11 07:55] vlasenko commented on #278
https://github.com/sysgears/apollo-universal-starter-kit/blob/cc4c1fb4d1a00ab702f7c8141d3b302fefeccd10/src/client/app/main.jsx#L60-L63

I guess adding the lines:
[code]
below
[code]
will fix the problem.

Better yet to have a function:
[code]
and call this function both after `ReactGA.initialize` and inside `history` listener

[2017-07-11 09:08] #278 closed

[2017-07-11 09:44] mitjade opened #285 "Running over https"
After https://github.com/sysgears/apollo-universal-starter-kit/commit/cc4c1fb4d1a00ab702f7c8141d3b302fefeccd10, I have problems running in production over `https`.

I have node running on localhost and then have proxy setup on `ngnix` to run over `https`.

Any ideas how to solve this?

[2017-07-11 11:23] mitjade commented on #285
I still have the following problems:
[code]

and
[code]

Second one pops up whenever I go to a different page.

[2017-07-11 11:27] vlasenko commented on #285
@mitjade Yes, I'm looking right now

[2017-07-11 12:21] vlasenko commented on #285
@mitjade I have rewritten last commit multiple times. So with the last edition it should work with production:
https://github.com/sysgears/apollo-universal-starter-kit/commit/c7be2f2f9c03115d7ffa4ebfd26213b6c233fdf3

[2017-07-11 13:09] mitjade commented on #285
Second problem is gone now.

Subscriptions are still not working for me, am still investigating.
So the first warning is still there, but now through `wss` as it should be:
`WebSocket connection to 'wss://XXX/graphql' failed: WebSocket is closed before the connection is established.`

[2017-07-11 13:10] vlasenko commented on #285
@mitjade Is this line (specifically port part) correct `wss://XXX/graphql` ?

[2017-07-11 13:13] mitjade commented on #285
No port is shown, that might be the problem.

[2017-07-11 13:19] mitjade commented on #285
`window.location.origin` returns the webpage url aka `https://example.com`. Not sure hot this worked before?

[2017-07-11 13:20] vlasenko commented on #285
I think it was working the same
https://github.com/sysgears/apollo-universal-starter-kit/commit/cc4c1fb4d1a00ab702f7c8141d3b302fefeccd10

[2017-07-11 13:20] mitjade commented on #285
I guess this is missing `.replace(':' + settings.webpackDevPort, ':' + settings.apiPort)`

[2017-07-11 13:21] vlasenko commented on #285
It is only relevant in __DEV__ mode

[2017-07-11 13:22] vlasenko commented on #285
Well I can take `window.location.url` and then substitude server port into it. It should probably fix things for you, but I'm not sure how it was working for you before :)

[2017-07-11 13:26] mitjade commented on #285
Seems to be working now!

Just stopped and started the backend?

[2017-07-11 13:27] vlasenko commented on #285
@mitjade Okay, it should work, because the logic should be the same in prod mode as it were before. Only the logic in `__DEV__` mode is new

[2017-07-11 13:32] #217 closed

[2017-07-11 13:39] vlasenko commented on #217
This should be fixed now via:
https://github.com/sysgears/apollo-universal-starter-kit/commit/2af3d4a28ffd57f836ad5fcc421fc6d15c1ebb3c

It utilizes latest `xdl`, which has commit:
https://github.com/expo/xdl/commit/00125da4f0aa5eb0959dc4c978f957af32747376

`@expo/bunyan` doesn't depend on `dtrace-provider` that causes this problem.

[2017-07-11 15:05] claym commented on #276
I was asking if there were any unexpected consequences if you change the value of reconnect to false in the code you linked to above.

[2017-07-11 16:58] vlasenko commented on #276
@claym Unexpected consequences - no.

[2017-07-11 17:24] zirho commented on #284
Let me try again with yarn cache clean.

[2017-07-11 17:26] vlasenko commented on #285
@mitjade Mitja should we close this or are you still checking?

[2017-07-11 17:30] zirho commented on #278
Awesome! Thank you

[2017-07-11 17:33] zirho commented on #284
![image](https://user-images.githubusercontent.com/1251296/28081458-2880e59e-6624-11e7-8e0a-87ec95a49dce.png)

[code]

![image](https://user-images.githubusercontent.com/1251296/28081509-5934dd58-6624-11e7-9dd6-848c772d9ab3.png)

Am I doing something wrong?
Let me know what I can do more.
Thank you

[2017-07-11 17:43] vlasenko commented on #284
@zirho Yes, looks like your `package.json` is modified, it uses `react-dom@16.0.0-alpha.13`

[2017-07-11 17:49] zirho commented on #284
That's kinda weird since I can't find `16.0.0` anywhere in package.json and yarn.lock at all.
Let me do some research. Thanks!

[2017-07-11 17:54] vlasenko commented on #284
@zirho What `yarn list` tells ?

[2017-07-11 17:55] zirho commented on #284
![image](https://user-images.githubusercontent.com/1251296/28082361-2215f2d2-6627-11e7-92dd-5c470c479e7d.png)

I pulled down fresh repo and did it again and it worked.

And I went and open graphiql again and got error again.
I tried it in chrome incognito because now I knew it works fine for others.

I found that my ad blocker blocks some js files.
Once I disable the blocker it started working fin

[2017-07-11 17:55] #284 closed

[2017-07-11 17:56] vlasenko commented on #284
@zirho Interesting cause of the problem, thanks!

[2017-07-11 17:57] zirho commented on #284
Root cause of this may be it's not on `localhost`. because ad blocker never blocks anything from localhost but it was now `http://192.168.20.161:3000/graphiql`

[2017-07-11 18:00] vlasenko commented on #221
Actually this error has nothing to do with the starter kit, better monitor the issue here:
https://github.com/expo/xde/issues/66

[2017-07-11 18:00] #221 closed

[2017-07-11 18:01] vlasenko commented on #285
Closing for now, reopen if this fix still doesn't work for you

[2017-07-11 18:01] #285 closed

[2017-07-14 16:15] justinr1234 opened #293 "Feature Discussion: CSS Modules?"
Have you ever considered CSS modules for this project? Curious on thoughts.

https://github.com/css-modules/css-modules
https://github.com/gajus/react-css-modules

[2017-07-14 19:09] vlasenko commented on #293
This project is using Styled Components:
https://github.com/styled-components/styled-components
We consider them to be superior then CSS modules

[2017-07-14 19:41] justinr1234 commented on #293
Sure, just curious the reasoning here. Not telling you that you should use modules, just trying to understand the decisions made. Thanks!

[2017-07-15 06:33] vlasenko commented on #293
The reasoning is that there was request to switch to Styled Components from Glamor and authors agree that this will be beneficial enhancement:
https://github.com/sysgears/apollo-universal-starter-kit/issues/93

What is the reasoning to switch over to CSS modules from Styled Components? I have heard and read about CSS modules before, but didn't delve into studying them too much. I'm not sure why th

[2017-07-15 14:38] vlasenko commented on #103
Nice idea:
https://github.com/kkemple/graphql-auth

[2017-07-16 05:00] ardykukuh opened #296 "API is now running on port undefined"
why the backend port is undefined when i run "yarn watch" ?
=======================================================================
yarn watch v0.27.5
$ node tools/webpack.entry watch
Generating vendor_web DLL bundle with modules:
["apollo-client","apollo-logger","bootstrap","cors","graphql","graphql-tag","history","immutability-helper","lodash","minilog","persistgraphql","prop-types","react","rea

[2017-07-16 05:24] #296 closed

[2017-07-16 05:34] ardykukuh commented on #296
thanks.

[2017-07-16 16:30] mairh commented on #103
But still we have to develop the auth module before we plug in the middleware resolver :)

[2017-07-16 18:38] ammoto opened #297 "Plans to integrate Apollo?"
Posted this is the wrong repo. Apologies!

[2017-07-16 19:49] #297 closed

[2017-07-16 20:38] vlasenko commented on #103
@mairh Yes, sure

[2017-07-17 21:20] rl-0x000 opened #298 "Support for custom scalar packages?"
Thanks for putting this starter kit together - clearly a huge amount of work has gone into it!

One thing that is not clear, is how to add a custom scalar from a package as documented for Apollo here: http://dev.apollodata.com/tools/graphql-tools/scalars.html#Using-a-package

e.g. how would I add the ISO date scalar(s) from https://github.com/excitement-engineer/graphql-iso-date so they are availa

[2017-07-18 05:54] vlasenko commented on #298
@rl-0x000 Closing as offtopic. Please submit issues with this starter kit only, not general questions how to do something via GraphQL, please read carefully Apollo documentation on the link you have provided already, everything explained clearly there.

[2017-07-18 05:54] vlasenko commented on #293
Closing due to topic starter inactivity.

[2017-07-18 05:54] #293 closed

[2017-07-18 07:28] vlasenko commented on #298
@rl-0x000 Please see the discussion in the chat of this starter kit:
https://github.com/sysgears/apollo-universal-starter-kit/issues/298

[2017-07-18 07:31] mitjade commented on #298
We will try to integrate this into the post example soon, or if you manage to get this working on your own, please submit a PR.

[2017-07-18 10:12] sakhmedbayev commented on #103
In a mean time, can someone please demonstrate (show a full example) how authentication and authorization can be implemented with this starter kit? I will greatly appreciate your help!

[2017-07-18 13:47] vlasenko opened #299 "Generalize and move build infrastructure into separate npm package"
This will enable to use build techniques from this kit in non-React and non-GraphQL projects. This will unblock the road of porting the kit to TypeScript and other UI frameworks, such as Angular. It will also reduce frequency of merging back changes from this repo for kit users.

[2017-07-20 20:45] rl-0x000 commented on #298
The key issue here **is** specific to this starter kit - **where** to integrate the custom scalar package. Correct me if I'm wrong, but the answer is src/server/api/schema.js. Something along the lines of:

[code]

Use in your schema.graphqls for e.g.:

[code]

When time permits I'll integrate into the post example.

[2017-07-21 05:43] sakhmedbayev commented on #103
@mitjade, in your example (below), what have you done to properly feed a result of this function call `modules.createContext()` into context?

[code]

[2017-07-21 06:08] vlasenko commented on #298
@rl-0x000 Is it an issue of this starter kit, e.g. anything wrong with it? I think nothing wrong with the starter kit, so this is not an issue.

About the question where to integrate the custom package, e.g. what is the best way to do it? This is more a question of your intent and philosophy and then issue of the starter kit.

Provided your intent is: "so they are available for use in any schema.g

[2017-07-21 06:14] mitjade commented on #103
@sakhmedbayev This was done before `modules.createContext()` was introduced to this starter kit.

I still do not have a proper solution for this. Currently I bypass `context` all together and export `user` from `graphql.js` and then import them into resolvers that I need. My main problem was that with new subscriptions you need to pass `context` again `onConnect` in `subscriptions.js`. When I will

[2017-07-21 07:34] sakhmedbayev commented on #103
Here is what I have done

in graphql middleware

[code]
and then in each of a module's `resolvers.js` file, I changed `context.ModuleName.SQLFunction()` to `context.modules.ModuleNmae.SQLFunction()`. Something like this
[code]

[2017-07-21 18:08] sakhmedbayev opened #300 "Add sequelize support"
Would be nice if this starter kit or a branch of it supported sequelize or other SQL ORM.

Has someone accomplished it already?

[2017-07-22 06:14] vlasenko commented on #300
For this enhancement to be possible we need someone to maintain this branch.

[2017-07-22 10:14] sakhmedbayev commented on #300
@vlasenko, I would love to do it, but I am not sure if I qualify for the task at the moment. I am still learning javascript world :-)

I have managed to make some progress in that regard, however. I just followed a setup of sequelize withing Express application showing [here](https://github.com/sequelize/express-example). The most tricky part was models initialization. Here is how I accomplished i

[2017-07-26 22:27] MichelDiz opened #306 "Could you support Join Monster instead of "dataloader"?"
This
http://join-monster.readthedocs.io/en/latest/

best regards

[2017-07-27 09:47] vlasenko commented on #306
@MichelDiz Yes, Pull Request is welcomed

[2017-07-27 09:48] vlasenko commented on #300
@sakhmedbayev Pull Request is welcomed

[2017-07-27 15:56] MichelDiz commented on #306
I'm having trouble understanding the flow of modules (Working on it.). I have to tag the scheme's implementation. I could do this regardless of the template created for the modules. But to do something native to your project you would have to understand the concept (flow) of modulation that you use to fit the Join monster natively. And so you can generate a join monster for each module individuall

[2017-07-28 01:11] vlasenko commented on #306
@MichelDiz Perhaps discussing modules in our chat will help you?
https://gitter.im/sysgears/apollo-fullstack-starter-kit

[2017-07-28 01:24] vlasenko commented on #306
@MichelDiz Modules in this kit are application features. Each `modules` folder has a collection of similair features. We mostly use modules to implement routes of the application, both server implementation for the route and client side implementation for the route. Each feature registers itself to the application by creating an instance of connector interface class: `modules/connector.js`. Connec

[2017-07-28 01:26] vlasenko commented on #306
@MichelDiz I'm going to create blog post soon about this module-features pattern, to explain it more thoroughly.

[2017-07-28 07:11] mitjade commented on #258
I use something like this:
[code]
It will make an additional request to the server every time you go back to the page, but you will not see any changes if result is the same.

[2017-07-28 20:52] sjl2024 opened #309 "Does this starter support media queries if building for both native AND web?"
Or is that one of the limitations of combining react-native and react libs in a write once/deploy everywhere fashion? How do media queries function in react-native alone? Is it possible to write media queries once and deploy them to both platforms and they'll work as expected?

[2017-07-29 01:01] MichelDiz commented on #306
Let me abuse your attention one more time.

I have to get access to ("raw") "Schema" so the adapter use it to Apollo and create a loop with this function below:

[code]

It turns out that the module flow does not return only the "schema" I need. It creates an array with a context and so on. Forgive me if I am being very unintelligible. I'm kind of new to the JS world. I have always used JS for bas

[2017-07-29 05:54] vlasenko commented on #306
@MichelDiz Okay, feature-modules is an abstract concept. Schema of a feature within current implementation is an array of AST (abstract syntax tree) schemas. What you are doing in your function is iteration over single AST schema. Feature-modules don't enforce the format of GraphQL schemas, this AST schema format comes from `graphql-tag` loader. I just know this and can answer your question, this

[2017-07-29 06:10] vlasenko commented on #309
@sjl2024 React Native doesn't support media queries natively, but workarounds exist:
https://github.com/vitalets/react-native-extended-stylesheet#media-queries
https://github.com/adbayb/react-native-responsive

We are using `react-native-web` for supporting `react-native` components on the web, here is the info about media queries support in `react-native-web`:
https://github.com/necolas/react-nat

[2017-07-29 16:14] ChingxWando opened #310 "Help wanted: cryptic createContext()"
Hi folks,
First of all, thanks for providing a solution that help creating some kind of baseline or standard.
Just like the title described it's not a issue/ bug I'm just needing some kind of pointers.

The title doesn't actually describe my problem
It did took me some time to work out conventions between Feature/ connector class and various other helper functions like createContext(), but I did t

[2017-07-29 20:57] vlasenko commented on #310
@ChingxWando So, what is the question? :)

[2017-07-30 06:12] ChingxWando commented on #310
What is the intention or benefits to implement database operations in context and not in usual resolvers? Is it to simply expose these functions to all request in a nice way or is there other less obvious requirement for it? @vlasenko

And do I need to do that too? Or I could as well have actual database operations in resolver.js files and only export to context (by writing in the sql.js file) whe

[2017-07-30 07:44] vlasenko commented on #310
@ChingxWando You can have actual database operations in GraphQL resolvers. It is up to you.

The benefit to implement database operations separately is to decouple them from the rest of resolvers logic to let share the same SQL operation implementation across different resolvers (for example `Post.getPost` is used in several resolvers), and as we implemented them as ES6 classes, we need to instant

[2017-07-30 08:08] ChingxWando commented on #310
Wow that's wonderful, glad I asked! *sending flying kisses @vlasenko

[2017-07-30 15:19] veeramarni commented on #103
What you guys think about this [example](https://github.com/nmaro/ooth/blob/master/examples/graphql-api-with-auth/index.js) using [ooth](https://github.com/nmaro/ooth)

[2017-07-31 15:59] #310 closed

[2017-07-31 15:59] #309 closed

[2017-08-01 07:28] mitjade commented on #298
Added a PR https://github.com/sysgears/apollo-universal-starter-kit/pull/312.

@vlasenko is this what you had in mind on how to accomplish this?

Will add and example of use in post module later this week.

[2017-08-01 08:06] vlasenko commented on #298
@mitjade Yes, thank you Mitja!

[2017-08-01 08:06] #298 closed

[2017-08-01 08:56] vlasenko commented on #299
The sources of npm module for this feature implementation is here:
https://github.com/sysgears/spin.js

It is currently a work in progress

[2017-08-04 18:28] MichelDiz commented on #306
I solved the issue (but I have not made Pull Request yet - in time I do) but it follows what I did to make the Kit compatible with Join Monster.

And everything is working perfectly. The advantages of Join Monster is being able to generate an SQl in the exact way you need or what the Client version needs. Making in a single request of any complex query that comes.

There is no secret in reality, t

[2017-08-10 16:37] justinr1234 commented on #176
How do you feel about Nativebase @vlasenko ?

[2017-08-10 16:44] mitjade commented on #176
@justinr1234 Currently I am in the process of making post example work in React Native. When this is done, I intend to evaluate UI components that might be useful for this kit. Nativebase looks promising.

If others agree we can add it to the Roadmap.

[2017-08-10 16:46] justinr1234 commented on #176
@mitjade I actually already integrated it if you'd like me to PR. I'd need to do some work to get the examples updated (as you're doing). The hard part was making sure to integrate the proper versions and settings of everything for Expo. Had an issue with loading the proper font files for icons and whatnot.

[2017-08-10 16:59] mitjade commented on #176
Having a PR for this would for sure be useful if anyone else is interested in this.

If we then merge it, @vlasenko and @mairh need to add their opinions here if this is the direction we want to go.
The problem is that there are many UI components out there and there will always be different preferences what to use. Currently we try to pick the most popular one. I personally use [AntD](https://ant

[2017-08-11 04:57] vlasenko commented on #176
@justinr1234 I agree with everything Mitja told above. Pull Request for supporting NativeBase would be nice to have. I propose to keep solutions to override framework choices in Pull Requests and let people use them as a guide

[2017-08-11 08:02] mairh commented on #176
[Nativebase](https://nativebase.io/) is nice to have. Since our philosophy is to get the full working app ready quickly from ground-up with lots of features rather a mere skeleton boilerplate. I guess, Nativebase will help us in that direction.

[2017-08-11 08:23] mairh commented on #176
Another option is to integrate [Shoutem UI](https://shoutem.github.io/ui/). Although, both `nativebase` and `shoutem` are more or less the same. I personally believe the default UI (no customization + theme) is better in the case of `shoutem` and looks pretty nice.

[2017-08-18 13:49] vlasenko commented on #299
The progress of this feature will be available in this PR:
https://github.com/sysgears/apollo-universal-starter-kit/pull/314

[2017-08-18 13:49] #299 closed

[2017-08-21 00:17] seanscal commented on #176
Feature Request: login/registration

[2017-08-21 05:01] vlasenko commented on #176
@seanscal This feature is already in the list:
"Authentication and authorization example"

[2017-08-21 23:05] seanscal commented on #176
ah jeez didnt see that, awesome!

[2017-08-30 11:25] mitjade commented on #103
@vlasenko I was able to integrate part of the https://github.com/kkemple/graphql-auth into one of my projects. I do not need to login since I use client side certificate, so this part is still to be made.

If this is something that would be meaningful for this starter kit I am willing to give it a try and also add create, and login user for web with LocalStorage and native with AsyncStorage. It wo

[2017-08-30 11:27] vlasenko commented on #103
@mitjade I think it would be a great start for the authentication and authorization support in the starter kit, that we will be able to use for full auth support in the future.

[2017-08-30 11:35] sakhmedbayev commented on #103
@mitjade, I was able to make authentication and authorization work with this kit using jwt token. At the moment do not have time to share it with community. Please look at the tutorials on this channel. There are all you need to make it work https://www.youtube.com/user/99baddawg

[2017-08-31 13:10] mitjade commented on #103
I created a PR(https://github.com/sysgears/apollo-universal-starter-kit/pull/325).

I tried to follow the videos @sakhmedbayev recommend and managed to get some of it working.

Currently I am not able to add `afterware`, so I could set `token` on page reload. My `queries` get no data back if I navigate to a page where I run them. An also not sure how to correctly set this up with SSR.

@sakhmedbay

[2017-08-31 13:19] sakhmedbayev commented on #103
Here is some differences I found so far

Your code:
[code]
Mine code:
[code]

[2017-08-31 13:22] sakhmedbayev commented on #103
Here is how I set afterware
[code]

[2017-08-31 13:26] mitjade commented on #103
@sakhmedbayev Found the problem. It was the way I used `res` in afterware.

Thank you for your quick reply.